<div id="pgc-1041-0-0" style="width:50%;"  class="panel-grid-cell" ><div id="panel-1041-0-0-0" class="so-panel widget widget_sow-editor panel-first-child panel-last-child" data-index="0" ><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<div class="slider-2431 mwdc_slider owl-carousel mwdc_full_height mwdc_fixed_slider" data-navigation_arrows="" data-auto_play="1" data-autoplay_timeout="5000"  data-items="1"><div><img width="827" height="1207" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20827%201207'%3E%3C/svg%3E" class="attachment-full size-full" alt="" data-lazy-srcset="/wp-content/uploads/2018/06/Hebergement_portrait1.jpg 827w, /wp-content/uploads/2018/06/Hebergement_portrait1-206x300.jpg 206w, /wp-content/uploads/2018/06/Hebergement_portrait1-768x1121.jpg 768w, /wp-content/uploads/2018/06/Hebergement_portrait1-702x1024.jpg 702w" data-lazy-sizes="(max-width: 827px) 100vw, 827px" data-lazy-src="/wp-content/uploads/2018/06/Hebergement_portrait1.jpg" /><noscript><img width="827" height="1207" src="/wp-content/uploads/2018/06/Hebergement_portrait1.jpg" class="attachment-full size-full" alt="" srcset="/wp-content/uploads/2018/06/Hebergement_portrait1.jpg 827w, /wp-content/uploads/2018/06/Hebergement_portrait1-206x300.jpg 206w, /wp-content/uploads/2018/06/Hebergement_portrait1-768x1121.jpg 768w, /wp-content/uploads/2018/06/Hebergement_portrait1-702x1024.jpg 702w" sizes="(max-width: 827px) 100vw, 827px" /></noscript></div><div><img width="827" height="1207" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20827%201207'%3E%3C/svg%3E" class="attachment-full size-full" alt="" data-lazy-srcset="/wp-content/uploads/2018/06/Hebergement_portrait2.jpg 827w, /wp-content/uploads/2018/06/Hebergement_portrait2-206x300.jpg 206w, /wp-content/uploads/2018/06/Hebergement_portrait2-768x1121.jpg 768w, /wp-content/uploads/2018/06/Hebergement_portrait2-702x1024.jpg 702w" data-lazy-sizes="(max-width: 827px) 100vw, 827px" data-lazy-src="/wp-content/uploads/2018/06/Hebergement_portrait2.jpg" /><noscript><img width="827" height="1207" src="/wp-content/uploads/2018/06/Hebergement_portrait2.jpg" class="attachment-full size-full" alt="" srcset="/wp-content/uploads/2018/06/Hebergement_portrait2.jpg 827w, /wp-content/uploads/2018/06/Hebergement_portrait2-206x300.jpg 206w, /wp-content/uploads/2018/06/Hebergement_portrait2-768x1121.jpg 768w, /wp-content/uploads/2018/06/Hebergement_portrait2-702x1024.jpg 702w" sizes="(max-width: 827px) 100vw, 827px" /></noscript></div></div>
</div>
</div></div></div>

<div id="pgc-1041-0-1"  class="panel-grid-cell" ><div id="panel-1041-0-1-0" class="so-panel widget widget_sow-headline panel-first-child" data-index="1" ><div class="panel-widget-style panel-widget-style-for-1041-0-1-0" ><div class="so-widget-sow-headline so-widget-sow-headline-default-c062ef5084d2-1041"><div class="sow-headline-container ">
	<p class='sow-sub-headline'>HEBERGEMENTS</p><h2 class='sow-headline'>Où Dormir</h2></div></div></div></div><div id="panel-1041-0-1-1" class="so-panel widget widget_sow-editor" data-index="2" ><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	</div>
</div></div><div id="panel-1041-0-1-2" class="so-panel widget widget_siteorigin-panels-postloop panel-last-child" data-index="3" >        
    <div id="destinaion_loop_wrap" class="grid">
        
        
<article id="post-6487" class="grid-item post-6487 ou_dormir type-ou_dormir status-publish has-post-thumbnail hentry localisation_ou_dormir-peripherie type_detablissement_ou_dormir-hotel tarifs_ou_dormir-entre-51-et-100-e-la-nuit tarifs_ou_dormir-plus-de-100-e-la-nuit services_ou_dormir-blanchisserie services_ou_dormir-parking services_ou_dormir-petit-dejeuner services_ou_dormir-sanitaires-douche services_ou_dormir-television services_ou_dormir-wifi mode_de_reglement_ou_dormir-carte-bancaire mode_de_reglement_ou_dormir-cheque mode_de_reglement_ou_dormir-especes sticky post">
    <div class="entry-thumbnail">
        <img width="213" height="154" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20213%20154'%3E%3C/svg%3E" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" data-lazy-src="/wp-content/uploads/2021/02/362C4C860464431187DEE29D38A3AF333695906-3-copie.jpg" /><noscript><img width="213" height="154" src="/wp-content/uploads/2021/02/362C4C860464431187DEE29D38A3AF333695906-3-copie.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" /></noscript>			
    </div>
    <div class="content_container">
        <header class="entry-header">
                        <h2 class="destination_entry-title">Alt&#8217;Hotel</h2>        </header><!-- .entry-header -->	
        
        <!--restaurants_et_bars acf fields-->
                <!--restaurants_et_bars acf fields-->
        
        <!--ou dormir acf fields-->
                
        <div class="distenation_content">

                                    <div class="destinaton_ouvert"><strong><p><span lang="FR">L’hôtel est ouvert depuis le 10 août 2020.  Dans le but d’encourager les artisans locaux de Guyane, tous les meubles et décorations présents dans l’établissement sont fabriqués en Guyane. Le bâtiment lui-même est inspiré de l’architecture du  marché central de Saint Laurent du Maroni . Plus d&#8217;informations sur <a href="https://althotel.fr/les-chambres/" target="_blank" rel="noopener">https://althotel.fr/les-chambres/</a></span></p>
</strong></div>
                                    <p class="destinaton_telephone">Langues Parlées: <strong>Français, Anglais, Bushi nengue, Kalin’a</strong></p>
                                    <p class="destinaton_langues_parlees">Tél: <strong>0694 23 45 40 </strong></p>
                                        <p class="destinaton_adresse">Mail: <strong>contact@althotel.fr</strong></p>
                                        <p class="destinaton_adresse">Adresse: <strong>8 impasse de l’industrie ZAE Desmarinières </strong></p>
            
        </div>
        
        <div class="social_items_wrapper">
        
            <a href="#" class="destination_read_more" target="_blank">
                Localiser sur sur Tripadvisor            </a>
                
            <div class="social_items">
            
                                
            </div>
            
        </div>

                <!--end ou dormir acf fields-->
        
        <div class="entry-content">
            <p class="Standard"><span lang="FR"> </span></p>
<div class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="/ou_dormir/althotel/" data-a2a-title="Alt’Hotel"><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Falthotel%2F&amp;linkname=Alt%E2%80%99Hotel" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Falthotel%2F&amp;linkname=Alt%E2%80%99Hotel" title="Twitter" rel="nofollow noopener" target="_blank"></a></div>        </div><!-- .entry-content -->
    </div>
    </article><!-- #post-## -->

<article id="post-2565" class="grid-item post-2565 ou_dormir type-ou_dormir status-publish has-post-thumbnail hentry localisation_ou_dormir-centre-ville type_detablissement_ou_dormir-hotel tarifs_ou_dormir-entre-51-et-100-e-la-nuit tarifs_ou_dormir-plus-de-100-e-la-nuit services_ou_dormir-acces-handicape services_ou_dormir-parking services_ou_dormir-petit-dejeuner services_ou_dormir-piscine services_ou_dormir-restaurant-table-dhotes services_ou_dormir-salle-de-reunion services_ou_dormir-television services_ou_dormir-wifi post">
    <div class="entry-thumbnail">
        <img width="400" height="257" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20400%20257'%3E%3C/svg%3E" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" data-lazy-srcset="/wp-content/uploads/2018/06/la-tentiaire.jpg 400w, /wp-content/uploads/2018/06/la-tentiaire-300x193.jpg 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" data-lazy-src="/wp-content/uploads/2018/06/la-tentiaire.jpg" /><noscript><img width="400" height="257" src="/wp-content/uploads/2018/06/la-tentiaire.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="/wp-content/uploads/2018/06/la-tentiaire.jpg 400w, /wp-content/uploads/2018/06/la-tentiaire-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></noscript>			
    </div>
    <div class="content_container">
        <header class="entry-header">
                        <h2 class="destination_entry-title">Hôtel La Tentiaire</h2>        </header><!-- .entry-header -->	
        
        <!--restaurants_et_bars acf fields-->
                <!--restaurants_et_bars acf fields-->
        
        <!--ou dormir acf fields-->
                
        <div class="distenation_content">

                                    <div class="destinaton_ouvert"><strong><p>Chambres simples, doubles, twins, quadruples. / Prix : 70 à 95 €</p>
<p>Check in : 12h / Check out : 15h &#8211; Petit-déjeuner : 8 €</p>
</strong></div>
                                    <p class="destinaton_telephone">Langues Parlées: <strong>FR- ANGL - PT</strong></p>
                                    <p class="destinaton_langues_parlees">Tél: <strong>(+594) 594 34 26 00</strong></p>
                                        <p class="destinaton_adresse">Mail: <strong>tentiaire@wanadoo.fr</strong></p>
                                        <p class="destinaton_adresse">Adresse: <strong>12 av. Franklin Roosevelt - 97320 Saint Laurent du Maroni</strong></p>
            
        </div>
        
        <div class="social_items_wrapper">
        
            <a href="https://www.tripadvisor.fr/Hotel_Review-g1194441-d3290318-Reviews-Hotel_La_Tentiaire-Saint_Laurent_du_Maroni_Arrondissement_of_St_Laurent_du_Maroni.html" class="destination_read_more" target="_blank">
                Localiser sur sur Tripadvisor            </a>
                
            <div class="social_items">
            
                                
            </div>
            
        </div>

                <!--end ou dormir acf fields-->
        
        <div class="entry-content">
            <div class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="/ou_dormir/hotel-la-tentiaire/" data-a2a-title="Hôtel La Tentiaire"><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fhotel-la-tentiaire%2F&amp;linkname=H%C3%B4tel%20La%20Tentiaire" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fhotel-la-tentiaire%2F&amp;linkname=H%C3%B4tel%20La%20Tentiaire" title="Twitter" rel="nofollow noopener" target="_blank"></a></div>        </div><!-- .entry-content -->
    </div>
    </article><!-- #post-## -->

<article id="post-2564" class="grid-item post-2564 ou_dormir type-ou_dormir status-publish has-post-thumbnail hentry localisation_ou_dormir-centre-ville type_detablissement_ou_dormir-hotel tarifs_ou_dormir-entre-51-et-100-e-la-nuit services_ou_dormir-cuisine-equipee services_ou_dormir-frigo services_ou_dormir-parking services_ou_dormir-petit-dejeuner services_ou_dormir-sanitaires-douche services_ou_dormir-television services_ou_dormir-wifi mode_de_reglement_ou_dormir-carte-bancaire mode_de_reglement_ou_dormir-especes post">
    <div class="entry-thumbnail">
        <img width="400" height="257" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20400%20257'%3E%3C/svg%3E" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" data-lazy-srcset="/wp-content/uploads/2018/06/hello-saint-laurent-du-maroni.jpg 400w, /wp-content/uploads/2018/06/hello-saint-laurent-du-maroni-300x193.jpg 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" data-lazy-src="/wp-content/uploads/2018/06/hello-saint-laurent-du-maroni.jpg" /><noscript><img width="400" height="257" src="/wp-content/uploads/2018/06/hello-saint-laurent-du-maroni.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="/wp-content/uploads/2018/06/hello-saint-laurent-du-maroni.jpg 400w, /wp-content/uploads/2018/06/hello-saint-laurent-du-maroni-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></noscript>			
    </div>
    <div class="content_container">
        <header class="entry-header">
                        <h2 class="destination_entry-title">Hôtel Au Garage</h2>        </header><!-- .entry-header -->	
        
        <!--restaurants_et_bars acf fields-->
                <!--restaurants_et_bars acf fields-->
        
        <!--ou dormir acf fields-->
                
        <div class="distenation_content">

                                    <div class="destinaton_ouvert"><strong><p>13 Chambres (11 singles / 2 doubles) / Prix : 75 à 85 €</p>
<p>Check in : 13h – 14h / Check out : 11h30 &#8211; 12h</p>
<p>Petit – déjeuner : 8 €</p>
</strong></div>
                                    <p class="destinaton_telephone">Langues Parlées: <strong>FR – ANGL – NDRL – REGIONALE </strong></p>
                                    <p class="destinaton_langues_parlees">Tél: <strong>(+594) 694 24 86 08 </strong></p>
                                        <p class="destinaton_adresse">Mail: <strong>magnat973@hotmail.fr</strong></p>
                                        <p class="destinaton_adresse">Adresse: <strong>25 rue du BAC - 97320 Saint Laurent du Maroni</strong></p>
            
        </div>
        
        <div class="social_items_wrapper">
        
            <a href="#" class="destination_read_more" target="_blank">
                Localiser sur sur Tripadvisor            </a>
                
            <div class="social_items">
            
                                
            </div>
            
        </div>

                <!--end ou dormir acf fields-->
        
        <div class="entry-content">
            <div class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="/ou_dormir/hotel-au-garage/" data-a2a-title="Hôtel Au Garage"><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fhotel-au-garage%2F&amp;linkname=H%C3%B4tel%20Au%20Garage" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fhotel-au-garage%2F&amp;linkname=H%C3%B4tel%20Au%20Garage" title="Twitter" rel="nofollow noopener" target="_blank"></a></div>        </div><!-- .entry-content -->
    </div>
    </article><!-- #post-## -->

<article id="post-2560" class="grid-item post-2560 ou_dormir type-ou_dormir status-publish has-post-thumbnail hentry localisation_ou_dormir-centre-ville type_detablissement_ou_dormir-hotel tarifs_ou_dormir-entre-26-et-50-e-la-nuit services_ou_dormir-blanchisserie services_ou_dormir-cuisine-equipee services_ou_dormir-frigo services_ou_dormir-parking services_ou_dormir-sanitaires-douche services_ou_dormir-television mode_de_reglement_ou_dormir-especes sticky post">
    <div class="entry-thumbnail">
        <img width="400" height="257" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20400%20257'%3E%3C/svg%3E" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" data-lazy-srcset="/wp-content/uploads/2018/06/Chez-Julienne.jpg 400w, /wp-content/uploads/2018/06/Chez-Julienne-300x193.jpg 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" data-lazy-src="/wp-content/uploads/2018/06/Chez-Julienne.jpg" /><noscript><img width="400" height="257" src="/wp-content/uploads/2018/06/Chez-Julienne.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="/wp-content/uploads/2018/06/Chez-Julienne.jpg 400w, /wp-content/uploads/2018/06/Chez-Julienne-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></noscript>			
    </div>
    <div class="content_container">
        <header class="entry-header">
                        <h2 class="destination_entry-title">Hôtel « Chez Julienne »</h2>        </header><!-- .entry-header -->	
        
        <!--restaurants_et_bars acf fields-->
                <!--restaurants_et_bars acf fields-->
        
        <!--ou dormir acf fields-->
                
        <div class="distenation_content">

                                    <div class="destinaton_ouvert"><strong><p>6 chambres équipées.</p>
<p>Prix : 45 € la nuit</p>
</strong></div>
                                                <p class="destinaton_langues_parlees">Tél: <strong>(+594) 594 34 11 53</strong></p>
                                                    <p class="destinaton_adresse">Adresse: <strong>886 avenue Gaston Monnerville - 97320 Saint Laurent du Maroni</strong></p>
            
        </div>
        
        <div class="social_items_wrapper">
        
            <a href="https://www.tripadvisor.fr/Hotel_Review-g1194441-d10637420-Reviews-Chez_Julienne-Saint_Laurent_du_Maroni_Arrondissement_of_St_Laurent_du_Maroni.html" class="destination_read_more" target="_blank">
                Localiser sur sur Tripadvisor            </a>
                
            <div class="social_items">
            
                                
            </div>
            
        </div>

                <!--end ou dormir acf fields-->
        
        <div class="entry-content">
            <div class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="/ou_dormir/hotel-chez-julienne/" data-a2a-title="Hôtel « Chez Julienne »"><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fhotel-chez-julienne%2F&amp;linkname=H%C3%B4tel%20%C2%AB%20Chez%20Julienne%20%C2%BB" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fhotel-chez-julienne%2F&amp;linkname=H%C3%B4tel%20%C2%AB%20Chez%20Julienne%20%C2%BB" title="Twitter" rel="nofollow noopener" target="_blank"></a></div>        </div><!-- .entry-content -->
    </div>
    </article><!-- #post-## -->

<article id="post-2556" class="grid-item post-2556 ou_dormir type-ou_dormir status-publish has-post-thumbnail hentry localisation_ou_dormir-centre-ville type_detablissement_ou_dormir-hotel tarifs_ou_dormir-plus-de-100-e-la-nuit services_ou_dormir-parking services_ou_dormir-petit-dejeuner services_ou_dormir-piscine services_ou_dormir-salle-de-reunion services_ou_dormir-sanitaires-douche services_ou_dormir-television services_ou_dormir-tennis services_ou_dormir-wifi mode_de_reglement_ou_dormir-carte-bancaire mode_de_reglement_ou_dormir-especes post">
    <div class="entry-thumbnail">
        <img width="400" height="257" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20400%20257'%3E%3C/svg%3E" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" data-lazy-srcset="/wp-content/uploads/2018/06/Les-relais-des-3-Lacs.jpg 400w, /wp-content/uploads/2018/06/Les-relais-des-3-Lacs-300x193.jpg 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" data-lazy-src="/wp-content/uploads/2018/06/Les-relais-des-3-Lacs.jpg" /><noscript><img width="400" height="257" src="/wp-content/uploads/2018/06/Les-relais-des-3-Lacs.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="/wp-content/uploads/2018/06/Les-relais-des-3-Lacs.jpg 400w, /wp-content/uploads/2018/06/Les-relais-des-3-Lacs-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></noscript>			
    </div>
    <div class="content_container">
        <header class="entry-header">
                        <h2 class="destination_entry-title">Hôtel Domaine du Lac Bleu</h2>        </header><!-- .entry-header -->	
        
        <!--restaurants_et_bars acf fields-->
                <!--restaurants_et_bars acf fields-->
        
        <!--ou dormir acf fields-->
                
        <div class="distenation_content">

                                    <div class="destinaton_ouvert"><strong><p>Chambres, bungalows, suites (avec et sans jacuzzi) / Prix : 100 à 120 € sans petit déjeuner</p>
</strong></div>
                                    <p class="destinaton_telephone">Langues Parlées: <strong>FR – ANGL – PT</strong></p>
                                    <p class="destinaton_langues_parlees">Tél: <strong>(+594) 594 34 05 05 </strong></p>
                                        <p class="destinaton_adresse">Mail: <strong>reservation@domainedulacbleu.com</strong></p>
                                        <p class="destinaton_adresse">Adresse: <strong>19-21, Domaine du Lac Bleu - 97320 Saint Laurent du Maroni</strong></p>
            
        </div>
        
        <div class="social_items_wrapper">
        
            <a href="https://www.tripadvisor.fr/Hotel_Review-g1194441-d2311297-Reviews-Relais_des_3_Lacs-Saint_Laurent_du_Maroni_Arrondissement_of_St_Laurent_du_Maroni.html" class="destination_read_more" target="_blank">
                Localiser sur sur Tripadvisor            </a>
                
            <div class="social_items">
            
                                
            </div>
            
        </div>

                <!--end ou dormir acf fields-->
        
        <div class="entry-content">
            <div class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="/ou_dormir/les-relais-des-3-lacs/" data-a2a-title="Hôtel Domaine du Lac Bleu"><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fles-relais-des-3-lacs%2F&amp;linkname=H%C3%B4tel%20Domaine%20du%20Lac%20Bleu" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fles-relais-des-3-lacs%2F&amp;linkname=H%C3%B4tel%20Domaine%20du%20Lac%20Bleu" title="Twitter" rel="nofollow noopener" target="_blank"></a></div>        </div><!-- .entry-content -->
    </div>
    </article><!-- #post-## -->

<article id="post-2552" class="grid-item post-2552 ou_dormir type-ou_dormir status-publish has-post-thumbnail hentry localisation_ou_dormir-proximite-centre-ville type_detablissement_ou_dormir-carbet-gite tarifs_ou_dormir-entre-26-et-50-e-la-nuit services_ou_dormir-parking services_ou_dormir-restaurant-table-dhotes services_ou_dormir-sanitaires-douche mode_de_reglement_ou_dormir-especes post">
    <div class="entry-thumbnail">
        <img width="400" height="265" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20400%20265'%3E%3C/svg%3E" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" data-lazy-srcset="/wp-content/uploads/2018/06/carbet-toubo-c.jpg 400w, /wp-content/uploads/2018/06/carbet-toubo-c-300x199.jpg 300w, /wp-content/uploads/2018/06/carbet-toubo-c-247x163.jpg 247w, /wp-content/uploads/2018/06/carbet-toubo-c-354x234.jpg 354w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" data-lazy-src="/wp-content/uploads/2018/06/carbet-toubo-c.jpg" /><noscript><img width="400" height="265" src="/wp-content/uploads/2018/06/carbet-toubo-c.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="/wp-content/uploads/2018/06/carbet-toubo-c.jpg 400w, /wp-content/uploads/2018/06/carbet-toubo-c-300x199.jpg 300w, /wp-content/uploads/2018/06/carbet-toubo-c-247x163.jpg 247w, /wp-content/uploads/2018/06/carbet-toubo-c-354x234.jpg 354w" sizes="(max-width: 400px) 100vw, 400px" /></noscript>			
    </div>
    <div class="content_container">
        <header class="entry-header">
                        <h2 class="destination_entry-title">Carbet Toubo</h2>        </header><!-- .entry-header -->	
        
        <!--restaurants_et_bars acf fields-->
                <!--restaurants_et_bars acf fields-->
        
        <!--ou dormir acf fields-->
                
        <div class="distenation_content">

                                    <div class="destinaton_ouvert"><strong><p>Hébergement en lit : 30€ nuit/pour 1 personne seule</p>
<p>25€/adulte/nuit à partir de 2 personnes</p>
<p>15€/enfant /nuit jusqu&#8217;à 12 ans</p>
<p>Hébergement en hamac : 15€/nuit/personne</p>
<p>Location hamac : 5€</p>
<p>2 Gîtes forestiers de 10 et 11 personnes</p>
<p>Location du premier gîte complet 150€ pour 1 nuit/ Location du seconde gîte complet 200€ pour 1 nuit</p>
<p>Repas (apéritif, plat et dessert) sur commande 18€.</p>
<p>&nbsp;</p>
</strong></div>
                                                <p class="destinaton_langues_parlees">Tél: <strong>(+594) 694 25 58 04</strong></p>
                                        <p class="destinaton_adresse">Mail: <strong>carbettoubo@gmail.com </strong></p>
                                        <p class="destinaton_adresse">Adresse: <strong>9579 Av. Gaston Monnerville, PK 248 - 97320 Saint Laurent du Maroni</strong></p>
            
        </div>
        
        <div class="social_items_wrapper">
        
            <a href="http://www.carbettoubo.e-monsite.com/" class="destination_read_more" target="_blank">
                Localiser sur sur Tripadvisor            </a>
                
            <div class="social_items">
            
                                
            </div>
            
        </div>

                <!--end ou dormir acf fields-->
        
        <div class="entry-content">
            <div class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="/ou_dormir/carbet-toubo/" data-a2a-title="Carbet Toubo"><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fcarbet-toubo%2F&amp;linkname=Carbet%20Toubo" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fcarbet-toubo%2F&amp;linkname=Carbet%20Toubo" title="Twitter" rel="nofollow noopener" target="_blank"></a></div>        </div><!-- .entry-content -->
    </div>
    </article><!-- #post-## -->

<article id="post-2548" class="grid-item post-2548 ou_dormir type-ou_dormir status-publish has-post-thumbnail hentry localisation_ou_dormir-centre-ville type_detablissement_ou_dormir-carbet-gite tarifs_ou_dormir-entre-5-et-25-e-la-nuit services_ou_dormir-blanchisserie services_ou_dormir-location-moustiquaire-et-hamac services_ou_dormir-petit-dejeuner services_ou_dormir-sanitaires-douche services_ou_dormir-wifi mode_de_reglement_ou_dormir-carte-bancaire mode_de_reglement_ou_dormir-especes sticky post">
    <div class="entry-thumbnail">
        <img width="400" height="257" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20400%20257'%3E%3C/svg%3E" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" data-lazy-srcset="/wp-content/uploads/2018/06/amazonie-accueil-1.jpg 400w, /wp-content/uploads/2018/06/amazonie-accueil-1-300x193.jpg 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" data-lazy-src="/wp-content/uploads/2018/06/amazonie-accueil-1.jpg" /><noscript><img width="400" height="257" src="/wp-content/uploads/2018/06/amazonie-accueil-1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="/wp-content/uploads/2018/06/amazonie-accueil-1.jpg 400w, /wp-content/uploads/2018/06/amazonie-accueil-1-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></noscript>			
    </div>
    <div class="content_container">
        <header class="entry-header">
                        <h2 class="destination_entry-title">Gîte Amazonie Accueil</h2>        </header><!-- .entry-header -->	
        
        <!--restaurants_et_bars acf fields-->
                <!--restaurants_et_bars acf fields-->
        
        <!--ou dormir acf fields-->
                
        <div class="distenation_content">

                                    <div class="destinaton_ouvert"><strong><p>2 carbets hamac : 14 personnes / Check in : jusqu’à 19h</p>
<p>Prix : 10 € la nuit /pers / Location hamac (avec moustiquaire) : 5 €</p>
<p>Petit-déjeuner : 5 €</p>
</strong></div>
                                    <p class="destinaton_telephone">Langues Parlées: <strong>FR – ANG - NRLD – ALL </strong></p>
                                    <p class="destinaton_langues_parlees">Tél: <strong>(+594) 594 34 36 12 / (+594) 694 41 23 50</strong></p>
                                        <p class="destinaton_adresse">Mail: <strong>am.ac@orange.fr</strong></p>
                                        <p class="destinaton_adresse">Adresse: <strong>3 rue roland Barrat - 97320 Saint Laurent du Maroni</strong></p>
            
        </div>
        
        <div class="social_items_wrapper">
        
            <a href="#" class="destination_read_more" target="_blank">
                Localiser sur sur Tripadvisor            </a>
                
            <div class="social_items">
            
                                
            </div>
            
        </div>

                <!--end ou dormir acf fields-->
        
        <div class="entry-content">
            <div class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="/ou_dormir/gite-amazonie-accueil/" data-a2a-title="Gîte Amazonie Accueil"><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fgite-amazonie-accueil%2F&amp;linkname=G%C3%AEte%20Amazonie%20Accueil" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fgite-amazonie-accueil%2F&amp;linkname=G%C3%AEte%20Amazonie%20Accueil" title="Twitter" rel="nofollow noopener" target="_blank"></a></div>        </div><!-- .entry-content -->
    </div>
    </article><!-- #post-## -->

<article id="post-2544" class="grid-item post-2544 ou_dormir type-ou_dormir status-publish has-post-thumbnail hentry localisation_ou_dormir-peripherie type_detablissement_ou_dormir-carbet-gite tarifs_ou_dormir-entre-26-et-50-e-la-nuit tarifs_ou_dormir-entre-5-et-25-e-la-nuit services_ou_dormir-blanchisserie services_ou_dormir-frigo services_ou_dormir-location-moustiquaire-et-hamac services_ou_dormir-parking services_ou_dormir-petit-dejeuner services_ou_dormir-restaurant-table-dhotes services_ou_dormir-sanitaires-douche mode_de_reglement_ou_dormir-cheque mode_de_reglement_ou_dormir-especes post">
    <div class="entry-thumbnail">
        <img width="400" height="257" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20400%20257'%3E%3C/svg%3E" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" data-lazy-srcset="/wp-content/uploads/2018/06/kalina-tapala-1.jpg 400w, /wp-content/uploads/2018/06/kalina-tapala-1-300x193.jpg 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" data-lazy-src="/wp-content/uploads/2018/06/kalina-tapala-1.jpg" /><noscript><img width="400" height="257" src="/wp-content/uploads/2018/06/kalina-tapala-1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="/wp-content/uploads/2018/06/kalina-tapala-1.jpg 400w, /wp-content/uploads/2018/06/kalina-tapala-1-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></noscript>			
    </div>
    <div class="content_container">
        <header class="entry-header">
                        <h2 class="destination_entry-title">Kali’na Tapala</h2>        </header><!-- .entry-header -->	
        
        <!--restaurants_et_bars acf fields-->
                <!--restaurants_et_bars acf fields-->
        
        <!--ou dormir acf fields-->
                
        <div class="distenation_content">

                                    <div class="destinaton_ouvert"><strong><p>2 carbets hamac 16 pers. : 10 € la nuit / 2 bungalows 6 pers. (avec ou sans ventilateur) : 25 – 45 € la nuit</p>
<p>Location hamac : 6 € / Location linge de lit : 3 € / Petit-déjeuner : 5 €</p>
<p>Table d’hôtes (sur réservation) : 10 €</p>
</strong></div>
                                    <p class="destinaton_telephone">Langues Parlées: <strong>FR – ANGL – PT – ESP </strong></p>
                                    <p class="destinaton_langues_parlees">Tél: <strong>(+594) 694 21 28 78</strong></p>
                                        <p class="destinaton_adresse">Mail: <strong> btapauka@orange.fr</strong></p>
                                        <p class="destinaton_adresse">Adresse: <strong>15 allée des Tachinis  village Terre Rouge </strong></p>
            
        </div>
        
        <div class="social_items_wrapper">
        
            <a href="http://www.kalina-tapala.com/" class="destination_read_more" target="_blank">
                Localiser sur sur Tripadvisor            </a>
                
            <div class="social_items">
            
                                
            </div>
            
        </div>

                <!--end ou dormir acf fields-->
        
        <div class="entry-content">
            <div class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="/ou_dormir/kalina-tapala/" data-a2a-title="Kali’na Tapala"><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fkalina-tapala%2F&amp;linkname=Kali%E2%80%99na%20Tapala" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fkalina-tapala%2F&amp;linkname=Kali%E2%80%99na%20Tapala" title="Twitter" rel="nofollow noopener" target="_blank"></a></div>        </div><!-- .entry-content -->
    </div>
    </article><!-- #post-## -->

<article id="post-2540" class="grid-item post-2540 ou_dormir type-ou_dormir status-publish has-post-thumbnail hentry localisation_ou_dormir-peripherie type_detablissement_ou_dormir-carbet-gite tarifs_ou_dormir-entre-26-et-50-e-la-nuit tarifs_ou_dormir-entre-5-et-25-e-la-nuit services_ou_dormir-parking services_ou_dormir-petit-dejeuner services_ou_dormir-restaurant-table-dhotes services_ou_dormir-sanitaires-douche mode_de_reglement_ou_dormir-cheque mode_de_reglement_ou_dormir-especes post">
    <div class="entry-thumbnail">
        <img width="400" height="257" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20400%20257'%3E%3C/svg%3E" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" data-lazy-srcset="/wp-content/uploads/2018/06/Gite-palambala.jpg 400w, /wp-content/uploads/2018/06/Gite-palambala-300x193.jpg 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" data-lazy-src="/wp-content/uploads/2018/06/Gite-palambala.jpg" /><noscript><img width="400" height="257" src="/wp-content/uploads/2018/06/Gite-palambala.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="/wp-content/uploads/2018/06/Gite-palambala.jpg 400w, /wp-content/uploads/2018/06/Gite-palambala-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></noscript>			
    </div>
    <div class="content_container">
        <header class="entry-header">
                        <h2 class="destination_entry-title">Palambala</h2>        </header><!-- .entry-header -->	
        
        <!--restaurants_et_bars acf fields-->
                <!--restaurants_et_bars acf fields-->
        
        <!--ou dormir acf fields-->
                
        <div class="distenation_content">

                                    <div class="destinaton_ouvert"><strong><p>2 carbets hamac 22 pers. : 10 € la nuit</p>
<p>Location hamac : 6 € / 2 bungalows 6 pers. : 40 € la nuit</p>
<p>Location linge de lit : 3 € / Petit-déjeuner : 5,50 €</p>
<p>Exposition d’insectes et de papillons : 3 – 5 €</p>
</strong></div>
                                    <p class="destinaton_telephone">Langues Parlées: <strong>FR – NRLD – SU </strong></p>
                                    <p class="destinaton_langues_parlees">Tél: <strong>(+594) 594 34 01 89 </strong></p>
                                        <p class="destinaton_adresse">Mail: <strong>palambal@hotmail.fr</strong></p>
                                        <p class="destinaton_adresse">Adresse: <strong>Rte de St Jean, N°6a Village Espérance - 97320 Saint Laurent du Maroni</strong></p>
            
        </div>
        
        <div class="social_items_wrapper">
        
            <a href="#" class="destination_read_more" target="_blank">
                Localiser sur sur Tripadvisor            </a>
                
            <div class="social_items">
            
                                
            </div>
            
        </div>

                <!--end ou dormir acf fields-->
        
        <div class="entry-content">
            <div class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="/ou_dormir/palambala/" data-a2a-title="Palambala"><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fpalambala%2F&amp;linkname=Palambala" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fpalambala%2F&amp;linkname=Palambala" title="Twitter" rel="nofollow noopener" target="_blank"></a></div>        </div><!-- .entry-content -->
    </div>
    </article><!-- #post-## -->

<article id="post-2539" class="grid-item post-2539 ou_dormir type-ou_dormir status-publish has-post-thumbnail hentry localisation_ou_dormir-peripherie type_detablissement_ou_dormir-carbet-gite tarifs_ou_dormir-entre-5-et-25-e-la-nuit services_ou_dormir-parking services_ou_dormir-petit-dejeuner services_ou_dormir-restaurant-table-dhotes services_ou_dormir-sanitaires-douche mode_de_reglement_ou_dormir-especes post">
    <div class="entry-thumbnail">
        <img width="400" height="257" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20400%20257'%3E%3C/svg%3E" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" data-lazy-srcset="/wp-content/uploads/2018/06/hello-saint-laurent-du-maroni.jpg 400w, /wp-content/uploads/2018/06/hello-saint-laurent-du-maroni-300x193.jpg 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" data-lazy-src="/wp-content/uploads/2018/06/hello-saint-laurent-du-maroni.jpg" /><noscript><img width="400" height="257" src="/wp-content/uploads/2018/06/hello-saint-laurent-du-maroni.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="/wp-content/uploads/2018/06/hello-saint-laurent-du-maroni.jpg 400w, /wp-content/uploads/2018/06/hello-saint-laurent-du-maroni-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></noscript>			
    </div>
    <div class="content_container">
        <header class="entry-header">
                        <h2 class="destination_entry-title">Carbet Postou</h2>        </header><!-- .entry-header -->	
        
        <!--restaurants_et_bars acf fields-->
                <!--restaurants_et_bars acf fields-->
        
        <!--ou dormir acf fields-->
                
        <div class="distenation_content">

                                    <div class="destinaton_ouvert"><strong><p>Carbet-yourte lit ou hamac (non fourni) 10 pers.: 10 € la nuit</p>
<p>Petit-déjeuner : 5 € et Table d’hôtes : 12 € (sur réservation</p>
</strong></div>
                                    <p class="destinaton_telephone">Langues Parlées: <strong>FR – ANGL </strong></p>
                                    <p class="destinaton_langues_parlees">Tél: <strong>(+594) 594 27 85 27 / (+594) 694 46 51 76</strong></p>
                                        <p class="destinaton_adresse">Mail: <strong>contact@carbetpostou.com</strong></p>
                                        <p class="destinaton_adresse">Adresse: <strong>Rte de St Jean , 40 bis village Espérance - 97320 Saint-Laurent du Maroni</strong></p>
            
        </div>
        
        <div class="social_items_wrapper">
        
            <a href="http://www.carbetpostou.com/" class="destination_read_more" target="_blank">
                Localiser sur sur Tripadvisor            </a>
                
            <div class="social_items">
            
                                
            </div>
            
        </div>

                <!--end ou dormir acf fields-->
        
        <div class="entry-content">
            <div class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="/ou_dormir/carbet-postou/" data-a2a-title="Carbet Postou"><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fcarbet-postou%2F&amp;linkname=Carbet%20Postou" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fcarbet-postou%2F&amp;linkname=Carbet%20Postou" title="Twitter" rel="nofollow noopener" target="_blank"></a></div>        </div><!-- .entry-content -->
    </div>
    </article><!-- #post-## -->

<article id="post-2532" class="grid-item post-2532 ou_dormir type-ou_dormir status-publish has-post-thumbnail hentry localisation_ou_dormir-peripherie type_detablissement_ou_dormir-carbet-gite tarifs_ou_dormir-entre-26-et-50-e-la-nuit tarifs_ou_dormir-entre-51-et-100-e-la-nuit services_ou_dormir-frigo services_ou_dormir-parking services_ou_dormir-petit-dejeuner services_ou_dormir-restaurant-table-dhotes services_ou_dormir-sanitaires-douche mode_de_reglement_ou_dormir-cheque mode_de_reglement_ou_dormir-especes post">
    <div class="entry-thumbnail">
        <img width="400" height="257" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20400%20257'%3E%3C/svg%3E" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" data-lazy-srcset="/wp-content/uploads/2018/06/Gîte-Moutouchi.jpg 400w, /wp-content/uploads/2018/06/Gîte-Moutouchi-300x193.jpg 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" data-lazy-src="/wp-content/uploads/2018/06/Gîte-Moutouchi.jpg" /><noscript><img width="400" height="257" src="/wp-content/uploads/2018/06/Gîte-Moutouchi.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="/wp-content/uploads/2018/06/Gîte-Moutouchi.jpg 400w, /wp-content/uploads/2018/06/Gîte-Moutouchi-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></noscript>			
    </div>
    <div class="content_container">
        <header class="entry-header">
                        <h2 class="destination_entry-title">Gîte Moutouchi</h2>        </header><!-- .entry-header -->	
        
        <!--restaurants_et_bars acf fields-->
                <!--restaurants_et_bars acf fields-->
        
        <!--ou dormir acf fields-->
                
        <div class="distenation_content">

                                    <div class="destinaton_ouvert"><strong><p>Petit-déjeuner : 6 €</p>
<p>Table d’hôtes (sur réservation/6 pers. Min.) : 10 &#8211; 20 €</p>
</strong></div>
                                    <p class="destinaton_telephone">Langues Parlées: <strong>FR – ANGL – SU-ESP-ALM</strong></p>
                                    <p class="destinaton_langues_parlees">Tél: <strong>(+594) 694 92 87 48 (+594) 694 12 19 20 </strong></p>
                                        <p class="destinaton_adresse">Mail: <strong>moutougite@gmail.com </strong></p>
                                        <p class="destinaton_adresse">Adresse: <strong>Plateau des Mines, 8 100 Av. Christophe Colomb – 97320 Saint Laurent du Maroni</strong></p>
            
        </div>
        
        <div class="social_items_wrapper">
        
            <a href="site web" class="destination_read_more" target="_blank">
                Localiser sur sur Tripadvisor            </a>
                
            <div class="social_items">
            
                                
            </div>
            
        </div>

                <!--end ou dormir acf fields-->
        
        <div class="entry-content">
            <div class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="/ou_dormir/gite-moutouchi/" data-a2a-title="Gîte Moutouchi"><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fgite-moutouchi%2F&amp;linkname=G%C3%AEte%20Moutouchi" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fgite-moutouchi%2F&amp;linkname=G%C3%AEte%20Moutouchi" title="Twitter" rel="nofollow noopener" target="_blank"></a></div>        </div><!-- .entry-content -->
    </div>
    </article><!-- #post-## -->

<article id="post-2528" class="grid-item post-2528 ou_dormir type-ou_dormir status-publish has-post-thumbnail hentry type_detablissement_ou_dormir-carbet-gite tarifs_ou_dormir-entre-5-et-25-e-la-nuit services_ou_dormir-parking services_ou_dormir-petit-dejeuner services_ou_dormir-sanitaires-douche services_ou_dormir-terrasse mode_de_reglement_ou_dormir-cheque mode_de_reglement_ou_dormir-especes post">
    <div class="entry-thumbnail">
        <img width="400" height="257" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20400%20257'%3E%3C/svg%3E" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" data-lazy-srcset="/wp-content/uploads/2018/06/le-saint-jean.jpg 400w, /wp-content/uploads/2018/06/le-saint-jean-300x193.jpg 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" data-lazy-src="/wp-content/uploads/2018/06/le-saint-jean.jpg" /><noscript><img width="400" height="257" src="/wp-content/uploads/2018/06/le-saint-jean.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="/wp-content/uploads/2018/06/le-saint-jean.jpg 400w, /wp-content/uploads/2018/06/le-saint-jean-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></noscript>			
    </div>
    <div class="content_container">
        <header class="entry-header">
                        <h2 class="destination_entry-title">Le Saint Jean</h2>        </header><!-- .entry-header -->	
        
        <!--restaurants_et_bars acf fields-->
                <!--restaurants_et_bars acf fields-->
        
        <!--ou dormir acf fields-->
                
        <div class="distenation_content">

                                    <div class="destinaton_ouvert"><strong><p>Carbet hamac 12 pers.: 10 € / nuit / pers.</p>
<p>3 chambres doubles 25€ la nuit</p>
<p>Petit-déjeuner : 7 €</p>
<p>Restaurant avec terrasse sur place.</p>
</strong></div>
                                    <p class="destinaton_telephone">Langues Parlées: <strong>FR – ANGL – SU </strong></p>
                                    <p class="destinaton_langues_parlees">Tél: <strong>(+594) 594 34 14 22 / (+594) 694 44 77 06</strong></p>
                                        <p class="destinaton_adresse">Mail: <strong>lesaintjean.97320@gmail.com </strong></p>
                                        <p class="destinaton_adresse">Adresse: <strong>3 Ch. Du Parc, Village St Jean - 97320 Saint Laurent du Maroni</strong></p>
            
        </div>
        
        <div class="social_items_wrapper">
        
            <a href="https://www.tripadvisor.fr/Restaurant_Review-g1194441-d4971819-Reviews-Le_Saint_Jean-Saint_Laurent_du_Maroni_Arrondissement_of_St_Laurent_du_Maroni.html" class="destination_read_more" target="_blank">
                Localiser sur sur Tripadvisor            </a>
                
            <div class="social_items">
            
                                
            </div>
            
        </div>

                <!--end ou dormir acf fields-->
        
        <div class="entry-content">
            <div class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="/ou_dormir/le-saint-jean/" data-a2a-title="Le Saint Jean"><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fle-saint-jean%2F&amp;linkname=Le%20Saint%20Jean" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fle-saint-jean%2F&amp;linkname=Le%20Saint%20Jean" title="Twitter" rel="nofollow noopener" target="_blank"></a></div>        </div><!-- .entry-content -->
    </div>
    </article><!-- #post-## -->

<article id="post-2524" class="grid-item post-2524 ou_dormir type-ou_dormir status-publish has-post-thumbnail hentry localisation_ou_dormir-peripherie type_detablissement_ou_dormir-carbet-gite tarifs_ou_dormir-entre-26-et-50-e-la-nuit tarifs_ou_dormir-entre-5-et-25-e-la-nuit services_ou_dormir-parking services_ou_dormir-petit-dejeuner services_ou_dormir-restaurant-table-dhotes services_ou_dormir-sanitaires-douche mode_de_reglement_ou_dormir-cheque mode_de_reglement_ou_dormir-especes post">
    <div class="entry-thumbnail">
        <img width="400" height="257" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20400%20257'%3E%3C/svg%3E" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" data-lazy-srcset="/wp-content/uploads/2018/06/auberge-chutes-voltaire-ouest-guyanais-1.jpg 400w, /wp-content/uploads/2018/06/auberge-chutes-voltaire-ouest-guyanais-1-300x193.jpg 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" data-lazy-src="/wp-content/uploads/2018/06/auberge-chutes-voltaire-ouest-guyanais-1.jpg" /><noscript><img width="400" height="257" src="/wp-content/uploads/2018/06/auberge-chutes-voltaire-ouest-guyanais-1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="/wp-content/uploads/2018/06/auberge-chutes-voltaire-ouest-guyanais-1.jpg 400w, /wp-content/uploads/2018/06/auberge-chutes-voltaire-ouest-guyanais-1-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></noscript>			
    </div>
    <div class="content_container">
        <header class="entry-header">
                        <h2 class="destination_entry-title">Auberges des Chutes Voltaires</h2>        </header><!-- .entry-header -->	
        
        <!--restaurants_et_bars acf fields-->
                <!--restaurants_et_bars acf fields-->
        
        <!--ou dormir acf fields-->
                
        <div class="distenation_content">

                                    <div class="destinaton_ouvert"><strong><p>Formule en ½ pension :</p>
<p>Hamac (cap.28 pers.) : 35 &#8211; 60 €</p>
<p>Location hamac avec moustiquaire : 15 €</p>
<p>Chambres (cap.26 pers.) : 50 – 160 €</p>
<p>Table d’hôtes matin et soir (compris dans les tarifs de nuitée)</p>
</strong></div>
                                    <p class="destinaton_telephone">Langues Parlées: <strong>FR – PT</strong></p>
                                                    <p class="destinaton_adresse">Mail: <strong>reservation.aubergevoltaire@gmail.com </strong></p>
                                        <p class="destinaton_adresse">Adresse: <strong>PK 73 Rte de Paul Isnard – 97320 Saint Laurent du Maroni</strong></p>
            
        </div>
        
        <div class="social_items_wrapper">
        
            <a href="https://www.aubergechutesvoltaire.com/" class="destination_read_more" target="_blank">
                Localiser sur sur Tripadvisor            </a>
                
            <div class="social_items">
            
                                
            </div>
            
        </div>

                <!--end ou dormir acf fields-->
        
        <div class="entry-content">
            <div class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="/ou_dormir/auberges-des-chutes-voltaires/" data-a2a-title="Auberges des Chutes Voltaires"><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fauberges-des-chutes-voltaires%2F&amp;linkname=Auberges%20des%20Chutes%20Voltaires" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fauberges-des-chutes-voltaires%2F&amp;linkname=Auberges%20des%20Chutes%20Voltaires" title="Twitter" rel="nofollow noopener" target="_blank"></a></div>        </div><!-- .entry-content -->
    </div>
    </article><!-- #post-## -->

<article id="post-2523" class="grid-item post-2523 ou_dormir type-ou_dormir status-publish has-post-thumbnail hentry localisation_ou_dormir-proximite-centre-ville type_detablissement_ou_dormir-carbet-gite tarifs_ou_dormir-entre-5-et-25-e-la-nuit services_ou_dormir-parking services_ou_dormir-sanitaires-douche mode_de_reglement_ou_dormir-cheque mode_de_reglement_ou_dormir-especes post">
    <div class="entry-thumbnail">
        <img width="400" height="257" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20400%20257'%3E%3C/svg%3E" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" data-lazy-srcset="/wp-content/uploads/2018/06/hello-saint-laurent-du-maroni.jpg 400w, /wp-content/uploads/2018/06/hello-saint-laurent-du-maroni-300x193.jpg 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" data-lazy-src="/wp-content/uploads/2018/06/hello-saint-laurent-du-maroni.jpg" /><noscript><img width="400" height="257" src="/wp-content/uploads/2018/06/hello-saint-laurent-du-maroni.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="/wp-content/uploads/2018/06/hello-saint-laurent-du-maroni.jpg 400w, /wp-content/uploads/2018/06/hello-saint-laurent-du-maroni-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></noscript>			
    </div>
    <div class="content_container">
        <header class="entry-header">
                        <h2 class="destination_entry-title">Gîte Bora Bora</h2>        </header><!-- .entry-header -->	
        
        <!--restaurants_et_bars acf fields-->
                <!--restaurants_et_bars acf fields-->
        
        <!--ou dormir acf fields-->
                
        <div class="distenation_content">

                                    <div class="destinaton_ouvert"><strong><p>Chambre : 10 à 25 € la nuit</p>
<p>Hamac : 5 € la nuit</p>
</strong></div>
                                    <p class="destinaton_telephone">Langues Parlées: <strong>FR – ANGL – NRLD – SU – ESP</strong></p>
                                    <p class="destinaton_langues_parlees">Tél: <strong>(+594) 694 42 06 05</strong></p>
                                        <p class="destinaton_adresse">Mail: <strong>borabora97320@gmail.com</strong></p>
                                        <p class="destinaton_adresse">Adresse: <strong>30 A rte des Chutes Voltaire - 97320 Saint Laurent du Maroni</strong></p>
            
        </div>
        
        <div class="social_items_wrapper">
        
            <a href="#" class="destination_read_more" target="_blank">
                Localiser sur sur Tripadvisor            </a>
                
            <div class="social_items">
            
                                
            </div>
            
        </div>

                <!--end ou dormir acf fields-->
        
        <div class="entry-content">
            <div class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="/ou_dormir/gite-bora-bora/" data-a2a-title="Gîte Bora Bora"><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fgite-bora-bora%2F&amp;linkname=G%C3%AEte%20Bora%20Bora" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fgite-bora-bora%2F&amp;linkname=G%C3%AEte%20Bora%20Bora" title="Twitter" rel="nofollow noopener" target="_blank"></a></div>        </div><!-- .entry-content -->
    </div>
    </article><!-- #post-## -->

<article id="post-2517" class="grid-item post-2517 ou_dormir type-ou_dormir status-publish has-post-thumbnail hentry localisation_ou_dormir-peripherie type_detablissement_ou_dormir-chambre-dhotes tarifs_ou_dormir-entre-26-et-50-e-la-nuit services_ou_dormir-animaux-admis services_ou_dormir-blanchisserie services_ou_dormir-cuisine-equipee services_ou_dormir-parking services_ou_dormir-petit-dejeuner services_ou_dormir-restaurant-table-dhotes services_ou_dormir-sanitaires-douche mode_de_reglement_ou_dormir-cheque mode_de_reglement_ou_dormir-especes post">
    <div class="entry-thumbnail">
        <img width="400" height="257" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20400%20257'%3E%3C/svg%3E" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" data-lazy-srcset="/wp-content/uploads/2018/06/Saknena.jpg 400w, /wp-content/uploads/2018/06/Saknena-300x193.jpg 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" data-lazy-src="/wp-content/uploads/2018/06/Saknena.jpg" /><noscript><img width="400" height="257" src="/wp-content/uploads/2018/06/Saknena.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="/wp-content/uploads/2018/06/Saknena.jpg 400w, /wp-content/uploads/2018/06/Saknena-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></noscript>			
    </div>
    <div class="content_container">
        <header class="entry-header">
                        <h2 class="destination_entry-title">Association SAKNENA</h2>        </header><!-- .entry-header -->	
        
        <!--restaurants_et_bars acf fields-->
                <!--restaurants_et_bars acf fields-->
        
        <!--ou dormir acf fields-->
                
        <div class="distenation_content">

                                    <div class="destinaton_ouvert"><strong><p>Carbet de 5 chambres + hamacs</p>
</strong></div>
                                    <p class="destinaton_telephone">Langues Parlées: <strong>FR - REGIONAL</strong></p>
                                    <p class="destinaton_langues_parlees">Tél: <strong>: (+594) 69403 98 61 / (+594) 69447 25 70</strong></p>
                                                    <p class="destinaton_adresse">Adresse: <strong>BP 221 Plateau des Mines – 97320 St Laurent du Maroni </strong></p>
            
        </div>
        
        <div class="social_items_wrapper">
        
            <a href="#" class="destination_read_more" target="_blank">
                Localiser sur sur Tripadvisor            </a>
                
            <div class="social_items">
            
                                
            </div>
            
        </div>

                <!--end ou dormir acf fields-->
        
        <div class="entry-content">
            <div class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="/ou_dormir/association-saknena/" data-a2a-title="Association SAKNENA"><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fassociation-saknena%2F&amp;linkname=Association%20SAKNENA" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fassociation-saknena%2F&amp;linkname=Association%20SAKNENA" title="Twitter" rel="nofollow noopener" target="_blank"></a></div>        </div><!-- .entry-content -->
    </div>
    </article><!-- #post-## -->

<article id="post-2516" class="grid-item post-2516 ou_dormir type-ou_dormir status-publish has-post-thumbnail hentry localisation_ou_dormir-peripherie type_detablissement_ou_dormir-chambre-dhotes tarifs_ou_dormir-entre-26-et-50-e-la-nuit services_ou_dormir-parking post">
    <div class="entry-thumbnail">
        <img width="400" height="257" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20400%20257'%3E%3C/svg%3E" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" data-lazy-srcset="/wp-content/uploads/2018/06/hello-saint-laurent-du-maroni.jpg 400w, /wp-content/uploads/2018/06/hello-saint-laurent-du-maroni-300x193.jpg 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" data-lazy-src="/wp-content/uploads/2018/06/hello-saint-laurent-du-maroni.jpg" /><noscript><img width="400" height="257" src="/wp-content/uploads/2018/06/hello-saint-laurent-du-maroni.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="/wp-content/uploads/2018/06/hello-saint-laurent-du-maroni.jpg 400w, /wp-content/uploads/2018/06/hello-saint-laurent-du-maroni-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></noscript>			
    </div>
    <div class="content_container">
        <header class="entry-header">
                        <h2 class="destination_entry-title">M. Leclerc Arnaud</h2>        </header><!-- .entry-header -->	
        
        <!--restaurants_et_bars acf fields-->
                <!--restaurants_et_bars acf fields-->
        
        <!--ou dormir acf fields-->
                
        <div class="distenation_content">

                                    <div class="destinaton_ouvert"><strong><p>Carbet en bois de 3 chambres (8 pers. Max)</p>
</strong></div>
                                                <p class="destinaton_langues_parlees">Tél: <strong>(+594) 694 25 66 08</strong></p>
                                                    <p class="destinaton_adresse">Adresse: <strong>1531 Avenue Christophe Colomb – 97320 St Laurent du Maroni </strong></p>
            
        </div>
        
        <div class="social_items_wrapper">
        
            <a href="#" class="destination_read_more" target="_blank">
                Localiser sur sur Tripadvisor            </a>
                
            <div class="social_items">
            
                                
            </div>
            
        </div>

                <!--end ou dormir acf fields-->
        
        <div class="entry-content">
            <div class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="/ou_dormir/m-leclerc-arnaud/" data-a2a-title="M. Leclerc Arnaud"><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fm-leclerc-arnaud%2F&amp;linkname=M.%20Leclerc%20Arnaud" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fm-leclerc-arnaud%2F&amp;linkname=M.%20Leclerc%20Arnaud" title="Twitter" rel="nofollow noopener" target="_blank"></a></div>        </div><!-- .entry-content -->
    </div>
    </article><!-- #post-## -->

<article id="post-2512" class="grid-item post-2512 ou_dormir type-ou_dormir status-publish has-post-thumbnail hentry localisation_ou_dormir-peripherie type_detablissement_ou_dormir-chambre-dhotes tarifs_ou_dormir-entre-5-et-25-e-la-nuit services_ou_dormir-parking services_ou_dormir-restaurant-table-dhotes services_ou_dormir-sanitaires-douche post">
    <div class="entry-thumbnail">
        <img width="400" height="257" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20400%20257'%3E%3C/svg%3E" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" data-lazy-srcset="/wp-content/uploads/2018/06/Ferme-CA.jpg 400w, /wp-content/uploads/2018/06/Ferme-CA-300x193.jpg 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" data-lazy-src="/wp-content/uploads/2018/06/Ferme-CA.jpg" /><noscript><img width="400" height="257" src="/wp-content/uploads/2018/06/Ferme-CA.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="/wp-content/uploads/2018/06/Ferme-CA.jpg 400w, /wp-content/uploads/2018/06/Ferme-CA-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></noscript>			
    </div>
    <div class="content_container">
        <header class="entry-header">
                        <h2 class="destination_entry-title">Ferme C&#038;A</h2>        </header><!-- .entry-header -->	
        
        <!--restaurants_et_bars acf fields-->
                <!--restaurants_et_bars acf fields-->
        
        <!--ou dormir acf fields-->
                
        <div class="distenation_content">

                                    <div class="destinaton_ouvert"><strong><p>Chambres et hamac 6 pers.</p>
<p>Table d’hôtes (avec produits de la ferme) : 15 €</p>
</strong></div>
                                                <p class="destinaton_langues_parlees">Tél: <strong>(+594) 694 25 66 08</strong></p>
                                        <p class="destinaton_adresse">Mail: <strong>laillierclaudine@gmail.com </strong></p>
                                        <p class="destinaton_adresse">Adresse: <strong>Rte d’Apatou, 2nd piste à gauche puis 5,5 km à droite - 97320 St Laurent du Maroni</strong></p>
            
        </div>
        
        <div class="social_items_wrapper">
        
            <a href="#" class="destination_read_more" target="_blank">
                Localiser sur sur Tripadvisor            </a>
                
            <div class="social_items">
            
                                
            </div>
            
        </div>

                <!--end ou dormir acf fields-->
        
        <div class="entry-content">
            <div class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="/ou_dormir/ferme-ca/" data-a2a-title="Ferme C&amp;A"><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fferme-ca%2F&amp;linkname=Ferme%20C%26A" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fferme-ca%2F&amp;linkname=Ferme%20C%26A" title="Twitter" rel="nofollow noopener" target="_blank"></a></div>        </div><!-- .entry-content -->
    </div>
    </article><!-- #post-## -->

<article id="post-2511" class="grid-item post-2511 ou_dormir type-ou_dormir status-publish has-post-thumbnail hentry localisation_ou_dormir-centre-ville type_detablissement_ou_dormir-meuble-de-tourisme tarifs_ou_dormir-entre-51-et-100-e-la-nuit tarifs_ou_dormir-plus-de-100-e-la-nuit services_ou_dormir-blanchisserie services_ou_dormir-cuisine-equipee services_ou_dormir-frigo services_ou_dormir-parking services_ou_dormir-sanitaires-douche services_ou_dormir-television services_ou_dormir-wifi mode_de_reglement_ou_dormir-cheque mode_de_reglement_ou_dormir-especes post">
    <div class="entry-thumbnail">
        <img width="400" height="257" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20400%20257'%3E%3C/svg%3E" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" data-lazy-srcset="/wp-content/uploads/2018/06/hello-saint-laurent-du-maroni.jpg 400w, /wp-content/uploads/2018/06/hello-saint-laurent-du-maroni-300x193.jpg 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" data-lazy-src="/wp-content/uploads/2018/06/hello-saint-laurent-du-maroni.jpg" /><noscript><img width="400" height="257" src="/wp-content/uploads/2018/06/hello-saint-laurent-du-maroni.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="/wp-content/uploads/2018/06/hello-saint-laurent-du-maroni.jpg 400w, /wp-content/uploads/2018/06/hello-saint-laurent-du-maroni-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></noscript>			
    </div>
    <div class="content_container">
        <header class="entry-header">
                        <h2 class="destination_entry-title">SLJB 973</h2>        </header><!-- .entry-header -->	
        
        <!--restaurants_et_bars acf fields-->
                <!--restaurants_et_bars acf fields-->
        
        <!--ou dormir acf fields-->
                
        <div class="distenation_content">

                                    <div class="destinaton_ouvert"><strong><p>Apt T3 tout équipé : 1-4 per/ 2 chambres.</p>
<p>Forfait semaine : 440 €</p>
</strong></div>
                                    <p class="destinaton_telephone">Langues Parlées: <strong>FR - REGIONAL</strong></p>
                                    <p class="destinaton_langues_parlees">Tél: <strong>(+594) 594 34 21 46 / (+594) 694 28 75 02 </strong></p>
                                        <p class="destinaton_adresse">Mail: <strong>sainte-luce.berange@orange.fr</strong></p>
                                        <p class="destinaton_adresse">Adresse: <strong>18 rue Thiers - 97320 St Laurent du Maroni</strong></p>
            
        </div>
        
        <div class="social_items_wrapper">
        
            <a href="#" class="destination_read_more" target="_blank">
                Localiser sur sur Tripadvisor            </a>
                
            <div class="social_items">
            
                                
            </div>
            
        </div>

                <!--end ou dormir acf fields-->
        
        <div class="entry-content">
            <div class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="/ou_dormir/location-saisonniere-bls/" data-a2a-title="SLJB 973"><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Flocation-saisonniere-bls%2F&amp;linkname=SLJB%20973" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Flocation-saisonniere-bls%2F&amp;linkname=SLJB%20973" title="Twitter" rel="nofollow noopener" target="_blank"></a></div>        </div><!-- .entry-content -->
    </div>
    </article><!-- #post-## -->

<article id="post-2510" class="grid-item post-2510 ou_dormir type-ou_dormir status-publish has-post-thumbnail hentry localisation_ou_dormir-peripherie type_detablissement_ou_dormir-meuble-de-tourisme tarifs_ou_dormir-plus-de-100-e-la-nuit services_ou_dormir-parking services_ou_dormir-terrasse services_ou_dormir-wifi mode_de_reglement_ou_dormir-especes post">
    <div class="entry-thumbnail">
        <img width="400" height="257" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20400%20257'%3E%3C/svg%3E" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" data-lazy-srcset="/wp-content/uploads/2018/06/hello-saint-laurent-du-maroni.jpg 400w, /wp-content/uploads/2018/06/hello-saint-laurent-du-maroni-300x193.jpg 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" data-lazy-src="/wp-content/uploads/2018/06/hello-saint-laurent-du-maroni.jpg" /><noscript><img width="400" height="257" src="/wp-content/uploads/2018/06/hello-saint-laurent-du-maroni.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="/wp-content/uploads/2018/06/hello-saint-laurent-du-maroni.jpg 400w, /wp-content/uploads/2018/06/hello-saint-laurent-du-maroni-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></noscript>			
    </div>
    <div class="content_container">
        <header class="entry-header">
                        <h2 class="destination_entry-title">M. Bertrand Karl</h2>        </header><!-- .entry-header -->	
        
        <!--restaurants_et_bars acf fields-->
                <!--restaurants_et_bars acf fields-->
        
        <!--ou dormir acf fields-->
                
        <div class="distenation_content">

                                    <div class="destinaton_ouvert"><strong><p>4 Logements en chambres doubles – cap. de 8 pers. Max.</p>
<p>Check in : jusqu’à 18h / Check out : 12h</p>
</strong></div>
                                    <p class="destinaton_telephone">Langues Parlées: <strong>FR – ANG – REGIONALE </strong></p>
                                    <p class="destinaton_langues_parlees">Tél: <strong>(+594) 694 23 34 40 </strong></p>
                                                    <p class="destinaton_adresse">Adresse: <strong>4217 Av. Christophe Colomb – 97320 St Laurent du Maroni</strong></p>
            
        </div>
        
        <div class="social_items_wrapper">
        
            <a href="#" class="destination_read_more" target="_blank">
                Localiser sur sur Tripadvisor            </a>
                
            <div class="social_items">
            
                                
            </div>
            
        </div>

                <!--end ou dormir acf fields-->
        
        <div class="entry-content">
            <div class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="/ou_dormir/m-bertrand-karl/" data-a2a-title="M. Bertrand Karl"><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fm-bertrand-karl%2F&amp;linkname=M.%20Bertrand%20Karl" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fm-bertrand-karl%2F&amp;linkname=M.%20Bertrand%20Karl" title="Twitter" rel="nofollow noopener" target="_blank"></a></div>        </div><!-- .entry-content -->
    </div>
    </article><!-- #post-## -->

<article id="post-2506" class="grid-item post-2506 ou_dormir type-ou_dormir status-publish has-post-thumbnail hentry localisation_ou_dormir-proximite-centre-ville type_detablissement_ou_dormir-meuble-de-tourisme tarifs_ou_dormir-entre-51-et-100-e-la-nuit services_ou_dormir-cuisine-equipee services_ou_dormir-frigo services_ou_dormir-sanitaires-douche services_ou_dormir-television services_ou_dormir-wifi mode_de_reglement_ou_dormir-cheque mode_de_reglement_ou_dormir-especes post">
    <div class="entry-thumbnail">
        <img width="1280" height="720" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201280%20720'%3E%3C/svg%3E" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" data-lazy-srcset="/wp-content/uploads/2018/06/chambre-chocolat-Locations-saisonnières.jpg 1280w, /wp-content/uploads/2018/06/chambre-chocolat-Locations-saisonnières-300x169.jpg 300w, /wp-content/uploads/2018/06/chambre-chocolat-Locations-saisonnières-768x432.jpg 768w, /wp-content/uploads/2018/06/chambre-chocolat-Locations-saisonnières-1024x576.jpg 1024w" data-lazy-sizes="(max-width: 1280px) 100vw, 1280px" data-lazy-src="/wp-content/uploads/2018/06/chambre-chocolat-Locations-saisonnières.jpg" /><noscript><img width="1280" height="720" src="/wp-content/uploads/2018/06/chambre-chocolat-Locations-saisonnières.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="/wp-content/uploads/2018/06/chambre-chocolat-Locations-saisonnières.jpg 1280w, /wp-content/uploads/2018/06/chambre-chocolat-Locations-saisonnières-300x169.jpg 300w, /wp-content/uploads/2018/06/chambre-chocolat-Locations-saisonnières-768x432.jpg 768w, /wp-content/uploads/2018/06/chambre-chocolat-Locations-saisonnières-1024x576.jpg 1024w" sizes="(max-width: 1280px) 100vw, 1280px" /></noscript>			
    </div>
    <div class="content_container">
        <header class="entry-header">
                        <h2 class="destination_entry-title">Locations Saisonnières</h2>        </header><!-- .entry-header -->	
        
        <!--restaurants_et_bars acf fields-->
                <!--restaurants_et_bars acf fields-->
        
        <!--ou dormir acf fields-->
                
        <div class="distenation_content">

                                    <div class="destinaton_ouvert"><strong><p>3 chambres doubles entièrement meublées</p>
</strong></div>
                                    <p class="destinaton_telephone">Langues Parlées: <strong>FR – ANG – ESP – REGIONALE</strong></p>
                                    <p class="destinaton_langues_parlees">Tél: <strong>(+594) 694 38 45 61</strong></p>
                                        <p class="destinaton_adresse">Mail: <strong>locations.saisonnières97320@yahoo.com</strong></p>
                                        <p class="destinaton_adresse">Adresse: <strong>3972 Av. Christophe Colomb, PK 5 – 97320 St Laurent du Maroni</strong></p>
            
        </div>
        
        <div class="social_items_wrapper">
        
            <a href="#" class="destination_read_more" target="_blank">
                Localiser sur sur Tripadvisor            </a>
                
            <div class="social_items">
            
                                
            </div>
            
        </div>

                <!--end ou dormir acf fields-->
        
        <div class="entry-content">
            <div class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="/ou_dormir/m-leo/" data-a2a-title="Locations Saisonnières"><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fm-leo%2F&amp;linkname=Locations%20Saisonni%C3%A8res" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fm-leo%2F&amp;linkname=Locations%20Saisonni%C3%A8res" title="Twitter" rel="nofollow noopener" target="_blank"></a></div>        </div><!-- .entry-content -->
    </div>
    </article><!-- #post-## -->

<article id="post-2502" class="grid-item post-2502 ou_dormir type-ou_dormir status-publish has-post-thumbnail hentry localisation_ou_dormir-peripherie type_detablissement_ou_dormir-meuble-de-tourisme tarifs_ou_dormir-entre-51-et-100-e-la-nuit services_ou_dormir-cuisine-equipee services_ou_dormir-frigo services_ou_dormir-parking services_ou_dormir-sanitaires-douche services_ou_dormir-television services_ou_dormir-wifi mode_de_reglement_ou_dormir-especes post">
    <div class="entry-thumbnail">
        <img width="400" height="257" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20400%20257'%3E%3C/svg%3E" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" data-lazy-srcset="/wp-content/uploads/2018/06/Mme-Polumar.jpg 400w, /wp-content/uploads/2018/06/Mme-Polumar-300x193.jpg 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" data-lazy-src="/wp-content/uploads/2018/06/Mme-Polumar.jpg" /><noscript><img width="400" height="257" src="/wp-content/uploads/2018/06/Mme-Polumar.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="/wp-content/uploads/2018/06/Mme-Polumar.jpg 400w, /wp-content/uploads/2018/06/Mme-Polumar-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></noscript>			
    </div>
    <div class="content_container">
        <header class="entry-header">
                        <h2 class="destination_entry-title">Mme Polumar</h2>        </header><!-- .entry-header -->	
        
        <!--restaurants_et_bars acf fields-->
                <!--restaurants_et_bars acf fields-->
        
        <!--ou dormir acf fields-->
                
        <div class="distenation_content">

                                    <div class="destinaton_ouvert"><strong><p>T2 tout équipé en chambre double avec terrasse.</p>
</strong></div>
                                                            
        </div>
        
        <div class="social_items_wrapper">
        
            <a href="#" class="destination_read_more" target="_blank">
                Localiser sur sur Tripadvisor            </a>
                
            <div class="social_items">
            
                                
            </div>
            
        </div>

                <!--end ou dormir acf fields-->
        
        <div class="entry-content">
            <div class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="/ou_dormir/mme-polumar/" data-a2a-title="Mme Polumar"><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fmme-polumar%2F&amp;linkname=Mme%20Polumar" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fmme-polumar%2F&amp;linkname=Mme%20Polumar" title="Twitter" rel="nofollow noopener" target="_blank"></a></div>        </div><!-- .entry-content -->
    </div>
    </article><!-- #post-## -->

<article id="post-2498" class="grid-item post-2498 ou_dormir type-ou_dormir status-publish has-post-thumbnail hentry localisation_ou_dormir-centre-ville type_detablissement_ou_dormir-hotel tarifs_ou_dormir-entre-51-et-100-e-la-nuit tarifs_ou_dormir-plus-de-100-e-la-nuit services_ou_dormir-acces-handicape services_ou_dormir-frigo services_ou_dormir-petit-dejeuner services_ou_dormir-piscine services_ou_dormir-salle-de-reunion services_ou_dormir-television services_ou_dormir-wifi sticky post">
    <div class="entry-thumbnail">
        <img width="400" height="257" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20400%20257'%3E%3C/svg%3E" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" data-lazy-srcset="/wp-content/uploads/2018/06/hotel-star-saint-laurent-du-maroni-3stars-3-etoiles.jpg 400w, /wp-content/uploads/2018/06/hotel-star-saint-laurent-du-maroni-3stars-3-etoiles-300x193.jpg 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" data-lazy-src="/wp-content/uploads/2018/06/hotel-star-saint-laurent-du-maroni-3stars-3-etoiles.jpg" /><noscript><img width="400" height="257" src="/wp-content/uploads/2018/06/hotel-star-saint-laurent-du-maroni-3stars-3-etoiles.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="/wp-content/uploads/2018/06/hotel-star-saint-laurent-du-maroni-3stars-3-etoiles.jpg 400w, /wp-content/uploads/2018/06/hotel-star-saint-laurent-du-maroni-3stars-3-etoiles-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></noscript>			
    </div>
    <div class="content_container">
        <header class="entry-header">
                        <h2 class="destination_entry-title">Hôtel Star ***</h2>        </header><!-- .entry-header -->	
        
        <!--restaurants_et_bars acf fields-->
                <!--restaurants_et_bars acf fields-->
        
        <!--ou dormir acf fields-->
                
        <div class="distenation_content">

                                    <div class="destinaton_ouvert"><strong><p>Chambres simples, doubles, twins, quadruples. / Prix : 85 à 95 €</p>
<p>Check in : 12h / Check out : 15h</p>
</strong></div>
                                    <p class="destinaton_telephone">Langues Parlées: <strong>FR – ANGL – NRLD – ESP - REGIONALE</strong></p>
                                    <p class="destinaton_langues_parlees">Tél: <strong>(+594) 594 34 10 84</strong></p>
                                        <p class="destinaton_adresse">Mail: <strong>hotelstar973@yahoo.fr</strong></p>
                                        <p class="destinaton_adresse">Adresse: <strong>26 bis, rue Thiers - 97320 Saint Laurent du Maroni</strong></p>
            
        </div>
        
        <div class="social_items_wrapper">
        
            <a href="https://www.tripadvisor.fr/Hotels-g1194441-Saint_Laurent_du_Maroni_Arrondissement_of_St_Laurent_du_Maroni-Hotels.html" class="destination_read_more" target="_blank">
                Localiser sur sur Tripadvisor            </a>
                
            <div class="social_items">
            
                                
            </div>
            
        </div>

                <!--end ou dormir acf fields-->
        
        <div class="entry-content">
            <div class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="/ou_dormir/hotel-star/" data-a2a-title="Hôtel Star ***"><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fhotel-star%2F&amp;linkname=H%C3%B4tel%20Star%20%2A%2A%2A" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fhotel-star%2F&amp;linkname=H%C3%B4tel%20Star%20%2A%2A%2A" title="Twitter" rel="nofollow noopener" target="_blank"></a></div>        </div><!-- .entry-content -->
    </div>
    </article><!-- #post-## -->

<article id="post-2494" class="grid-item post-2494 ou_dormir type-ou_dormir status-publish has-post-thumbnail hentry localisation_ou_dormir-centre-ville type_detablissement_ou_dormir-hotel tarifs_ou_dormir-plus-de-100-e-la-nuit services_ou_dormir-acces-handicape services_ou_dormir-parking services_ou_dormir-petit-dejeuner services_ou_dormir-salle-de-reunion services_ou_dormir-television services_ou_dormir-wifi mode_de_reglement_ou_dormir-carte-bancaire mode_de_reglement_ou_dormir-especes sticky post">
    <div class="entry-thumbnail">
        <img width="400" height="257" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20400%20257'%3E%3C/svg%3E" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" data-lazy-srcset="/wp-content/uploads/2018/06/amazonia-hotel-saint-laurent-du-maroni-3stars-3-etoiles.jpg 400w, /wp-content/uploads/2018/06/amazonia-hotel-saint-laurent-du-maroni-3stars-3-etoiles-300x193.jpg 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" data-lazy-src="/wp-content/uploads/2018/06/amazonia-hotel-saint-laurent-du-maroni-3stars-3-etoiles.jpg" /><noscript><img width="400" height="257" src="/wp-content/uploads/2018/06/amazonia-hotel-saint-laurent-du-maroni-3stars-3-etoiles.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="/wp-content/uploads/2018/06/amazonia-hotel-saint-laurent-du-maroni-3stars-3-etoiles.jpg 400w, /wp-content/uploads/2018/06/amazonia-hotel-saint-laurent-du-maroni-3stars-3-etoiles-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></noscript>			
    </div>
    <div class="content_container">
        <header class="entry-header">
                        <h2 class="destination_entry-title">Hôtel Amazonia du Fleuve ***</h2>        </header><!-- .entry-header -->	
        
        <!--restaurants_et_bars acf fields-->
                <!--restaurants_et_bars acf fields-->
        
        <!--ou dormir acf fields-->
                
        <div class="distenation_content">

                                    <div class="destinaton_ouvert"><strong><p>Chambres doubles, familiales et suite. / Prix : 100 à 150 €</p>
<p>Check in : à partir de 11h30 / Check out : 13h</p>
</strong></div>
                                    <p class="destinaton_telephone">Langues Parlées: <strong>FR – ANGL- NRLD – SU – PT</strong></p>
                                    <p class="destinaton_langues_parlees">Tél: <strong>(+594) 594 34 10 10 </strong></p>
                                        <p class="destinaton_adresse">Mail: <strong>hotelamazoniadufleuve@orange.fr</strong></p>
                                        <p class="destinaton_adresse">Adresse: <strong>20 rue Thiers – 97320 Saint Laurent du Maroni</strong></p>
            
        </div>
        
        <div class="social_items_wrapper">
        
            <a href="https://www.tripadvisor.fr/Hotel_Review-g1194441-d8284139-Reviews-Hotel_Amazonia_du_Fleuve-Saint_Laurent_du_Maroni_Arrondissement_of_St_Laurent_du_Maro.html" class="destination_read_more" target="_blank">
                Localiser sur sur Tripadvisor            </a>
                
            <div class="social_items">
            
                                
            </div>
            
        </div>

                <!--end ou dormir acf fields-->
        
        <div class="entry-content">
            <div class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="/ou_dormir/hotel-amazonia-du-fleuve/" data-a2a-title="Hôtel Amazonia du Fleuve ***"><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fhotel-amazonia-du-fleuve%2F&amp;linkname=H%C3%B4tel%20Amazonia%20du%20Fleuve%20%2A%2A%2A" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fou_dormir%2Fhotel-amazonia-du-fleuve%2F&amp;linkname=H%C3%B4tel%20Amazonia%20du%20Fleuve%20%2A%2A%2A" title="Twitter" rel="nofollow noopener" target="_blank"></a></div>        </div><!-- .entry-content -->
    </div>
    </article><!-- #post-## -->
        
    </div>

	</div></div><div id="pgc-1041-0-2"  class="panel-grid-cell" ><div class="mwdc_filtration_wrapper"><ul class="tax_terms_wrap ul_margin_none"><li class="term_item mwdc_filter_posts clear_all_filters" data-filter="*" style="opacity: 0"><a href="#">x    supprimer tous les filtres</a></li></ul><h4 class="tax_terms_title">LOCALISATION</h4><ul class="tax_terms_wrap" data-active-filters=""><li class="term_item mwdc_filter_posts" data-filter=".localisation_ou_dormir-centre-ville"><a href="#">Centre-ville</a></li><li class="term_item mwdc_filter_posts" data-filter=".localisation_ou_dormir-proximite-centre-ville"><a href="#">Proximité centre-ville</a></li><li class="term_item mwdc_filter_posts" data-filter=".localisation_ou_dormir-peripherie"><a href="#">Périphérie</a></li></ul><h4 class="tax_terms_title">TYPE D’ETABLISSEMENT</h4><ul class="tax_terms_wrap" data-active-filters=""><li class="term_item mwdc_filter_posts" data-filter=".type_detablissement_ou_dormir-hotel"><a href="#">Hôtel</a></li><li class="term_item mwdc_filter_posts" data-filter=".type_detablissement_ou_dormir-carbet-gite"><a href="#">Carbet, gîte</a></li><li class="term_item mwdc_filter_posts" data-filter=".type_detablissement_ou_dormir-chambre-dhotes"><a href="#">Chambre d’hôtes</a></li><li class="term_item mwdc_filter_posts" data-filter=".type_detablissement_ou_dormir-meuble-de-tourisme"><a href="#">Meublé de Tourisme</a></li></ul><h4 class="tax_terms_title">TARIFS</h4><ul class="tax_terms_wrap" data-active-filters=""><li class="term_item mwdc_filter_posts" data-filter=".tarifs_ou_dormir-entre-80e-et-100e-la-nuit"><a href="#">Entre 80€ et 100€ la nuit</a></li><li class="term_item mwdc_filter_posts" data-filter=".tarifs_ou_dormir-entre-5-et-25-e-la-nuit"><a href="#">Entre 5 et 25 € la nuit</a></li><li class="term_item mwdc_filter_posts" data-filter=".tarifs_ou_dormir-entre-26-et-50-e-la-nuit"><a href="#">Entre 26 et 50 € la nuit</a></li><li class="term_item mwdc_filter_posts" data-filter=".tarifs_ou_dormir-entre-51-et-100-e-la-nuit"><a href="#">Entre 51 et 100 € la nuit</a></li><li class="term_item mwdc_filter_posts" data-filter=".tarifs_ou_dormir-plus-de-100-e-la-nuit"><a href="#">Plus de 100 € la nuit</a></li></ul><h4 class="tax_terms_title">SERVICES</h4><ul class="tax_terms_wrap" data-active-filters=""><li class="term_item mwdc_filter_posts" data-filter=".services_ou_dormir-petit-dejeuner"><a href="#">Petit-déjeuner</a></li><li class="term_item mwdc_filter_posts" data-filter=".services_ou_dormir-wifi"><a href="#">WIFI</a></li><li class="term_item mwdc_filter_posts" data-filter=".services_ou_dormir-restaurant-table-dhotes"><a href="#">Restaurant / table d’hôtes</a></li><li class="term_item mwdc_filter_posts" data-filter=".services_ou_dormir-salle-de-reunion"><a href="#">Salle de réunion</a></li><li class="term_item mwdc_filter_posts" data-filter=".services_ou_dormir-piscine"><a href="#">Piscine</a></li><li class="term_item mwdc_filter_posts" data-filter=".services_ou_dormir-parking"><a href="#">Parking</a></li><li class="term_item mwdc_filter_posts" data-filter=".services_ou_dormir-blanchisserie"><a href="#">Blanchisserie</a></li><li class="term_item mwdc_filter_posts" data-filter=".services_ou_dormir-animaux-admis"><a href="#">Animaux admis</a></li><li class="term_item mwdc_filter_posts" data-filter=".services_ou_dormir-acces-handicape"><a href="#">Accès handicapé</a></li><li class="term_item mwdc_filter_posts" data-filter=".services_ou_dormir-location-moustiquaire-et-hamac"><a href="#">Location moustiquaire et hamac</a></li><li class="term_item mwdc_filter_posts" data-filter=".services_ou_dormir-sanitaires-douche"><a href="#">Sanitaires / douche</a></li><li class="term_item mwdc_filter_posts" data-filter=".services_ou_dormir-frigo"><a href="#">Frigo</a></li><li class="term_item mwdc_filter_posts" data-filter=".services_ou_dormir-television"><a href="#">Télévision</a></li><li class="term_item mwdc_filter_posts" data-filter=".services_ou_dormir-cuisine-equipee"><a href="#">Cuisine équipée</a></li><li class="term_item mwdc_filter_posts" data-filter=".services_ou_dormir-terrasse"><a href="#">Terrasse</a></li><li class="term_item mwdc_filter_posts" data-filter=".services_ou_dormir-tennis"><a href="#">Tennis</a></li></ul><h4 class="tax_terms_title">MODE DE REGLEMENT</h4><ul class="tax_terms_wrap" data-active-filters=""><li class="term_item mwdc_filter_posts" data-filter=".mode_de_reglement_ou_dormir-especes"><a href="#">Espèces</a></li><li class="term_item mwdc_filter_posts" data-filter=".mode_de_reglement_ou_dormir-carte-bancaire"><a href="#">Carte Bancaire</a></li><li class="term_item mwdc_filter_posts" data-filter=".mode_de_reglement_ou_dormir-cheque"><a href="#">Chèque</a></li></ul></div><div id="panel-1041-0-2-0" class="so-panel widget widget_sow-editor panel-first-child panel-last-child" data-index="4" ><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	
</div>
</div></div></div>

  <%=content_for :scripts do%>
    <script data-minify="1" type="text/javascript" src="/ecard_files/wp-iec-public.js" id="wp-iec-public-script-js" defer=""></script>
    <script>
      window.onload=function(){
       jQuery('.mwdc_filter_posts').click(function () {
  <%#*jQuery('.mwdc_filter_posts').removeClass('active');%>   
  jQuery(this).toggleClass('active');
      var select=jQuery('.mwdc_filter_posts.active').toArray().map(x=>x.dataset.filter).join(', ');

    jQuery(select).show();
  jQuery('.ou_dormir').not(select).hide();

});
const url = window.location.href;
const strs = url.split('#');
const id = strs.at(-1)
console.log(id)
if (!id.includes('http')) {
  document.querySelector("[data-filter='."+id+"']").click();
  }

      }
      
      </script>
    <%end%>
      
      