<!DOCTYPE html><html><head><meta charset='UTF-8' />
    
    </head><body class='GF_AJAX_POSTBACK'>
                <div class='gf_browser_chrome gform_wrapper gform_validation_error' id='gform_wrapper_1' style='display:none'><div id='gf_1' class='gform_anchor' tabindex='-1'></div>
                    
                    
                    
                    <%=render "formevent", event: @event%>
                        </div>
    
    
    
    </body></html>
