<!DOCTYPE html><html><head><meta charset='UTF-8' /></head><body class='GF_AJAX_POSTBACK'>
                    
                    



<div id="gform_confirmation_wrapper_1" class="gform_confirmation_wrapper "><div id="gform_confirmation_message_1" class="gform_confirmation_message_1 gform_confirmation_message">Merci de nous avoir contacté ! Nous vous répondrons dans les plus brefs délais.</div></div>




                        </div></body></html>
