<div id="gform_confirmation_wrapper_4" class="gform_confirmation_wrapper "><div id="gform_confirmation_message_4" class="gform_confirmation_message_4 gform_confirmation_message"><h2></h2><br>
<h2>Merci de nous avoir contactés ! Nous prendrons contact avec vous sous peu.</h2></div></div>
