<div class="site-info">
                        Office de Tourisme de  Saint-Laurent du Maroni   |   Tous droit  réservés   |   © 2022                    
                    </div><!-- .site-info -->