

			
<article id="post-2916" class="post-2916 page type-page status-publish post">

			<header class="entry-header">
			<h1 class="entry-title">Plan du site</h1>		</header><!-- .entry-header -->
	
	
	<div class="entry-content">
		<div class="wsp-container"><h2 class="wsp-pages-title">Pages</h2>
<ul class="wsp-pages-list">
<li class="page_item page-item-617"><a href="/sports-et-loisirs/">ACTIVITÉS ET LOISIRS</a></li>
<li class="page_item page-item-1175"><a href="/agenda-et-evenements/">AGENDA ET EVENEMENTS</a></li>
<li class="page_item page-item-2689"><a href="/annoncez-votre-evenement/">ANNONCEZ VOTRE EVENEMENT</a></li>
<li class="page_item page-item-7334"><a href="/contactez-nous/">CONTACTEZ-NOUS</a></li>
<li class="page_item page-item-6942"><a href="/covid-19/">COVID-19</a></li>
<li class="page_item page-item-2918"><a href="/credits/">Crédits</a></li>
<li class="page_item page-item-7099"><a href="/demarche-qualite/">Démarche qualité</a></li>
<li class="page_item page-item-7090"><a href="/devenir-partenaire/">Devenir partenaire</a></li>
<li class="page_item page-item-2065"><a href="/envoyer-une-ecard/">envoyer une ecard</a></li>
<li class="page_item page-item-2454"><a href="/equipements-culturels/">ÉQUIPEMENTS CULTURELS</a></li>
<li class="page_item page-item-6986"><a href="/espace-pro/">Espace pro</a></li>
<li class="page_item page-item-3570"><a href="/experiences-a-vivre/">EXPERIENCES A VIVRE</a></li>
<li class="page_item page-item-543"><a href="/experiences-a-vivre-2/">EXPERIENCES A VIVRE data</a></li>
<li class="page_item page-item-1077"><a href="/">Home</a></li>
<li class="page_item page-item-445"><a href="/incontournables/">INCONTOURNABLES</a></li>
<li class="page_item page-item-3559"><a href="/incontournables-data/">INCONTOURNABLES data</a></li>
<li class="page_item page-item-769"><a href="/infos-pratiques/">INFOS PRATIQUES</a></li>
<li class="page_item page-item-695"><a href="/les-mysteres-de-louest/">LES MYSTERES DE L’OUEST</a></li>
<li class="page_item page-item-2920"><a href="/mentions-legales/">Mentions légales</a></li>
<li class="page_item page-item-7079"><a href="/mieux-connaitre-votre-ot/">Mieux connaître votre OT</a></li>
<li class="page_item page-item-16"><a href="/mwdc_file/">mwdc_file</a></li>
<li class="page_item page-item-73"><a href="/newsletter/">Newsletter</a></li>
<li class="page_item page-item-7103"><a href="/observatoire/">Observatoire</a></li>
<li class="page_item page-item-1041"><a href="/ou-dormir/">OÙ DORMIR</a></li>
<li class="page_item page-item-2916 current_page_item"><a href="/plan-du-site/">Plan du site</a></li>
<li class="page_item page-item-7094"><a href="/porteurs-de-projet/">Porteurs de projet</a></li>
<li class="page_item page-item-799"><a href="/restaurants-et-bars/">RESTAURANTS ET BARS</a></li>
<li class="page_item page-item-374"><a href="/un-peu-dhistoire/">UN PEU D’HISTOIRE</a></li>
<li class="page_item page-item-1145"><a href="/weather-archive/">Weather archive</a></li>
</ul>
<h2 class="wsp-posts-title">Articles par catégorie</h2>
<ul class="wsp-posts-list">
	<li><strong class="wsp-category-title">Category: <a href="/category/non-classifiee/">Non classifié(e)</a></strong>
<ul class="wsp-posts-list">		<li class="wsp-post"><a href="/les-foulees-de-malgaches/">Les foulées de Malgaches</a></li>
		<li class="wsp-post"><a href="/annulation-de-3-visites-du-camp-ce-week-end/">Annulation de 3 visites du Camp ce week-end</a></li>
		<li class="wsp-post"><a href="/annulation-visite-du-camp-16h30-jeudi-19-juillet/">ANNULATION VISITE DU CAMP &#8211; 16H30 / JEUDI 19 JUILLET</a></li>
</ul></li>
</ul>
<h2 class="wsp-popups-title">Fenêtres modales</h2>
<ul class="wsp-popups-list">
<li><a href="/?post_type=popup&amp;p=6981">Informations Covid-19</a></li>
</ul>
<h2 class="wsp-restaurants_et_barss-title">Restaurants et bars</h2>
<ul class="wsp-restaurants_et_barss-list">
<li><a href="/restaurants_et_barss/la-goelette/">LA GOELETTE</a></li>
<li><a href="/restaurants_et_barss/tipic-kreols/">TIPIC KREOL’S</a></li>
<li><a href="/restaurants_et_barss/le-saint-jean/">LE SAINT JEAN</a></li>
<li><a href="/restaurants_et_barss/lascoustic-lounge/">L’ASCOUSTIK LOUNGE</a></li>
<li><a href="/restaurants_et_barss/le-paradis-des-amis/">LE PARADIS DES AMIS</a></li>
<li><a href="/restaurants_et_barss/chez-felicia/">CHEZ FELICIA</a></li>
<li><a href="/restaurants_et_barss/chez-loe/">CHEZ LOE</a></li>
<li><a href="/restaurants_et_barss/chez-flore/">CHEZ FLORE</a></li>
<li><a href="/restaurants_et_barss/chez-neiman/">CHEZ NEMAN</a></li>
<li><a href="/restaurants_et_barss/chez-cossou/">LE JAMAIS GOUTE</a></li>
<li><a href="/restaurants_et_barss/agami/">AGAMI</a></li>
<li><a href="/restaurants_et_barss/larc-en-ciel/">L’ARC EN CIEL</a></li>
<li><a href="/restaurants_et_barss/le-toucan/">LE TOUCAN</a></li>
<li><a href="/restaurants_et_barss/le-point-couleur/">LE POINT COULEUR</a></li>
<li><a href="/restaurants_et_barss/snack-kaho-melo/">SNACK KAHO MELO</a></li>
<li><a href="/restaurants_et_barss/chez-kachia/">CHEZ KACHIA</a></li>
<li><a href="/restaurants_et_barss/dragon-dor/">DRAGON D’OR</a></li>
<li><a href="/restaurants_et_barss/snack-lulu/">SNACK LULU</a></li>
<li><a href="/restaurants_et_barss/larlequin/">L’ARLEQUIN</a></li>
<li><a href="/restaurants_et_barss/pizza-flash/">PIZZA FLASH</a></li>
<li><a href="/restaurants_et_barss/ti-bambou/">TI BAMBOU</a></li>
</ul>
<h2 class="wsp-ou_dormirs-title">Ou dormir</h2>
<ul class="wsp-ou_dormirs-list">
<li><a href="/ou_dormir/althotel/">Alt'Hotel</a></li>
<li><a href="/ou_dormir/hotel-la-tentiaire/">Hôtel La Tentiaire</a></li>
<li><a href="/ou_dormir/hotel-au-garage/">Hôtel Au Garage</a></li>
<li><a href="/ou_dormir/hotel-chez-julienne/">Hôtel « Chez Julienne »</a></li>
<li><a href="/ou_dormir/les-relais-des-3-lacs/">Hôtel Domaine du Lac Bleu</a></li>
<li><a href="/ou_dormir/carbet-toubo/">Carbet Toubo</a></li>
<li><a href="/ou_dormir/gite-amazonie-accueil/">Gîte Amazonie Accueil</a></li>
<li><a href="/ou_dormir/kalina-tapala/">Kali’na Tapala</a></li>
<li><a href="/ou_dormir/palambala/">Palambala</a></li>
<li><a href="/ou_dormir/carbet-postou/">Carbet Postou</a></li>
<li><a href="/ou_dormir/gite-moutouchi/">Gîte Moutouchi</a></li>
<li><a href="/ou_dormir/le-saint-jean/">Le Saint Jean</a></li>
<li><a href="/ou_dormir/auberges-des-chutes-voltaires/">Auberges des Chutes Voltaires</a></li>
<li><a href="/ou_dormir/gite-bora-bora/">Gîte Bora Bora</a></li>
<li><a href="/ou_dormir/association-saknena/">Association SAKNENA</a></li>
<li><a href="/ou_dormir/m-leclerc-arnaud/">M. Leclerc Arnaud</a></li>
<li><a href="/ou_dormir/ferme-ca/">Ferme C&amp;A</a></li>
<li><a href="/ou_dormir/location-saisonniere-bls/">SLJB 973</a></li>
<li><a href="/ou_dormir/m-bertrand-karl/">M. Bertrand Karl</a></li>
<li><a href="/ou_dormir/m-leo/">Locations Saisonnières</a></li>
<li><a href="/ou_dormir/mme-polumar/">Mme Polumar</a></li>
<li><a href="/ou_dormir/hotel-star/">Hôtel Star ***</a></li>
<li><a href="/ou_dormir/hotel-amazonia-du-fleuve/">Hôtel Amazonia du Fleuve ***</a></li>
</ul>
<h2 class="wsp-events-title">Event</h2>
<ul class="wsp-events-list">
<li><a href="/event/foulees-des-malgaches/">Foulées des malgaches</a></li>
<li><a href="/event/micro-folie-plateforme-culturelle-au-service-des-territoires/">Micro-folie : plateforme culturelle au service des territoires</a></li>
<li><a href="/event/restitution-de-residence-terres-melees/">Restitution de résidence - Terres mêlées</a></li>
<li><a href="/event/fete-du-court-metrage/">Fête du court métrage - 16 au 22 Mars 2022</a></li>
<li><a href="/event/carnaval-2022/">Carnaval 2022</a></li>
<li><a href="/event/18eme-edition-marche-artisanal-de-noel/">18ème Edition - Marché Artisanal de Noël</a></li>
<li><a href="/event/17eme-edition-des-danses-metisses/">17ème Edition des danses métisses</a></li>
<li><a href="/event/festival-fifac/">Festival FIFAC</a></li>
<li><a href="/event/semaine-du-developpement-durable/">Semaine du développement durable</a></li>
<li><a href="/event/6737/">INSCRIPTIONS MAN 2021</a></li>
<li><a href="/event/exposition-amazoniak/">Exposition "AMAZONIAK"</a></li>
<li><a href="/event/appel-a-photos-ou-ecrits-davant-1970/">Appel à photos ou écrits d'avant 1970</a></li>
<li><a href="/event/marche-des-transformateurs/">Marché des transformateurs</a></li>
<li><a href="/event/les-20-ans-de-la-loi-taubira/">Les 20 ans de la loi Taubira</a></li>
<li><a href="/event/exposition-hors-les-murs-puubaaka/">Exposition hors les murs "PUUBAAKA"</a></li>
<li><a href="/event/fetes-des-meres/">Fêtes des mères</a></li>
<li><a href="/event/conference-rencontres-autour-de-la-revue-litteraire-oyapock-2/">"CONFERENCE" La Nouvelle-Calédonie: institutions et politiques</a></li>
<li><a href="/event/les-foulees-des-malgaches/">Les foulées des Malgaches</a></li>
<li><a href="/event/conference-rencontres-autour-de-la-revue-litteraire-oyapock/">"CONFERENCE" Rencontres autour de la revue littéraire Oyapock</a></li>
<li><a href="/event/portes-ouvertes-et-assemblees-generales-a-ladng/">Portes ouvertes et assemblées générales à l'ADNG</a></li>
<li><a href="/event/atelier-initiation-a-lart-tembe/">ATELIER "Initiation à l'art Tembé"</a></li>
<li><a href="/event/ateliers-art-visuel-et-creations-et-utilisation-de-pochoirs/">ATELIER "Art visuel et création et utilisation de pochoirs"</a></li>
<li><a href="/event/conference-la-colonisation-de-la-guyane-au-xviieme-siecle-1626-1697/">CONFERENCE "La colonisation de la Guyane au XVIIème siècle (1626 -1697)"</a></li>
<li><a href="/event/exposition-hors-les-murs-chekepatty/">EXPOSITION "Hors les murs" Chekepatty</a></li>
<li><a href="/event/stage-de-cirque-avec-latitude-cirque/">Stage de Cirque avec Latitude Cirque</a></li>
<li><a href="/event/6493/">Vente d'artisanat à l'occasion de la Saint-Valentin</a></li>
<li><a href="/event/exposition-entre-nature-culture/">Annulation de l'exposition Entre Nature &amp; Culture</a></li>
<li><a href="/event/visioconference-le-nengue-tongo-les-mots-disent-litineraire-des-marrons-bushinenge/">Conférence - L'écriture dans tous ces états</a></li>
<li><a href="/event/conference-restitution-de-residence-dartistes/">Conférence - Restitution de résidence d'artiste</a></li>
<li><a href="/event/marche-artisanal-de-noel-2020/">Marché Artisanal de Noël 2020</a></li>
<li><a href="/event/atelier-culinaire-special-fetes-de-noel/">Atelier culinaire spécial fêtes de Noël</a></li>
<li><a href="/event/conference-le-tourisme-en-outre-mer-passe-present-futur/">Conférence: Le tourisme en Outre-mer , passé, présent, futur</a></li>
<li><a href="/event/nuit-europeenne-des-musees/">Nuit européenne des musées</a></li>
<li><a href="/event/visite-guidee-camp-la-nuit-tremble/">Visite nocturne Camp la nuit Tremble</a></li>
<li><a href="/event/seconde-edition-du-festival-fifac/">Seconde édition du festival FIFAC</a></li>
<li><a href="/event/programme-des-spectacles-2020-2021/">Programme des spectacles 2020 - 2021</a></li>
<li><a href="/event/journees-europeennes-du-patrimoine-2020/">Journées Européennes du Patrimoine 2020</a></li>
<li><a href="/event/ateliers-de-sculpture-en-bronze/">Ateliers de sculpture en bronze</a></li>
<li><a href="/event/6303/">Atelier du patrimoine</a></li>
<li><a href="/event/ateliers-culinaires/">Ateliers culinaires</a></li>
<li><a href="/event/reprise-des-ateliers-culinaires/">Reprise des ateliers culinaires</a></li>
<li><a href="/event/dispositions-coronavirus/">Réouverture Post-Covid</a></li>
<li><a href="/event/atelier-culinaire-marinade-de-morue/">Atelier culinaire - Marinade de Morue</a></li>
<li><a href="/event/6118/">Marché Artisanal</a></li>
<li><a href="/event/6093/">Foulées des Malgaches</a></li>
<li><a href="/event/carnaval-2020/">Carnaval 2020</a></li>
<li><a href="/event/marche-artisanal-de-noel-06-07-decembre-2019/">Marché Artisanal de Noël - 06 &amp; 07 Décembre 2019</a></li>
<li><a href="/event/concert-silencieux-15-septembre-2019/">Concert silencieux | 15 septembre 2019</a></li>
<li><a href="/event/espaces-animations-du-tdg-22-aout-2019/">Espaces Animations du TDG | 22 aôut 2019</a></li>
<li><a href="/event/1er-dancebootcamp-guyane-24-et-25-aout-2019/">1er Dancebootcamp Guyane! | 24 et 25 août 2019</a></li>
<li><a href="/event/fete-patronale-9-au-12-aout-2019/">Fête patronale | 9 au 12 août 2019</a></li>
<li><a href="/event/concert-talent-dor-31-juillet-2019/">Concert Talent d'or | 31 juillet 2019</a></li>
<li><a href="/event/kouri-kolor/">Kouri Kolor | 9 août 2019</a></li>
<li><a href="/event/bouger-avec-saint-laurent-du-29-07-au-2-08-2019/">Bouger avec Saint-Laurent | du 29/07 au 2/08/2019</a></li>
<li><a href="/event/mini-marathon-10-aout-2019/">Mini marathon | 10 août 2019</a></li>
<li><a href="/event/guide-touristique-2019-2021-vivez-lexperience/">Guide Touristique 2019/2021| Vivez l'expérience !</a></li>
<li><a href="/event/cest-mon-patrimoine-8-au-12-juillet-5-au-9-aout-2019/">C'est mon patrimoine ! | 8 au 12 juillet | 5 au 9 août 2019</a></li>
<li><a href="/event/tournoi-de-football-21-au-27-juillet/">Tournoi de football | du 21 juin au 27 juillet</a></li>
<li><a href="/event/maroni-parc-du-6-juillet-au-25-aout-2019/">Maroni Parc | du 6 juillet au 25 août 2019</a></li>
<li><a href="/event/freedom-zumba-party-10-juin-2019/">Freedom Zumba Party | 10 juin 2019</a></li>
<li><a href="/event/restitution-de-residence-vendredi-14-juin-2019/">Restitution de résidence | vendredi 14 juin 2019</a></li>
<li><a href="/event/rendez-vous-de-patrimoine-29-mai-2019/">La fête de la musique | 21 juin 2019</a></li>
<li><a href="/event/semi-marathon-des-libertes-09-juin-2019/">Semi-marathon des Libertés | 09 juin 2019</a></li>
<li><a href="/event/exposition-du-17-mai-au-18-aout-2019/">Exposition | du 17 mai au 18 août 2019</a></li>
<li><a href="/event/exposition-du-06-mai-au-07-juillet-2010/">Exposition | du 06 mai au 07 juillet 2019</a></li>
<li><a href="/event/mois-de-la-commemoration-de-labolition-de-lesclavage-en-guyane/">MOIS DE LA COMMÉMORATION DE L'ABOLITION DE L'ESCLAVAGE EN GUYANE</a></li>
<li><a href="/event/les-berges-en-vacances-03-au-05-mai/">Les Berges en Vacances | 03 au 05 mai 2019</a></li>
<li><a href="/event/les-ateliers-culinaires/">Atelier Culinaire | Date et inscription 12 octobre 2019</a></li>
<li><a href="/event/atelier-biere-artisanale-mercredi-27-mars-2019/">Atelier bière artisanale | mercredi 27 mars 2019</a></li>
<li><a href="/event/journee-internationale-pour-les-droits-des-femmes-09-mars-2019/">Journée internationale pour les droits des femmes | 09 mars 2019</a></li>
<li><a href="/event/concours-instagram-monplusbeaucostume-du-16-au-23-fevrier-2019/">#MonPlusBeauCostume | du 16 au 23 février 2019</a></li>
<li><a href="/event/exposition-gratuit-mercredi-13-fevrier-2019/">La langue Kali'na | jeudi 08 août 2019</a></li>
<li><a href="/event/carnaval-2019-ckonsa/">Carnaval 2019 | C'KONSA</a></li>
<li><a href="/event/lancement-ariane-5-date-et-inscriptions-pour-le-19-octobre/">Lancement ARIANE VA249 | 06 août 2019</a></li>
<li><a href="/event/foulees-de-balabusi-09-fevrier-2019/">Triathlon "Le MaroniMan" | 7 avril  2019</a></li>
<li><a href="/event/artisanat-africains-du-09-au-12-janvier-2019/">Artisanat Africains | du 09 au 12 Janvier 2019</a></li>
<li><a href="/event/information-pratique-2-2/">Information Pratique</a></li>
<li><a href="/event/tan-fe-tan-15-decembre-2018/">Festivités | Saint-Laurent du Maroni fête ses 70 ans</a></li>
<li><a href="/event/visite-guidee-de-la-ville/">Visite Guidée de la ville</a></li>
<li><a href="/event/information-pratique-2/">Information Pratique</a></li>
<li><a href="/event/information-pratique/">Information Pratique</a></li>
<li><a href="/event/marche-artisanal-de-noel-07-08-decembre/">Marché Artisanal de Noël | 07 &amp; 08 décembre</a></li>
<li><a href="/event/ateliers-du-patrimoine/">Ateliers du Patrimoine</a></li>
<li><a href="/event/botoman-26-octobre/">BotoMan | 26 octobre-30 novembre</a></li>
<li><a href="/event/boto-groove-samedi-06-octobre-2018/">Boto Groove | samedi 06 octobre 2018</a></li>
<li><a href="/event/america-molo-man-du-13-au-19-octobre-2018/">América Molo Man | Du 13 au 19 octobre 2018</a></li>
<li><a href="/event/camp-la-nuit-tremble-date-et-inscription-pour-le-31-octobre-2018/">Camp la Nuit Tremble... | Date et inscription pour le 31 octobre  2018</a></li>
<li><a href="/event/trimestre-bushinengue/">Trimestre Bushinengué</a></li>
<li><a href="/event/rappel-inscription-marche-de-noel/">Rappel Inscription Marché de Noël</a></li>
<li><a href="/event/rencontre-plus-dedicace-avec-colin-niel-le-20-septembre-2018/">Rencontre plus Dédicace avec Colin Niel le 20 septembre 2018</a></li>
<li><a href="/event/fete-du-sport-en-famille-le-30-septembre-2018-au-stade-rene-long/">FÊTE DU SPORT EN FAMILLE LE 30 SEPTEMBRE 2018 AU STADE RENÉ LONG</a></li>
<li><a href="/event/world-cleanup-day-15-septembre-2018/">World Cleanup Day 15 septembre 2018</a></li>
<li><a href="/event/marche-nocturne-tous-les-1er-jeudi-du-mois/">Marché Nocturne | jeudi 1 août 2019</a></li>
<li><a href="/event/journees-europeennes-du-patrimoine-14-15-et-16-septembre-2018/">Journées européennes du patrimoine | 14, 15 et 16 septembre 2018 à 9h30, 11h, 15h et 16h30.</a></li>
<li><a href="/event/ouverture-inscription-marche-artisanal/">Ouverture inscription Marché Artisanal de Noël 2019</a></li>
<li><a href="/event/family-vibes-samedi-25-aout-2018/">FAMILY VIBES | SAMEDI 25 AOÛT 2018</a></li>
<li><a href="/event/camp-la-nuit-tombe-premiere-date-et-inscription-pour-le-25-aout-2018/">« Camp la Nuit Tombe » | Date et inscription 31 août 2019</a></li>
<li><a href="/event/3155/">6ème ÉDITION MINI-MARATHON l SAMEDI 11 AOÛT 2018</a></li>
<li><a href="/event/decouverte-du-falun-gong-l-jeudi-06-aout-2018/">DÉCOUVERTE DU "FALUN GONG" l JEUDI 06 AOUT 2018</a></li>
<li><a href="/event/camp-la-nuit-tombe-premiere-date-et-inscription-pour-le-10-aout-2018/">« Camp la Nuit tombe » | Date et inscription pour le 10 août  2018</a></li>
<li><a href="/event/fete-patronale-de-st-laurent-du-maroni-l-10-11-et-12-aout-2018/">FÊTE PATRONALE DE ST LAURENT DU MARONI l 10-11 ET 12 AOÛT 2018</a></li>
<li><a href="/event/accueils-collectifs-de-mineurs-l-animaroni/">ACCUEILS COLLECTIFS DE MINEURS l ANI'MARONI</a></li>
<li><a href="/event/cest-mon-patrimoine/">C'est Mon Patrimoine</a></li>
<li><a href="/event/maroni-parc-la-roche-bleue-du-2-au-31-juillet/">MARONI PARC - LA ROCHE BLEUE / DU 2 AU 31 JUILLET</a></li>
</ul>
<h2 class="wsp-event-types-title">Event type</h2>
<ul class="wsp-event-types-list">
<li><a href="/event-type/boutique/">Boutique</a></li>
<li><a href="/event-type/camp-de-la-transportation/">Camp de la transportation</a></li>
<li><a href="/event-type/cinema/">Cinéma</a></li>
<li><a href="/event-type/conferences/">Conférences</a></li>
<li><a href="/event-type/culture/">Culture</a></li>
<li><a href="/event-type/expositions/">Expositions</a></li>
<li><a href="/event-type/loisirs/">Loisirs</a></li>
<li><a href="/event-type/marche/">Marché</a></li>
<li><a href="/event-type/patrimoine-traditions/">Patrimoine &amp; Traditions</a></li>
<li><a href="/event-type/sante/">Santé</a></li>
<li><a href="/event-type/soirees/">Soirées</a></li>
<li><a href="/event-type/sport/">Sport</a></li>
</ul>
<h2 class="wsp-localisation_restaurants_et_barss-title">LOCALISATION</h2>
<ul class="wsp-localisation_restaurants_et_barss-list">
<li><a href="/localisation_restaurants_et_bars/centre-ville/">Centre-ville</a></li>
<li><a href="/localisation_restaurants_et_bars/peripherie/">Périphérie</a></li>
<li><a href="/localisation_restaurants_et_bars/proximite-centre-ville/">Proximité centre-ville</a></li>
</ul>
<h2 class="wsp-mode_de_paiement_restaurants-title">MODE DE PAIEMENT</h2>
<ul class="wsp-mode_de_paiement_restaurants-list">
<li><a href="/mode_de_paiement_restaurant/carte-bancaire/">Carte bancaire</a></li>
<li><a href="/mode_de_paiement_restaurant/cheque-vacances/">Chèque-vacances</a></li>
<li><a href="/mode_de_paiement_restaurant/especes/">Espèces</a></li>
</ul>
<h2 class="wsp-type_detablissement_restaurants-title">TYPE D’ETABLISSEMENT</h2>
<ul class="wsp-type_detablissement_restaurants-list">
<li><a href="/type_detablissement_restaurant/bar-pub/">Bar/ Pub</a></li>
<li><a href="/type_detablissement_restaurant/pizzeria/">Pizzeria</a></li>
<li><a href="/type_detablissement_restaurant/restaurant/">Restaurant</a></li>
<li><a href="/type_detablissement_restaurant/snack-creperie-glacier/">Snack / Crêperie/ Glacier</a></li>
</ul>
<h2 class="wsp-type_de_cuisine_restaurants-title">TYPE DE CUISINE</h2>
<ul class="wsp-type_de_cuisine_restaurants-list">
<li><a href="/type_de_cuisine_restaurant/asiatique/">Asiatique</a></li>
<li><a href="/type_de_cuisine_restaurant/francaise-adaptee-aux-produits-locaux/">Française adaptée aux produits locaux</a></li>
<li><a href="/type_de_cuisine_restaurant/locale/">Locale</a></li>
<li><a href="/type_de_cuisine_restaurant/pizzeria/">Pizzeria</a></li>
</ul>
<h2 class="wsp-services_restaurants-title">SERVICES</h2>
<ul class="wsp-services_restaurants-list">
<li><a href="/services_restaurant/climatisation/">Climatisation</a></li>
<li><a href="/services_restaurant/climatisation-2/">Climatisation</a></li>
<li><a href="/services_restaurant/espace-de-jeux-billard/">Espace de jeux, billard</a></li>
<li><a href="/services_restaurant/parking/">Parking</a></li>
<li><a href="/services_restaurant/petit-dejeuner/">Petit- Déjeuner</a></li>
<li><a href="/services_restaurant/salle-privee/">Salle Privée</a></li>
<li><a href="/services_restaurant/terrasse/">Terrasse</a></li>
<li><a href="/services_restaurant/traiteur/">Traiteur</a></li>
</ul>
<h2 class="wsp-localisation_ou_dormirs-title">LOCALISATION</h2>
<ul class="wsp-localisation_ou_dormirs-list">
<li><a href="/localisation_ou_dormir/centre-ville/">Centre-ville</a></li>
<li><a href="/localisation_ou_dormir/peripherie/">Périphérie</a></li>
<li><a href="/localisation_ou_dormir/proximite-centre-ville/">Proximité centre-ville</a></li>
</ul>
<h2 class="wsp-type_detablissement_ou_dormirs-title">TYPE D’ETABLISSEMENT</h2>
<ul class="wsp-type_detablissement_ou_dormirs-list">
<li><a href="/type_detablissement_ou_dormir/carbet-gite/">Carbet, gîte</a></li>
<li><a href="/type_detablissement_ou_dormir/chambre-dhotes/">Chambre d’hôtes</a></li>
<li><a href="/type_detablissement_ou_dormir/hotel/">Hôtel</a></li>
<li><a href="/type_detablissement_ou_dormir/meuble-de-tourisme/">Meublé de Tourisme</a></li>
</ul>
<h2 class="wsp-tarifs_ou_dormirs-title">TARIFS</h2>
<ul class="wsp-tarifs_ou_dormirs-list">
<li><a href="/tarifs_ou_dormir/entre-26-et-50-e-la-nuit/">Entre 26 et 50 € la nuit</a></li>
<li><a href="/tarifs_ou_dormir/entre-5-et-25-e-la-nuit/">Entre 5 et 25 € la nuit</a></li>
<li><a href="/tarifs_ou_dormir/entre-51-et-100-e-la-nuit/">Entre 51 et 100 € la nuit</a></li>
<li><a href="/tarifs_ou_dormir/plus-de-100-e-la-nuit/">Plus de 100 € la nuit</a></li>
</ul>
<h2 class="wsp-services_ou_dormirs-title">SERVICES</h2>
<ul class="wsp-services_ou_dormirs-list">
<li><a href="/services_ou_dormir/acces-handicape/">Accès handicapé</a></li>
<li><a href="/services_ou_dormir/animaux-admis/">Animaux admis</a></li>
<li><a href="/services_ou_dormir/blanchisserie/">Blanchisserie</a></li>
<li><a href="/services_ou_dormir/cuisine-equipee/">Cuisine équipée</a></li>
<li><a href="/services_ou_dormir/frigo/">Frigo</a></li>
<li><a href="/services_ou_dormir/location-moustiquaire-et-hamac/">Location moustiquaire et hamac</a></li>
<li><a href="/services_ou_dormir/parking/">Parking</a></li>
<li><a href="/services_ou_dormir/petit-dejeuner/">Petit-déjeuner</a></li>
<li><a href="/services_ou_dormir/piscine/">Piscine</a></li>
<li><a href="/services_ou_dormir/restaurant-table-dhotes/">Restaurant / table d’hôtes</a></li>
<li><a href="/services_ou_dormir/salle-de-reunion/">Salle de réunion</a></li>
<li><a href="/services_ou_dormir/sanitaires-douche/">Sanitaires / douche</a></li>
<li><a href="/services_ou_dormir/television/">Télévision</a></li>
<li><a href="/services_ou_dormir/tennis/">Tennis</a></li>
<li><a href="/services_ou_dormir/terrasse/">Terrasse</a></li>
<li><a href="/services_ou_dormir/wifi/">WIFI</a></li>
</ul>
<h2 class="wsp-mode_de_reglement_ou_dormirs-title">MODE DE REGLEMENT</h2>
<ul class="wsp-mode_de_reglement_ou_dormirs-list">
<li><a href="/mode_de_reglement_ou_dormir/carte-bancaire/">Carte Bancaire</a></li>
<li><a href="/mode_de_reglement_ou_dormir/cheque/">Chèque</a></li>
<li><a href="/mode_de_reglement_ou_dormir/especes/">Espèces</a></li>
</ul>
</div>
	</div><!-- .entry-content -->

</article><!-- #post-## -->

	