	
					</div><!-- .site-header-inner -->					

						
			</div><!-- .polestar-container -->
		
		</header><div id="pg-2454-0" class="panel-grid panel-has-style"><div data-one_page_color="#d71921" class="panel-row-style panel-row-style-for-2454-0"><div id="pgc-2454-0-0" class="panel-grid-cell"><div id="panel-2454-0-0-0" class="so-panel widget widget_sow-editor panel-first-child panel-last-child" data-index="0"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<div class="slider-2894 mwdc_slider owl-carousel mwdc_full_height owl-loaded owl-drag" data-navigation_arrows="" data-auto_play="" data-autoplay_timeout="5000" data-items="1"><div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s;"><div class="owl-item"><div><img width="827" height="1207" src="/culture_files/experience-a-vivre-de-Saint-laurent-du-maroni-guyane-3.jpg" class="attachment-full size-full entered lazyloaded" alt="" data-lazy-srcset="/wp-content/uploads/2018/04/experience-a-vivre-de-Saint-laurent-du-maroni-guyane-3.jpg 827w, /wp-content/uploads/2018/04/experience-a-vivre-de-Saint-laurent-du-maroni-guyane-3-206x300.jpg 206w, /wp-content/uploads/2018/04/experience-a-vivre-de-Saint-laurent-du-maroni-guyane-3-768x1121.jpg 768w, /wp-content/uploads/2018/04/experience-a-vivre-de-Saint-laurent-du-maroni-guyane-3-702x1024.jpg 702w" data-lazy-sizes="(max-width: 827px) 100vw, 827px" data-lazy-src="/wp-content/uploads/2018/04/experience-a-vivre-de-Saint-laurent-du-maroni-guyane-3.jpg" data-ll-status="loaded" sizes="(max-width: 827px) 100vw, 827px" srcset="/wp-content/uploads/2018/04/experience-a-vivre-de-Saint-laurent-du-maroni-guyane-3.jpg 827w, /wp-content/uploads/2018/04/experience-a-vivre-de-Saint-laurent-du-maroni-guyane-3-206x300.jpg 206w, /wp-content/uploads/2018/04/experience-a-vivre-de-Saint-laurent-du-maroni-guyane-3-768x1121.jpg 768w, /wp-content/uploads/2018/04/experience-a-vivre-de-Saint-laurent-du-maroni-guyane-3-702x1024.jpg 702w"><noscript><img width="827" height="1207" src="/wp-content/uploads/2018/04/experience-a-vivre-de-Saint-laurent-du-maroni-guyane-3.jpg" class="attachment-full size-full" alt="" srcset="/wp-content/uploads/2018/04/experience-a-vivre-de-Saint-laurent-du-maroni-guyane-3.jpg 827w, /wp-content/uploads/2018/04/experience-a-vivre-de-Saint-laurent-du-maroni-guyane-3-206x300.jpg 206w, /wp-content/uploads/2018/04/experience-a-vivre-de-Saint-laurent-du-maroni-guyane-3-768x1121.jpg 768w, /wp-content/uploads/2018/04/experience-a-vivre-de-Saint-laurent-du-maroni-guyane-3-702x1024.jpg 702w" sizes="(max-width: 827px) 100vw, 827px" /></noscript></div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><svg aria-hidden="true" data-prefix="far" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-left fa-w-8 fa-2x"><path fill="currentColor" d="M231.293 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L70.393 256 251.092 74.87c4.686-4.686 4.686-12.284 0-16.971L231.293 38.1c-4.686-4.686-12.284-4.686-16.971 0L4.908 247.515c-4.686 4.686-4.686 12.284 0 16.971L214.322 473.9c4.687 4.686 12.285 4.686 16.971-.001z" class=""></path></svg></button><button type="button" role="presentation" class="owl-next"><svg aria-hidden="true" data-prefix="far" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-right fa-w-8 fa-2x"><path fill="currentColor" d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z" class=""></path></svg></button></div><div class="owl-dots disabled"></div></div>
</div>
</div></div></div><div id="pgc-2454-0-1" class="panel-grid-cell"><div id="panel-2454-0-1-0" class="so-panel widget widget_sow-headline panel-first-child" data-index="1"><div class="panel-widget-style panel-widget-style-for-2454-0-1-0"><div class="so-widget-sow-headline so-widget-sow-headline-default-c062ef5084d2-2454"><div class="sow-headline-container ">
	<p class="sow-sub-headline">SORTIR / BOUGER</p><h2 class="sow-headline">Équipements culturels</h2></div></div></div></div><div id="panel-2454-0-1-1" class="so-panel widget widget_sow-editor" data-index="2"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<p>Le Camp de la Transportation est devenu un haut lieu culturel où se mélange histoire, patrimoine et spectacle du vivant.</p>
<p>De nombreux autres événements culturels se transposent également partout dans la ville avec notamment « les Tréteaux du Maroni », « America Moloman » ou encore « le Ciné au Quartier ».</p>
</div>
</div></div><div id="panel-2454-0-1-2" class="so-panel widget widget_siteorigin-panels-builder panel-last-child" data-index="3"><div class="scrollify_pagination_wrapper panel-widget-style panel-widget-style-for-2454-0-1-2"><div id="pl-w5d3edbeab47cf" class="panel-layout"><div id="pg-w5d3edbeab47cf-0" class="panel-grid panel-has-style"><div class="mwdc_flex_columns panel-row-style panel-row-style-for-w5d3edbeab47cf-0"><div id="pgc-w5d3edbeab47cf-0-0" class="panel-grid-cell"><div id="panel-w5d3edbeab47cf-0-0-0" class="so-panel widget widget_sow-image panel-first-child" data-index="0"><div class="float_left panel-widget-style panel-widget-style-for-w5d3edbeab47cf-0-0-0"><div class="so-widget-sow-image so-widget-sow-image-default-6b88c04c1f9b">

<div class="sow-image-container">
			<a href="/equipements-culturels/#slide1">
			<img src="/culture_files/bibliotheques-saint-laurent-du-maroni-guyane.jpg" width="400" height="257" data-lazy-srcset="/wp-content/uploads/2018/06/bibliotheques-saint-laurent-du-maroni-guyane.jpg 400w, /wp-content/uploads/2018/06/bibliotheques-saint-laurent-du-maroni-guyane-300x193.jpg 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" title="Bibliothèque" alt="" class="so-widget-image entered lazyloaded" data-lazy-src="/wp-content/uploads/2018/06/bibliotheques-saint-laurent-du-maroni-guyane.jpg" data-ll-status="loaded" sizes="(max-width: 400px) 100vw, 400px" srcset="/wp-content/uploads/2018/06/bibliotheques-saint-laurent-du-maroni-guyane.jpg 400w, /wp-content/uploads/2018/06/bibliotheques-saint-laurent-du-maroni-guyane-300x193.jpg 300w"><noscript><img src="/wp-content/uploads/2018/06/bibliotheques-saint-laurent-du-maroni-guyane.jpg" width="400" height="257" srcset="/wp-content/uploads/2018/06/bibliotheques-saint-laurent-du-maroni-guyane.jpg 400w, /wp-content/uploads/2018/06/bibliotheques-saint-laurent-du-maroni-guyane-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" title="Bibliothèque" alt="" 		class="so-widget-image"/></noscript>
	</a></div>

<h3 class="widget-title">Bibliothèque</h3></div></div></div><div id="panel-w5d3edbeab47cf-0-0-1" class="so-panel widget widget_sow-image panel-last-child" data-index="1"><div class="float_left panel-widget-style panel-widget-style-for-w5d3edbeab47cf-0-0-1"><div class="so-widget-sow-image so-widget-sow-image-default-6b88c04c1f9b">

<div class="sow-image-container">
			<a href="/equipements-culturels/#slide3">
			<img src="/culture_files/theatres-saint-laurent-du-maroni-guyane.jpg" width="400" height="257" data-lazy-srcset="/wp-content/uploads/2018/06/theatres-saint-laurent-du-maroni-guyane.jpg 400w, /wp-content/uploads/2018/06/theatres-saint-laurent-du-maroni-guyane-300x193.jpg 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" title=" Théâtre" alt="" class="so-widget-image entered lazyloaded" data-lazy-src="/wp-content/uploads/2018/06/theatres-saint-laurent-du-maroni-guyane.jpg" data-ll-status="loaded" sizes="(max-width: 400px) 100vw, 400px" srcset="/wp-content/uploads/2018/06/theatres-saint-laurent-du-maroni-guyane.jpg 400w, /wp-content/uploads/2018/06/theatres-saint-laurent-du-maroni-guyane-300x193.jpg 300w"><noscript><img src="/wp-content/uploads/2018/06/theatres-saint-laurent-du-maroni-guyane.jpg" width="400" height="257" srcset="/wp-content/uploads/2018/06/theatres-saint-laurent-du-maroni-guyane.jpg 400w, /wp-content/uploads/2018/06/theatres-saint-laurent-du-maroni-guyane-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" title=" Théâtre" alt="" 		class="so-widget-image"/></noscript>
	</a></div>

<h3 class="widget-title"> Théâtre</h3></div></div></div></div><div id="pgc-w5d3edbeab47cf-0-1" class="panel-grid-cell"><div id="panel-w5d3edbeab47cf-0-1-0" class="so-panel widget widget_sow-image panel-first-child" data-index="2"><div class="float_left panel-widget-style panel-widget-style-for-w5d3edbeab47cf-0-1-0"><div class="so-widget-sow-image so-widget-sow-image-default-6b88c04c1f9b">

<div class="sow-image-container">
			<a href="/equipements-culturels/#slide2">
			<img src="/culture_files/cinema-le-toucan-saint-laurent-du-maron-ouest-guyane.jpg" width="400" height="257" data-lazy-srcset="/wp-content/uploads/2018/06/cinema-le-toucan-saint-laurent-du-maron-ouest-guyane.jpg 400w, /wp-content/uploads/2018/06/cinema-le-toucan-saint-laurent-du-maron-ouest-guyane-300x193.jpg 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" title="Cinéma" alt="" class="so-widget-image entered lazyloaded" data-lazy-src="/wp-content/uploads/2018/06/cinema-le-toucan-saint-laurent-du-maron-ouest-guyane.jpg" data-ll-status="loaded" sizes="(max-width: 400px) 100vw, 400px" srcset="/wp-content/uploads/2018/06/cinema-le-toucan-saint-laurent-du-maron-ouest-guyane.jpg 400w, /wp-content/uploads/2018/06/cinema-le-toucan-saint-laurent-du-maron-ouest-guyane-300x193.jpg 300w"><noscript><img src="/wp-content/uploads/2018/06/cinema-le-toucan-saint-laurent-du-maron-ouest-guyane.jpg" width="400" height="257" srcset="/wp-content/uploads/2018/06/cinema-le-toucan-saint-laurent-du-maron-ouest-guyane.jpg 400w, /wp-content/uploads/2018/06/cinema-le-toucan-saint-laurent-du-maron-ouest-guyane-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" title="Cinéma" alt="" 		class="so-widget-image"/></noscript>
	</a></div>

<h3 class="widget-title">Cinéma</h3></div></div></div><div id="panel-w5d3edbeab47cf-0-1-1" class="so-panel widget widget_sow-image panel-last-child" data-index="3"><div class="float_left panel-widget-style panel-widget-style-for-w5d3edbeab47cf-0-1-1"><div class="so-widget-sow-image so-widget-sow-image-default-6b88c04c1f9b">

<div class="sow-image-container">
			<a href="/equipements-culturels/#slide4">
			<img src="/culture_files/exposition-saint-laurent-du-maroni.jpg" width="400" height="257" data-lazy-srcset="/wp-content/uploads/2018/06/exposition-saint-laurent-du-maroni.jpg 400w, /wp-content/uploads/2018/06/exposition-saint-laurent-du-maroni-300x193.jpg 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" title="expositions" alt="" class="so-widget-image entered lazyloaded" data-lazy-src="/wp-content/uploads/2018/06/exposition-saint-laurent-du-maroni.jpg" data-ll-status="loaded" sizes="(max-width: 400px) 100vw, 400px" srcset="/wp-content/uploads/2018/06/exposition-saint-laurent-du-maroni.jpg 400w, /wp-content/uploads/2018/06/exposition-saint-laurent-du-maroni-300x193.jpg 300w"><noscript><img src="/wp-content/uploads/2018/06/exposition-saint-laurent-du-maroni.jpg" width="400" height="257" srcset="/wp-content/uploads/2018/06/exposition-saint-laurent-du-maroni.jpg 400w, /wp-content/uploads/2018/06/exposition-saint-laurent-du-maroni-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" title="expositions" alt="" 		class="so-widget-image"/></noscript>
	</a></div>

<h3 class="widget-title">expositions</h3></div></div></div></div></div></div></div></div></div></div><div id="pgc-2454-0-2" class="panel-grid-cell"><div id="panel-2454-0-2-0" class="so-panel widget widget_sow-editor panel-first-child panel-last-child" data-index="4"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<div class="mwdc_sizer"></div>
</div>
</div></div></div></div></div></div><div class="one_page_selector " data-one_page_color="#00ae7d" data-section-name="slide1" style="height: 852px;"><div id="pg-2454-1" class="panel-grid panel-has-style"><div class="mwdc_half_height_rows panel-row-style panel-row-style-for-2454-1" data-one_page_color="#00ae7d"><div id="pgc-2454-1-0" class="panel-grid-cell"><div id="panel-2454-1-0-0" class="so-panel widget widget_siteorigin-panels-builder panel-first-child panel-last-child" data-index="5"><div id="pl-w60cb3aabdc517" class="panel-layout"><div id="pg-w60cb3aabdc517-0" class="panel-grid panel-no-style"><div id="pgc-w60cb3aabdc517-0-0" class="panel-grid-cell panel-grid-cell-mobile-last"><div id="panel-w60cb3aabdc517-0-0-0" class="so-panel widget widget_sow-editor panel-first-child panel-last-child" data-index="0"><div class="half_height_slider panel-widget-style panel-widget-style-for-w60cb3aabdc517-0-0-0"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<div id="post-body" class="metabox-holder columns-2">
<div id="postbox-container-2" class="postbox-container">
<div id="advanced-sortables" class="meta-box-sortables ui-sortable">
<div id="slider_shortcode" class="postbox ">
<div class="inside">
<div id="post-body" class="metabox-holder columns-2">
<div id="postbox-container-2" class="postbox-container">
<div id="advanced-sortables" class="meta-box-sortables ui-sortable">
<div id="slider_shortcode" class="postbox ">
<div class="inside"><div class="slider-2860 mwdc_slider owl-carousel mwdc_normal_height owl-loaded owl-drag" data-navigation_arrows="" data-auto_play="" data-autoplay_timeout="5000" data-items="1"><div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s;"><div class="owl-item"><div><img width="4488" height="1283" src="/culture_files/bibliotheques-large-saint-laurent-du-maroni-guyane-1.jpg" class="attachment-full size-full entered lazyloaded" alt="" data-lazy-srcset="/wp-content/uploads/2018/06/bibliotheques-large-saint-laurent-du-maroni-guyane-1.jpg 4488w, /wp-content/uploads/2018/06/bibliotheques-large-saint-laurent-du-maroni-guyane-1-300x86.jpg 300w, /wp-content/uploads/2018/06/bibliotheques-large-saint-laurent-du-maroni-guyane-1-768x220.jpg 768w, /wp-content/uploads/2018/06/bibliotheques-large-saint-laurent-du-maroni-guyane-1-1024x293.jpg 1024w" data-lazy-sizes="(max-width: 4488px) 100vw, 4488px" data-lazy-src="/wp-content/uploads/2018/06/bibliotheques-large-saint-laurent-du-maroni-guyane-1.jpg" data-ll-status="loaded" sizes="(max-width: 4488px) 100vw, 4488px" srcset="/wp-content/uploads/2018/06/bibliotheques-large-saint-laurent-du-maroni-guyane-1.jpg 4488w, /wp-content/uploads/2018/06/bibliotheques-large-saint-laurent-du-maroni-guyane-1-300x86.jpg 300w, /wp-content/uploads/2018/06/bibliotheques-large-saint-laurent-du-maroni-guyane-1-768x220.jpg 768w, /wp-content/uploads/2018/06/bibliotheques-large-saint-laurent-du-maroni-guyane-1-1024x293.jpg 1024w"><noscript><img width="4488" height="1283" src="/wp-content/uploads/2018/06/bibliotheques-large-saint-laurent-du-maroni-guyane-1.jpg" class="attachment-full size-full" alt="" srcset="/wp-content/uploads/2018/06/bibliotheques-large-saint-laurent-du-maroni-guyane-1.jpg 4488w, /wp-content/uploads/2018/06/bibliotheques-large-saint-laurent-du-maroni-guyane-1-300x86.jpg 300w, /wp-content/uploads/2018/06/bibliotheques-large-saint-laurent-du-maroni-guyane-1-768x220.jpg 768w, /wp-content/uploads/2018/06/bibliotheques-large-saint-laurent-du-maroni-guyane-1-1024x293.jpg 1024w" sizes="(max-width: 4488px) 100vw, 4488px" /></noscript></div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><svg aria-hidden="true" data-prefix="far" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-left fa-w-8 fa-2x"><path fill="currentColor" d="M231.293 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L70.393 256 251.092 74.87c4.686-4.686 4.686-12.284 0-16.971L231.293 38.1c-4.686-4.686-12.284-4.686-16.971 0L4.908 247.515c-4.686 4.686-4.686 12.284 0 16.971L214.322 473.9c4.687 4.686 12.285 4.686 16.971-.001z" class=""></path></svg></button><button type="button" role="presentation" class="owl-next"><svg aria-hidden="true" data-prefix="far" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-right fa-w-8 fa-2x"><path fill="currentColor" d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z" class=""></path></svg></button></div><div class="owl-dots disabled"></div></div></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div></div></div></div><div id="pgc-w60cb3aabdc517-0-1" class="panel-grid-cell panel-grid-cell-empty"></div></div><div id="pg-w60cb3aabdc517-1" class="panel-grid panel-no-style"><div id="pgc-w60cb3aabdc517-1-0" class="panel-grid-cell panel-grid-cell-empty"></div><div id="pgc-w60cb3aabdc517-1-1" class="panel-grid-cell"><div id="panel-w60cb3aabdc517-1-1-0" class="so-panel widget widget_sow-headline panel-first-child" data-index="1"><div class="so-widget-sow-headline so-widget-sow-headline-default-74218792fb57"><div class="sow-headline-container ">
	<h2 class="sow-headline">Bibliothèque</h2></div></div></div><div id="panel-w60cb3aabdc517-1-1-1" class="so-panel widget widget_sow-editor panel-last-child" data-index="2"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<h6>Bibliothèque Icek Baron</h6>
<p>Se poser avec un livre…</p>
<p><strong>Horaires (susceptibles de varier en raison de la crise sanitaire):</strong><br>
Lundi, mercredi : 9h00-12h00 / 15h00-17h15<br>
Mardi: 15h00-17h15<br>
Jeudi: 15h00-17h15<br>
Vendredi: 9h00-12h00<br>
Samedi: 9h00-12h00</p>
<p>La bibliothèque s’exporte dans toute la ville et ses alentours avec le Bibliobus<br>
<a class="btn_style_1" href="/wp-content/uploads/2018/06/Itineraire_du_bibliobus.pdf" target="_blank" rel="noopener">télécharger l’itinéraire et les étapes <i class="fa fa-chevron-right "></i></a></p>
<hr>
<h6>Camp de la Transportation – Case 2<br>
(+594) 594 34 38 24</h6>
</div>
</div></div></div><div id="pgc-w60cb3aabdc517-1-2" class="panel-grid-cell"><div id="panel-w60cb3aabdc517-1-2-0" class="so-panel widget widget_sow-editor panel-first-child panel-last-child" data-index="3"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	</div>
</div></div></div></div></div></div></div></div></div></div><div class="one_page_selector " data-one_page_color="#069fdb" data-section-name="slide2" style="height: 852px;"><div id="pg-2454-2" class="panel-grid panel-has-style"><div class="mwdc_half_height_rows panel-row-style panel-row-style-for-2454-2" data-one_page_color="#069fdb"><div id="pgc-2454-2-0" class="panel-grid-cell"><div id="panel-2454-2-0-0" class="so-panel widget widget_siteorigin-panels-builder panel-first-child panel-last-child" data-index="6"><div id="pl-w60cb3af519ba2" class="panel-layout"><div id="pg-w60cb3af519ba2-0" class="panel-grid panel-no-style"><div id="pgc-w60cb3af519ba2-0-0" class="panel-grid-cell panel-grid-cell-mobile-last"><div id="panel-w60cb3af519ba2-0-0-0" class="so-panel widget widget_sow-editor panel-first-child panel-last-child" data-index="0"><div class="half_height_slider panel-widget-style panel-widget-style-for-w60cb3af519ba2-0-0-0"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<div id="post-body" class="metabox-holder columns-2">
<div id="postbox-container-2" class="postbox-container">
<div id="advanced-sortables" class="meta-box-sortables ui-sortable">
<div id="slider_shortcode" class="postbox ">
<div class="inside">
<div id="post-body" class="metabox-holder columns-2">
<div id="postbox-container-2" class="postbox-container">
<div id="advanced-sortables" class="meta-box-sortables ui-sortable">
<div id="slider_shortcode" class="postbox ">
<div class="inside">
<div id="post-body" class="metabox-holder columns-2">
<div id="postbox-container-2" class="postbox-container">
<div id="advanced-sortables" class="meta-box-sortables ui-sortable">
<div id="slider_shortcode" class="postbox ">
<div class="inside"><div class="slider-2893 mwdc_slider owl-carousel mwdc_normal_height owl-loaded owl-drag" data-navigation_arrows="" data-auto_play="" data-autoplay_timeout="5000" data-items="1"><div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s;"><div class="owl-item"><div><img width="4488" height="1283" src="data:image/svg+xml,%3Csvg%20xmlns=&#39;http://www.w3.org/2000/svg&#39;%20viewBox=&#39;0%200%204488%201283&#39;%3E%3C/svg%3E" class="attachment-full size-full" alt="" data-lazy-srcset="/wp-content/uploads/2018/06/cinema-avm-guyane-saint-laurent-du-maron-ouest-guyane.jpg 4488w, /wp-content/uploads/2018/06/cinema-avm-guyane-saint-laurent-du-maron-ouest-guyane-300x86.jpg 300w, /wp-content/uploads/2018/06/cinema-avm-guyane-saint-laurent-du-maron-ouest-guyane-768x220.jpg 768w, /wp-content/uploads/2018/06/cinema-avm-guyane-saint-laurent-du-maron-ouest-guyane-1024x293.jpg 1024w" data-lazy-sizes="(max-width: 4488px) 100vw, 4488px" data-lazy-src="/wp-content/uploads/2018/06/cinema-avm-guyane-saint-laurent-du-maron-ouest-guyane.jpg"><noscript><img width="4488" height="1283" src="/wp-content/uploads/2018/06/cinema-avm-guyane-saint-laurent-du-maron-ouest-guyane.jpg" class="attachment-full size-full" alt="" srcset="/wp-content/uploads/2018/06/cinema-avm-guyane-saint-laurent-du-maron-ouest-guyane.jpg 4488w, /wp-content/uploads/2018/06/cinema-avm-guyane-saint-laurent-du-maron-ouest-guyane-300x86.jpg 300w, /wp-content/uploads/2018/06/cinema-avm-guyane-saint-laurent-du-maron-ouest-guyane-768x220.jpg 768w, /wp-content/uploads/2018/06/cinema-avm-guyane-saint-laurent-du-maron-ouest-guyane-1024x293.jpg 1024w" sizes="(max-width: 4488px) 100vw, 4488px" /></noscript></div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><svg aria-hidden="true" data-prefix="far" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-left fa-w-8 fa-2x"><path fill="currentColor" d="M231.293 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L70.393 256 251.092 74.87c4.686-4.686 4.686-12.284 0-16.971L231.293 38.1c-4.686-4.686-12.284-4.686-16.971 0L4.908 247.515c-4.686 4.686-4.686 12.284 0 16.971L214.322 473.9c4.687 4.686 12.285 4.686 16.971-.001z" class=""></path></svg></button><button type="button" role="presentation" class="owl-next"><svg aria-hidden="true" data-prefix="far" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-right fa-w-8 fa-2x"><path fill="currentColor" d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z" class=""></path></svg></button></div><div class="owl-dots disabled"></div></div></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div></div></div></div><div id="pgc-w60cb3af519ba2-0-1" class="panel-grid-cell panel-grid-cell-empty"></div></div><div id="pg-w60cb3af519ba2-1" class="panel-grid panel-no-style"><div id="pgc-w60cb3af519ba2-1-0" class="panel-grid-cell panel-grid-cell-empty"></div><div id="pgc-w60cb3af519ba2-1-1" class="panel-grid-cell"><div id="panel-w60cb3af519ba2-1-1-0" class="so-panel widget widget_sow-headline panel-first-child" data-index="1"><div class="so-widget-sow-headline so-widget-sow-headline-default-74218792fb57"><div class="sow-headline-container ">
	<h2 class="sow-headline">Cinéma</h2></div></div></div><div id="panel-w60cb3af519ba2-1-1-1" class="so-panel widget widget_sow-editor panel-last-child" data-index="2"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<h6>Le Toucan<br>
La Ville propose la projection de films récents, adultes et enfants.<br>
Location de la salle pour des spectacles et soirées culturelles.</h6>
<p><strong>Horaires:</strong></p>
<p>Attention! Des travaux sont en cours !</p>
<p>3 rue Schoelcher<br>
(+594) 594 34 12 36 / <a href="mailto:cinemaletoucan@saintlaurentdumaroni.fr">cinemaletoucan@saintlaurentdumaroni.fr</a></p>
<hr>
<h6>Atelier Vidéo Multimédia (A.V.M.)</h6>
<p>Située en case N°11 du camp de la transportation, cette association de vidéo et de multimédia propose de l’éducation et de la formation à l’image ainsi que de nombreuses projections de films (tout public) tout au long de l’année.</p>
<p>Tél : (+594) 594 27 65 18<br>
Mail : <a href="mailto:contact@avm-guyane.com">contact@avm-guyane.com</a></p>
</div>
</div></div></div><div id="pgc-w60cb3af519ba2-1-2" class="panel-grid-cell"><div id="panel-w60cb3af519ba2-1-2-0" class="so-panel widget widget_sow-editor panel-first-child panel-last-child" data-index="3"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	</div>
</div></div></div></div></div></div></div></div></div></div><div class="one_page_selector " data-one_page_color="#ffcb06" data-section-name="slide3" style="height: 852px;"><div id="pg-2454-3" class="panel-grid panel-has-style"><div class="mwdc_half_height_rows panel-row-style panel-row-style-for-2454-3" data-one_page_color="#ffcb06"><div id="pgc-2454-3-0" class="panel-grid-cell"><div id="panel-2454-3-0-0" class="so-panel widget widget_siteorigin-panels-builder panel-first-child panel-last-child" data-index="7"><div id="pl-w5bd06de33f0ae" class="panel-layout"><div id="pg-w5bd06de33f0ae-0" class="panel-grid panel-no-style"><div id="pgc-w5bd06de33f0ae-0-0" class="panel-grid-cell panel-grid-cell-mobile-last"><div id="panel-w5bd06de33f0ae-0-0-0" class="so-panel widget widget_sow-editor panel-first-child panel-last-child" data-index="0"><div class="half_height_slider panel-widget-style panel-widget-style-for-w5bd06de33f0ae-0-0-0"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<div id="post-body" class="metabox-holder columns-2">
<div id="postbox-container-2" class="postbox-container">
<div id="advanced-sortables" class="meta-box-sortables ui-sortable">
<div id="slider_shortcode" class="postbox ">
<div class="inside">
<div id="post-body" class="metabox-holder columns-2">
<div id="postbox-container-2" class="postbox-container">
<div id="advanced-sortables" class="meta-box-sortables ui-sortable">
<div id="slider_shortcode" class="postbox ">
<div class="inside">
<div id="post-body" class="metabox-holder columns-2">
<div id="postbox-container-2" class="postbox-container">
<div id="advanced-sortables" class="meta-box-sortables ui-sortable">
<div id="slider_shortcode" class="postbox ">
<div class="inside">
<div id="post-body" class="metabox-holder columns-2">
<div id="postbox-container-2" class="postbox-container">
<div id="advanced-sortables" class="meta-box-sortables ui-sortable">
<div id="slider_shortcode" class="postbox ">
<div class="inside"><div class="slider-2878 mwdc_slider owl-carousel mwdc_normal_height owl-loaded owl-drag" data-navigation_arrows="" data-auto_play="" data-autoplay_timeout="5000" data-items="1"><div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s;"><div class="owl-item"><div><img width="4488" height="1283" src="data:image/svg+xml,%3Csvg%20xmlns=&#39;http://www.w3.org/2000/svg&#39;%20viewBox=&#39;0%200%204488%201283&#39;%3E%3C/svg%3E" class="attachment-full size-full" alt="" data-lazy-srcset="/wp-content/uploads/2018/06/theatres-large-saint-laurent-du-maroni-guyane.jpg 4488w, /wp-content/uploads/2018/06/theatres-large-saint-laurent-du-maroni-guyane-300x86.jpg 300w, /wp-content/uploads/2018/06/theatres-large-saint-laurent-du-maroni-guyane-768x220.jpg 768w, /wp-content/uploads/2018/06/theatres-large-saint-laurent-du-maroni-guyane-1024x293.jpg 1024w" data-lazy-sizes="(max-width: 4488px) 100vw, 4488px" data-lazy-src="/wp-content/uploads/2018/06/theatres-large-saint-laurent-du-maroni-guyane.jpg"><noscript><img width="4488" height="1283" src="/wp-content/uploads/2018/06/theatres-large-saint-laurent-du-maroni-guyane.jpg" class="attachment-full size-full" alt="" srcset="/wp-content/uploads/2018/06/theatres-large-saint-laurent-du-maroni-guyane.jpg 4488w, /wp-content/uploads/2018/06/theatres-large-saint-laurent-du-maroni-guyane-300x86.jpg 300w, /wp-content/uploads/2018/06/theatres-large-saint-laurent-du-maroni-guyane-768x220.jpg 768w, /wp-content/uploads/2018/06/theatres-large-saint-laurent-du-maroni-guyane-1024x293.jpg 1024w" sizes="(max-width: 4488px) 100vw, 4488px" /></noscript></div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><svg aria-hidden="true" data-prefix="far" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-left fa-w-8 fa-2x"><path fill="currentColor" d="M231.293 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L70.393 256 251.092 74.87c4.686-4.686 4.686-12.284 0-16.971L231.293 38.1c-4.686-4.686-12.284-4.686-16.971 0L4.908 247.515c-4.686 4.686-4.686 12.284 0 16.971L214.322 473.9c4.687 4.686 12.285 4.686 16.971-.001z" class=""></path></svg></button><button type="button" role="presentation" class="owl-next"><svg aria-hidden="true" data-prefix="far" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-right fa-w-8 fa-2x"><path fill="currentColor" d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z" class=""></path></svg></button></div><div class="owl-dots disabled"></div></div></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div></div></div></div><div id="pgc-w5bd06de33f0ae-0-1" class="panel-grid-cell panel-grid-cell-empty"></div></div><div id="pg-w5bd06de33f0ae-1" class="panel-grid panel-no-style"><div id="pgc-w5bd06de33f0ae-1-0" class="panel-grid-cell panel-grid-cell-empty"></div><div id="pgc-w5bd06de33f0ae-1-1" class="panel-grid-cell"><div id="panel-w5bd06de33f0ae-1-1-0" class="so-panel widget widget_sow-headline panel-first-child" data-index="1"><div class="so-widget-sow-headline so-widget-sow-headline-default-74218792fb57"><div class="sow-headline-container ">
	<h2 class="sow-headline">Théâtre</h2></div></div></div><div id="panel-w5bd06de33f0ae-1-1-1" class="so-panel widget widget_sow-editor panel-last-child" data-index="2"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<p>Situé dans le Camp de la Transportation, le théâtre Kokolampoe propose tout au long de l’année une programmation de spectacle et créations artistiques locales diversifiée et pour tout public.</p>
<p>Ne surtout pas manquer le festival annuel des « Tréteaux du Maroni », en avril.</p>
<hr>
<h6>Camp de la Transportation – Case 8 et 9</h6>
<p>(+594) 594 34 26 88 /<a href="mailto:infoksadco@gmail.com"> infoksadco@gmail.com</a></p>
<p><a class="btn_style_1" href="/wp-content/uploads/2018/06/Brochure_WEB-Kokolampoe%C2%A9widocreation-1.pdf" target="_blank" rel="noopener">télécharger la brochure de présentation <i class="fa fa-chevron-right "></i></a></p>
</div>
</div></div></div><div id="pgc-w5bd06de33f0ae-1-2" class="panel-grid-cell"><div id="panel-w5bd06de33f0ae-1-2-0" class="so-panel widget widget_sow-editor panel-first-child panel-last-child" data-index="3"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	</div>
</div></div></div></div></div></div></div></div></div></div><div class="one_page_selector overflow_slide" data-one_page_color="#d71921" data-section-name="slide4" style="height: 974.641px;"><div id="pg-2454-4" class="panel-grid panel-has-style"><div class="mwdc_half_height_rows panel-row-style panel-row-style-for-2454-4" data-one_page_color="#d71921"><div id="pgc-2454-4-0" class="panel-grid-cell"><div id="panel-2454-4-0-0" class="so-panel widget widget_siteorigin-panels-builder panel-first-child panel-last-child" data-index="8"><div id="pl-w60cb3bc42aa1d" class="panel-layout"><div id="pg-w60cb3bc42aa1d-0" class="panel-grid panel-no-style"><div id="pgc-w60cb3bc42aa1d-0-0" class="panel-grid-cell panel-grid-cell-mobile-last"><div id="panel-w60cb3bc42aa1d-0-0-0" class="so-panel widget widget_sow-editor panel-first-child panel-last-child" data-index="0"><div class="half_height_slider panel-widget-style panel-widget-style-for-w60cb3bc42aa1d-0-0-0"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<div id="post-body" class="metabox-holder columns-2">
<div id="postbox-container-2" class="postbox-container">
<div id="advanced-sortables" class="meta-box-sortables ui-sortable">
<div id="slider_shortcode" class="postbox ">
<div class="inside">
<div id="post-body" class="metabox-holder columns-2">
<div id="postbox-container-2" class="postbox-container">
<div id="advanced-sortables" class="meta-box-sortables ui-sortable">
<div id="slider_shortcode" class="postbox ">
<div class="inside">
<div id="post-body" class="metabox-holder columns-2">
<div id="postbox-container-2" class="postbox-container">
<div id="advanced-sortables" class="meta-box-sortables ui-sortable">
<div id="slider_shortcode" class="postbox ">
<div class="inside">
<div id="post-body" class="metabox-holder columns-2">
<div id="postbox-container-2" class="postbox-container">
<div id="advanced-sortables" class="meta-box-sortables ui-sortable">
<div id="slider_shortcode" class="postbox ">
<div class="inside">
<div id="post-body" class="metabox-holder columns-2">
<div id="postbox-container-2" class="postbox-container">
<div id="advanced-sortables" class="meta-box-sortables ui-sortable">
<div id="slider_shortcode" class="postbox ">
<div class="inside"><div class="slider-2872 mwdc_slider owl-carousel mwdc_normal_height owl-loaded owl-drag" data-navigation_arrows="" data-auto_play="" data-autoplay_timeout="5000" data-items="1"><div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s;"><div class="owl-item"><div><img width="4488" height="1283" src="data:image/svg+xml,%3Csvg%20xmlns=&#39;http://www.w3.org/2000/svg&#39;%20viewBox=&#39;0%200%204488%201283&#39;%3E%3C/svg%3E" class="attachment-full size-full" alt="" data-lazy-srcset="/wp-content/uploads/2018/06/expoistion-large-saint-laurent-du-maroni-guyane.jpg 4488w, /wp-content/uploads/2018/06/expoistion-large-saint-laurent-du-maroni-guyane-300x86.jpg 300w, /wp-content/uploads/2018/06/expoistion-large-saint-laurent-du-maroni-guyane-768x220.jpg 768w, /wp-content/uploads/2018/06/expoistion-large-saint-laurent-du-maroni-guyane-1024x293.jpg 1024w" data-lazy-sizes="(max-width: 4488px) 100vw, 4488px" data-lazy-src="/wp-content/uploads/2018/06/expoistion-large-saint-laurent-du-maroni-guyane.jpg"><noscript><img width="4488" height="1283" src="/wp-content/uploads/2018/06/expoistion-large-saint-laurent-du-maroni-guyane.jpg" class="attachment-full size-full" alt="" srcset="/wp-content/uploads/2018/06/expoistion-large-saint-laurent-du-maroni-guyane.jpg 4488w, /wp-content/uploads/2018/06/expoistion-large-saint-laurent-du-maroni-guyane-300x86.jpg 300w, /wp-content/uploads/2018/06/expoistion-large-saint-laurent-du-maroni-guyane-768x220.jpg 768w, /wp-content/uploads/2018/06/expoistion-large-saint-laurent-du-maroni-guyane-1024x293.jpg 1024w" sizes="(max-width: 4488px) 100vw, 4488px" /></noscript></div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><svg aria-hidden="true" data-prefix="far" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-left fa-w-8 fa-2x"><path fill="currentColor" d="M231.293 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L70.393 256 251.092 74.87c4.686-4.686 4.686-12.284 0-16.971L231.293 38.1c-4.686-4.686-12.284-4.686-16.971 0L4.908 247.515c-4.686 4.686-4.686 12.284 0 16.971L214.322 473.9c4.687 4.686 12.285 4.686 16.971-.001z" class=""></path></svg></button><button type="button" role="presentation" class="owl-next"><svg aria-hidden="true" data-prefix="far" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-right fa-w-8 fa-2x"><path fill="currentColor" d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z" class=""></path></svg></button></div><div class="owl-dots disabled"></div></div></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div></div></div></div><div id="pgc-w60cb3bc42aa1d-0-1" class="panel-grid-cell panel-grid-cell-empty"></div></div><div id="pg-w60cb3bc42aa1d-1" class="panel-grid panel-no-style"><div id="pgc-w60cb3bc42aa1d-1-0" class="panel-grid-cell panel-grid-cell-empty"></div><div id="pgc-w60cb3bc42aa1d-1-1" class="panel-grid-cell"><div id="panel-w60cb3bc42aa1d-1-1-0" class="so-panel widget widget_sow-headline panel-first-child" data-index="1"><div class="so-widget-sow-headline so-widget-sow-headline-default-74218792fb57"><div class="sow-headline-container ">
	<h2 class="sow-headline">Expositions</h2></div></div></div><div id="panel-w60cb3bc42aa1d-1-1-1" class="so-panel widget widget_sow-editor panel-last-child" data-index="2"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<h6>Le Camp de La Transportation</h6>
<p>Le Camp de La Transportation accueille mensuellement une exposition dans sa galerie d’art située dans l’ancienne salle de relégation collective.</p>
<p>(+594) 594 27 85 96 – <a href="mailto:patrimoineslm@gmail.com">patrimoineslm@gmail.com</a></p>
<hr>
<h6>L’Office de Tourisme</h6>
<p>L’Office de Tourisme accueille également des expositions éphémères d’artisans et commerçants sous son corridor ou galerie interne.</p>
<p>(+594) 594 34 23 98 –<a href="/equipements-culturels/info@hellosaintlau.fr" target="_blank" rel="noopener"> info@hellosaintlau.fr</a></p>
<p><a class="btn_style_1" href="/annoncez-votre-evenement" target="_blank" rel="noopener">faire la demande par mail <i class="fa fa-chevron-right "></i></a></p>
<hr>
<h6>Les conférences du jeudi</h6>
<p>Le 3ème jeudi de chaque mois, le Centre d’Interprétation d’Architecture et du Patrimoine accueille une conférence sur sa terrasse à 18h00. Différents thèmes sont abordés. <strong>Dates susceptibles de changer en raison de la crise sanitaire.</strong></p>
<p><strong>Service Patrimoine -&nbsp;</strong></p>
<p>(+594) 594 27 85 96 – <a href="mailto:patrimoineslm@gmail.com">patrimoineslm@gmail.com</a></p>
</div>
</div></div></div><div id="pgc-w60cb3bc42aa1d-1-2" class="panel-grid-cell"><div id="panel-w60cb3bc42aa1d-1-2-0" class="so-panel widget widget_sow-editor panel-first-child panel-last-child" data-index="3"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	</div>
</div></div></div></div></div></div></div></div></div>