
						
					</div><!-- .site-header-inner -->					

						
			</div><!-- .polestar-container -->
		
		</header><div id="pg-617-0" class="panel-grid panel-has-style"><div data-one_page_color="#d71921" class="panel-row-style panel-row-style-for-617-0"><div id="pgc-617-0-0" class="panel-grid-cell"><div id="panel-617-0-0-0" class="so-panel widget widget_sow-editor panel-first-child panel-last-child" data-index="0"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<div class="slider-618 mwdc_slider owl-carousel mwdc_full_height owl-loaded owl-drag" data-navigation_arrows="0" data-auto_play="1" data-autoplay_timeout="7000" data-items="1"><div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1561px, 0px, 0px); transition: all 0s ease 0s; width: 3123px;"><div class="owl-item cloned" style="width: 510.453px; margin-right: 10px;"><div><img width="477" height="697" src="/ACTIVITÉS ET LOISIRS - Hello Saint Lau !_files/SPORTS-ET-LOISIRS_1.jpg" class="attachment-full size-full entered lazyloaded" alt="" data-lazy-srcset="https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_1.jpg 477w, https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_1-205x300.jpg 205w" data-lazy-sizes="(max-width: 477px) 100vw, 477px" data-lazy-src="https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_1.jpg" data-ll-status="loaded" sizes="(max-width: 477px) 100vw, 477px" srcset="https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_1.jpg 477w, https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_1-205x300.jpg 205w"><noscript><img width="477" height="697" src="https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_1.jpg" class="attachment-full size-full" alt="" srcset="https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_1.jpg 477w, https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_1-205x300.jpg 205w" sizes="(max-width: 477px) 100vw, 477px" /></noscript></div></div><div class="owl-item cloned" style="width: 510.453px; margin-right: 10px;"><div><img width="827" height="1207" src="/ACTIVITÉS ET LOISIRS - Hello Saint Lau !_files/sport-et-loisir_portrait-11-1.jpg" class="attachment-full size-full entered lazyloaded" alt="" data-lazy-srcset="https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1.jpg 827w, https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1-206x300.jpg 206w, https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1-768x1121.jpg 768w, https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1-702x1024.jpg 702w" data-lazy-sizes="(max-width: 827px) 100vw, 827px" data-lazy-src="https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1.jpg" data-ll-status="loaded" sizes="(max-width: 827px) 100vw, 827px" srcset="https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1.jpg 827w, https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1-206x300.jpg 206w, https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1-768x1121.jpg 768w, https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1-702x1024.jpg 702w"><noscript><img width="827" height="1207" src="https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1.jpg" class="attachment-full size-full" alt="" srcset="https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1.jpg 827w, https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1-206x300.jpg 206w, https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1-768x1121.jpg 768w, https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1-702x1024.jpg 702w" sizes="(max-width: 827px) 100vw, 827px" /></noscript></div></div><div class="owl-item" style="width: 510.453px; margin-right: 10px;"><div><img width="477" height="697" src="/ACTIVITÉS ET LOISIRS - Hello Saint Lau !_files/SPORTS-ET-LOISIRS_1.jpg" class="attachment-full size-full entered lazyloaded" alt="" data-lazy-srcset="https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_1.jpg 477w, https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_1-205x300.jpg 205w" data-lazy-sizes="(max-width: 477px) 100vw, 477px" data-lazy-src="https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_1.jpg" data-ll-status="loaded" sizes="(max-width: 477px) 100vw, 477px" srcset="https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_1.jpg 477w, https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_1-205x300.jpg 205w"><noscript><img width="477" height="697" src="https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_1.jpg" class="attachment-full size-full" alt="" srcset="https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_1.jpg 477w, https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_1-205x300.jpg 205w" sizes="(max-width: 477px) 100vw, 477px" /></noscript></div></div><div class="owl-item active" style="width: 510.453px; margin-right: 10px;"><div><img width="827" height="1207" src="/ACTIVITÉS ET LOISIRS - Hello Saint Lau !_files/sport-et-loisir_portrait-11-1.jpg" class="attachment-full size-full entered lazyloaded" alt="" data-lazy-srcset="https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1.jpg 827w, https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1-206x300.jpg 206w, https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1-768x1121.jpg 768w, https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1-702x1024.jpg 702w" data-lazy-sizes="(max-width: 827px) 100vw, 827px" data-lazy-src="https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1.jpg" data-ll-status="loaded" sizes="(max-width: 827px) 100vw, 827px" srcset="https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1.jpg 827w, https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1-206x300.jpg 206w, https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1-768x1121.jpg 768w, https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1-702x1024.jpg 702w"><noscript><img width="827" height="1207" src="https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1.jpg" class="attachment-full size-full" alt="" srcset="https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1.jpg 827w, https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1-206x300.jpg 206w, https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1-768x1121.jpg 768w, https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1-702x1024.jpg 702w" sizes="(max-width: 827px) 100vw, 827px" /></noscript></div></div><div class="owl-item cloned" style="width: 510.453px; margin-right: 10px;"><div><img width="477" height="697" src="/ACTIVITÉS ET LOISIRS - Hello Saint Lau !_files/SPORTS-ET-LOISIRS_1.jpg" class="attachment-full size-full entered lazyloaded" alt="" data-lazy-srcset="https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_1.jpg 477w, https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_1-205x300.jpg 205w" data-lazy-sizes="(max-width: 477px) 100vw, 477px" data-lazy-src="https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_1.jpg" data-ll-status="loaded" sizes="(max-width: 477px) 100vw, 477px" srcset="https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_1.jpg 477w, https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_1-205x300.jpg 205w"><noscript><img width="477" height="697" src="https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_1.jpg" class="attachment-full size-full" alt="" srcset="https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_1.jpg 477w, https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_1-205x300.jpg 205w" sizes="(max-width: 477px) 100vw, 477px" /></noscript></div></div><div class="owl-item cloned" style="width: 510.453px; margin-right: 10px;"><div><img width="827" height="1207" src="/ACTIVITÉS ET LOISIRS - Hello Saint Lau !_files/sport-et-loisir_portrait-11-1.jpg" class="attachment-full size-full entered lazyloaded" alt="" data-lazy-srcset="https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1.jpg 827w, https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1-206x300.jpg 206w, https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1-768x1121.jpg 768w, https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1-702x1024.jpg 702w" data-lazy-sizes="(max-width: 827px) 100vw, 827px" data-lazy-src="https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1.jpg" data-ll-status="loaded" sizes="(max-width: 827px) 100vw, 827px" srcset="https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1.jpg 827w, https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1-206x300.jpg 206w, https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1-768x1121.jpg 768w, https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1-702x1024.jpg 702w"><noscript><img width="827" height="1207" src="https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1.jpg" class="attachment-full size-full" alt="" srcset="https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1.jpg 827w, https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1-206x300.jpg 206w, https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1-768x1121.jpg 768w, https://hellosaintlau.fr/wp-content/uploads/2018/04/sport-et-loisir_portrait-11-1-702x1024.jpg 702w" sizes="(max-width: 827px) 100vw, 827px" /></noscript></div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><svg aria-hidden="true" data-prefix="far" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-left fa-w-8 fa-2x"><path fill="currentColor" d="M231.293 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L70.393 256 251.092 74.87c4.686-4.686 4.686-12.284 0-16.971L231.293 38.1c-4.686-4.686-12.284-4.686-16.971 0L4.908 247.515c-4.686 4.686-4.686 12.284 0 16.971L214.322 473.9c4.687 4.686 12.285 4.686 16.971-.001z" class=""></path></svg></button><button type="button" role="presentation" class="owl-next"><svg aria-hidden="true" data-prefix="far" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-right fa-w-8 fa-2x"><path fill="currentColor" d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z" class=""></path></svg></button></div><div class="owl-dots disabled"></div></div>
</div>
</div></div></div><div id="pgc-617-0-1" class="panel-grid-cell"><div id="panel-617-0-1-0" class="so-panel widget widget_sow-headline panel-first-child" data-index="1"><div class="panel-widget-style panel-widget-style-for-617-0-1-0"><div class="so-widget-sow-headline so-widget-sow-headline-default-c062ef5084d2-617"><div class="sow-headline-container ">
	<p class="sow-sub-headline">DÉCOUVRIR</p><h2 class="sow-headline">Activités  et Loisirs </h2></div></div></div></div><div id="panel-617-0-1-1" class="so-panel widget widget_sow-editor" data-index="2"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<p>Voici une sélection d'idées de sport et loisirs pour bouger à Saint-Laurent du Maroni : à pied ou en vélo, les pieds dans l'eau ou la tête dans les airs. Randonnées en forêt, pêche ou planche à voile sur le Maroni, survol de la ville en ULM, paint-ball… Découvrez notre sélection d’activités pour un séjour animé !</p>
</div>
</div></div><div id="panel-617-0-1-2" class="so-panel widget widget_siteorigin-panels-builder panel-last-child" data-index="3"><div class="scrollify_pagination_wrapper panel-widget-style panel-widget-style-for-617-0-1-2"><div id="pl-w5d3310520899e" class="panel-layout"><div id="pg-w5d3310520899e-0" class="panel-grid panel-has-style"><div class="mwdc_flex_columns panel-row-style panel-row-style-for-w5d3310520899e-0"><div id="pgc-w5d3310520899e-0-0" class="panel-grid-cell"><div id="panel-w5d3310520899e-0-0-0" class="so-panel widget widget_sow-image panel-first-child" data-index="0"><div class="float_left panel-widget-style panel-widget-style-for-w5d3310520899e-0-0-0"><div class="so-widget-sow-image so-widget-sow-image-default-6b88c04c1f9b">

<div class="sow-image-container">
			<a href="https://hellosaintlau.fr/sports-et-loisirs/#slide1">
			<img src="/ACTIVITÉS ET LOISIRS - Hello Saint Lau !_files/baignade-saint-laurent-du-maroni-guyane-française-1.jpg" width="400" height="257" data-lazy-srcset="https://hellosaintlau.fr/wp-content/uploads/2018/06/baignade-saint-laurent-du-maroni-guyane-française-1.jpg 400w, https://hellosaintlau.fr/wp-content/uploads/2018/06/baignade-saint-laurent-du-maroni-guyane-française-1-300x193.jpg 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" title="Baignades" alt="" class="so-widget-image entered lazyloaded" data-lazy-src="https://hellosaintlau.fr/wp-content/uploads/2018/06/baignade-saint-laurent-du-maroni-guyane-française-1.jpg" data-ll-status="loaded" sizes="(max-width: 400px) 100vw, 400px" srcset="https://hellosaintlau.fr/wp-content/uploads/2018/06/baignade-saint-laurent-du-maroni-guyane-française-1.jpg 400w, https://hellosaintlau.fr/wp-content/uploads/2018/06/baignade-saint-laurent-du-maroni-guyane-française-1-300x193.jpg 300w"><noscript><img src="https://hellosaintlau.fr/wp-content/uploads/2018/06/baignade-saint-laurent-du-maroni-guyane-française-1.jpg" width="400" height="257" srcset="https://hellosaintlau.fr/wp-content/uploads/2018/06/baignade-saint-laurent-du-maroni-guyane-française-1.jpg 400w, https://hellosaintlau.fr/wp-content/uploads/2018/06/baignade-saint-laurent-du-maroni-guyane-française-1-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" title="Baignades" alt="" 		class="so-widget-image"/></noscript>
	</a></div>

<h3 class="widget-title">Baignades</h3></div></div></div><div id="panel-w5d3310520899e-0-0-1" class="so-panel widget widget_sow-image panel-last-child" data-index="1"><div class="float_left panel-widget-style panel-widget-style-for-w5d3310520899e-0-0-1"><div class="so-widget-sow-image so-widget-sow-image-default-6b88c04c1f9b">

<div class="sow-image-container">
			<a href="https://hellosaintlau.fr/sports-et-loisirs/#slide3">
			<img src="/ACTIVITÉS ET LOISIRS - Hello Saint Lau !_files/4x4-saint-laurent-du-maroni-guyane-française.jpg" width="400" height="257" data-lazy-srcset="https://hellosaintlau.fr/wp-content/uploads/2018/06/4x4-saint-laurent-du-maroni-guyane-française.jpg 400w, https://hellosaintlau.fr/wp-content/uploads/2018/06/4x4-saint-laurent-du-maroni-guyane-française-300x193.jpg 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" title="Randonnées, treks, 4X4" alt="" class="so-widget-image entered lazyloaded" data-lazy-src="https://hellosaintlau.fr/wp-content/uploads/2018/06/4x4-saint-laurent-du-maroni-guyane-française.jpg" data-ll-status="loaded" sizes="(max-width: 400px) 100vw, 400px" srcset="https://hellosaintlau.fr/wp-content/uploads/2018/06/4x4-saint-laurent-du-maroni-guyane-française.jpg 400w, https://hellosaintlau.fr/wp-content/uploads/2018/06/4x4-saint-laurent-du-maroni-guyane-française-300x193.jpg 300w"><noscript><img src="https://hellosaintlau.fr/wp-content/uploads/2018/06/4x4-saint-laurent-du-maroni-guyane-française.jpg" width="400" height="257" srcset="https://hellosaintlau.fr/wp-content/uploads/2018/06/4x4-saint-laurent-du-maroni-guyane-française.jpg 400w, https://hellosaintlau.fr/wp-content/uploads/2018/06/4x4-saint-laurent-du-maroni-guyane-française-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" title="Randonnées, treks, 4X4" alt="" 		class="so-widget-image"/></noscript>
	</a></div>

<h3 class="widget-title">Randonnées, treks, 4X4</h3></div></div></div></div><div id="pgc-w5d3310520899e-0-1" class="panel-grid-cell"><div id="panel-w5d3310520899e-0-1-0" class="so-panel widget widget_sow-image panel-first-child" data-index="2"><div class="float_left panel-widget-style panel-widget-style-for-w5d3310520899e-0-1-0"><div class="so-widget-sow-image so-widget-sow-image-default-6b88c04c1f9b">

<div class="sow-image-container">
			<a href="https://hellosaintlau.fr/sports-et-loisirs/#slide2">
			<img src="/ACTIVITÉS ET LOISIRS - Hello Saint Lau !_files/peche-saint-laurent-du-maroni-guyane-française-1.jpg" width="400" height="257" data-lazy-srcset="https://hellosaintlau.fr/wp-content/uploads/2018/06/peche-saint-laurent-du-maroni-guyane-française-1.jpg 400w, https://hellosaintlau.fr/wp-content/uploads/2018/06/peche-saint-laurent-du-maroni-guyane-française-1-300x193.jpg 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" title="Nautisme et pêche" alt="" class="so-widget-image entered lazyloaded" data-lazy-src="https://hellosaintlau.fr/wp-content/uploads/2018/06/peche-saint-laurent-du-maroni-guyane-française-1.jpg" data-ll-status="loaded" sizes="(max-width: 400px) 100vw, 400px" srcset="https://hellosaintlau.fr/wp-content/uploads/2018/06/peche-saint-laurent-du-maroni-guyane-française-1.jpg 400w, https://hellosaintlau.fr/wp-content/uploads/2018/06/peche-saint-laurent-du-maroni-guyane-française-1-300x193.jpg 300w"><noscript><img src="https://hellosaintlau.fr/wp-content/uploads/2018/06/peche-saint-laurent-du-maroni-guyane-française-1.jpg" width="400" height="257" srcset="https://hellosaintlau.fr/wp-content/uploads/2018/06/peche-saint-laurent-du-maroni-guyane-française-1.jpg 400w, https://hellosaintlau.fr/wp-content/uploads/2018/06/peche-saint-laurent-du-maroni-guyane-française-1-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" title="Nautisme et pêche" alt="" 		class="so-widget-image"/></noscript>
	</a></div>

<h3 class="widget-title">Nautisme et pêche</h3></div></div></div><div id="panel-w5d3310520899e-0-1-1" class="so-panel widget widget_sow-image panel-last-child" data-index="3"><div class="float_left panel-widget-style panel-widget-style-for-w5d3310520899e-0-1-1"><div class="so-widget-sow-image so-widget-sow-image-default-6b88c04c1f9b">

<div class="sow-image-container">
			<a href="https://hellosaintlau.fr/sports-et-loisirs/#slide4">
			<img src="/ACTIVITÉS ET LOISIRS - Hello Saint Lau !_files/ulm-saint-laurent-du-maroni-guyane-française.jpg" width="400" height="257" data-lazy-srcset="https://hellosaintlau.fr/wp-content/uploads/2018/06/ulm-saint-laurent-du-maroni-guyane-française.jpg 400w, https://hellosaintlau.fr/wp-content/uploads/2018/06/ulm-saint-laurent-du-maroni-guyane-française-300x193.jpg 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" title="Dans les airs" alt="" class="so-widget-image entered lazyloaded" data-lazy-src="https://hellosaintlau.fr/wp-content/uploads/2018/06/ulm-saint-laurent-du-maroni-guyane-française.jpg" data-ll-status="loaded" sizes="(max-width: 400px) 100vw, 400px" srcset="https://hellosaintlau.fr/wp-content/uploads/2018/06/ulm-saint-laurent-du-maroni-guyane-française.jpg 400w, https://hellosaintlau.fr/wp-content/uploads/2018/06/ulm-saint-laurent-du-maroni-guyane-française-300x193.jpg 300w"><noscript><img src="https://hellosaintlau.fr/wp-content/uploads/2018/06/ulm-saint-laurent-du-maroni-guyane-française.jpg" width="400" height="257" srcset="https://hellosaintlau.fr/wp-content/uploads/2018/06/ulm-saint-laurent-du-maroni-guyane-française.jpg 400w, https://hellosaintlau.fr/wp-content/uploads/2018/06/ulm-saint-laurent-du-maroni-guyane-française-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" title="Dans les airs" alt="" 		class="so-widget-image"/></noscript>
	</a></div>

<h3 class="widget-title">Dans les airs</h3></div></div></div></div></div></div></div></div></div></div><div id="pgc-617-0-2" class="panel-grid-cell"><div id="panel-617-0-2-0" class="so-panel widget widget_sow-editor panel-first-child panel-last-child" data-index="4"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<div class="mwdc_sizer"></div>
</div>
</div></div></div></div></div></div><div class="one_page_selector overflow_slide" data-one_page_color="#00ae7d" data-section-name="slide1" style="height: 1289.92px;"><div id="pg-617-1" class="panel-grid panel-has-style"><div class="mwdc_half_height_rows panel-row-style panel-row-style-for-617-1" data-one_page_color="#00ae7d"><div id="pgc-617-1-0" class="panel-grid-cell"><div id="panel-617-1-0-0" class="so-panel widget widget_siteorigin-panels-builder panel-first-child panel-last-child" data-index="5"><div id="pl-w6177ebf78c7d0" class="panel-layout"><div id="pg-w6177ebf78c7d0-0" class="panel-grid panel-no-style"><div id="pgc-w6177ebf78c7d0-0-0" class="panel-grid-cell panel-grid-cell-mobile-last"><div id="panel-w6177ebf78c7d0-0-0-0" class="so-panel widget widget_sow-editor panel-first-child panel-last-child" data-index="0"><div class="half_height_slider panel-widget-style panel-widget-style-for-w6177ebf78c7d0-0-0-0"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<div id="post-body" class="metabox-holder columns-2">
<div id="postbox-container-2" class="postbox-container">
<div id="advanced-sortables" class="meta-box-sortables ui-sortable">
<div id="slider_shortcode" class="postbox ">
<div class="inside">
<div id="post-body" class="metabox-holder columns-2">
<div id="postbox-container-2" class="postbox-container">
<div id="advanced-sortables" class="meta-box-sortables ui-sortable">
<div id="slider_shortcode" class="postbox ">
<div class="inside"><div class="slider-636 mwdc_slider owl-carousel mwdc_normal_height owl-loaded owl-drag" data-navigation_arrows="0" data-auto_play="" data-autoplay_timeout="5000" data-items="1"><div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s;"><div class="owl-item"><div><img width="4488" height="1283" src="/ACTIVITÉS ET LOISIRS - Hello Saint Lau !_files/baignade-saint-laurent-du-maroni.jpg" class="attachment-full size-full entered lazyloaded" alt="" data-lazy-srcset="https://hellosaintlau.fr/wp-content/uploads/2018/04/baignade-saint-laurent-du-maroni.jpg 4488w, https://hellosaintlau.fr/wp-content/uploads/2018/04/baignade-saint-laurent-du-maroni-300x86.jpg 300w, https://hellosaintlau.fr/wp-content/uploads/2018/04/baignade-saint-laurent-du-maroni-768x220.jpg 768w, https://hellosaintlau.fr/wp-content/uploads/2018/04/baignade-saint-laurent-du-maroni-1024x293.jpg 1024w" data-lazy-sizes="(max-width: 4488px) 100vw, 4488px" data-lazy-src="https://hellosaintlau.fr/wp-content/uploads/2018/04/baignade-saint-laurent-du-maroni.jpg" data-ll-status="loaded" sizes="(max-width: 4488px) 100vw, 4488px" srcset="https://hellosaintlau.fr/wp-content/uploads/2018/04/baignade-saint-laurent-du-maroni.jpg 4488w, https://hellosaintlau.fr/wp-content/uploads/2018/04/baignade-saint-laurent-du-maroni-300x86.jpg 300w, https://hellosaintlau.fr/wp-content/uploads/2018/04/baignade-saint-laurent-du-maroni-768x220.jpg 768w, https://hellosaintlau.fr/wp-content/uploads/2018/04/baignade-saint-laurent-du-maroni-1024x293.jpg 1024w"><noscript><img width="4488" height="1283" src="https://hellosaintlau.fr/wp-content/uploads/2018/04/baignade-saint-laurent-du-maroni.jpg" class="attachment-full size-full" alt="" srcset="https://hellosaintlau.fr/wp-content/uploads/2018/04/baignade-saint-laurent-du-maroni.jpg 4488w, https://hellosaintlau.fr/wp-content/uploads/2018/04/baignade-saint-laurent-du-maroni-300x86.jpg 300w, https://hellosaintlau.fr/wp-content/uploads/2018/04/baignade-saint-laurent-du-maroni-768x220.jpg 768w, https://hellosaintlau.fr/wp-content/uploads/2018/04/baignade-saint-laurent-du-maroni-1024x293.jpg 1024w" sizes="(max-width: 4488px) 100vw, 4488px" /></noscript></div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><svg aria-hidden="true" data-prefix="far" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-left fa-w-8 fa-2x"><path fill="currentColor" d="M231.293 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L70.393 256 251.092 74.87c4.686-4.686 4.686-12.284 0-16.971L231.293 38.1c-4.686-4.686-12.284-4.686-16.971 0L4.908 247.515c-4.686 4.686-4.686 12.284 0 16.971L214.322 473.9c4.687 4.686 12.285 4.686 16.971-.001z" class=""></path></svg></button><button type="button" role="presentation" class="owl-next"><svg aria-hidden="true" data-prefix="far" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-right fa-w-8 fa-2x"><path fill="currentColor" d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z" class=""></path></svg></button></div><div class="owl-dots disabled"></div></div></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div></div></div></div><div id="pgc-w6177ebf78c7d0-0-1" class="panel-grid-cell panel-grid-cell-empty"></div></div><div id="pg-w6177ebf78c7d0-1" class="panel-grid panel-no-style"><div id="pgc-w6177ebf78c7d0-1-0" class="panel-grid-cell panel-grid-cell-empty"></div><div id="pgc-w6177ebf78c7d0-1-1" class="panel-grid-cell"><div id="panel-w6177ebf78c7d0-1-1-0" class="so-panel widget widget_sow-headline panel-first-child" data-index="1"><div class="so-widget-sow-headline so-widget-sow-headline-default-74218792fb57"><div class="sow-headline-container ">
	<h2 class="sow-headline">Baignade</h2></div></div></div><div id="panel-w6177ebf78c7d0-1-1-1" class="so-panel widget widget_sow-editor panel-last-child" data-index="2"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<p>Les lieux de baignade à Saint-Laurent du Maroni sont multiples que vous souhaitiez pratiquer la natation ou barboter en piscine, mais aussi vous rafraîchir dans une crique alentour de la ville.</p>
<p>Notre équipe vous orientera vers l’un de ces sites où détente, pique-nique et baignade sont au programme.</p>
<hr>
<h6>Piscine Municipale</h6>
<p>Ouvert au public (horaires variables en raison de la crise sanitaire)</p>
<p>Adresse&nbsp;: BOULEVARD MALOUET 97320 Saint-Laurent Du Maroni</p>
<p>Tél&nbsp;: (+594) 594 34 22 21</p>
<h6>Crique Tatou</h6>
<p>Cette crique se situe en bordure de la piste Paul Isnard (15km de piste pour arriver à la crique). Elle est aménagée par 3 carbets&nbsp; pique-nique. Parfait lieu de détente et de baignade au cœur de la forêt.</p>
<h6>Crique Cascades et Crique Crevettes</h6>
<p><span class="JsGRdQ">La crique Cascades se situe</span><span class="JsGRdQ"> à une vingtaine de kilomètres de Saint-Laurent du Maroni. 15km après l'intersection d'Apatou, la crique se trouvera sur la gauche. Inratable en raison des nombreux carbets aménagés, c'est le lieux idéal pour la détente, pique-nique et baignade en famille. 100 m en amont la crique Crevettes se trouve dans un layon de forêt.&nbsp;</span></p>
<h6>Crique Rouge</h6>
<p>Situé sur la route de Mana PK8.5, elle se trouve&nbsp; à proximité du gîte nature crique rouge et de l'ADNG. Que vous dormiez ou non au gîte, diverses activités s'offrent à vous, comme le kayak, le paddle ou encore la pêche. Contactez le gîte nature au (+594) 694 94 11 10 ou à gitecriquerouge@gmail.com pour plus d'informations.</p>
<h6>Île aux Lépreux</h6>
<p>A 5 min de pirogue depuis Saint-Laurent, sur cette île étaient isolés autrefois les bagnards atteints de la lèpre. Aujourd’hui, ce site est idéal pour pique-niquer sous un carbet et passer une journée de farniente.</p>
<h6>Chutes Voltaire</h6>
<p>Avec un dénivelé de 35 mètres sur une distance de 200 mètres, les Chutes Voltaire sont parmi les plus belles cascades de Guyane. 4x4 fortement recommandé pour s’y rendre! <span class="JsGRdQ">Depuis 2019, un <strong><a href="https://hellosaintlau.fr/wp-content/uploads/2021/09/arrt-municipal-fermeture-c-voltaire.pdf" target="_blank" rel="noopener">arrêté municipal</a> </strong>interdit l'accès au site du public en raison de l'état du sentier. Mais des prestataires comme Nature de Guyane propose des sorties aux Chutes Voltaire en empruntant leur propre sentier. </span></p>
</div>
</div></div></div><div id="pgc-w6177ebf78c7d0-1-2" class="panel-grid-cell"><div id="panel-w6177ebf78c7d0-1-2-0" class="so-panel widget widget_sow-editor panel-first-child panel-last-child" data-index="3"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	</div>
</div></div></div></div></div></div></div></div></div></div><div class="one_page_selector overflow_slide" data-one_page_color="#069fdb" data-section-name="slide2" style="height: 1302.23px;"><div id="pg-617-2" class="panel-grid panel-has-style"><div class="mwdc_half_height_rows panel-row-style panel-row-style-for-617-2" data-one_page_color="#069fdb"><div id="pgc-617-2-0" class="panel-grid-cell"><div id="panel-617-2-0-0" class="so-panel widget widget_siteorigin-panels-builder panel-first-child panel-last-child" data-index="6"><div id="pl-w614b243d8e3fd" class="panel-layout"><div id="pg-w614b243d8e3fd-0" class="panel-grid panel-no-style"><div id="pgc-w614b243d8e3fd-0-0" class="panel-grid-cell panel-grid-cell-mobile-last"><div id="panel-w614b243d8e3fd-0-0-0" class="so-panel widget widget_sow-editor panel-first-child panel-last-child" data-index="0"><div class="half_height_slider panel-widget-style panel-widget-style-for-w614b243d8e3fd-0-0-0"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<div id="post-body" class="metabox-holder columns-2">
<div id="postbox-container-2" class="postbox-container">
<div id="advanced-sortables" class="meta-box-sortables ui-sortable">
<div id="slider_shortcode" class="postbox ">
<div class="inside">
<div id="post-body" class="metabox-holder columns-2">
<div id="postbox-container-2" class="postbox-container">
<div id="advanced-sortables" class="meta-box-sortables ui-sortable">
<div id="slider_shortcode" class="postbox ">
<div class="inside">
<div id="post-body" class="metabox-holder columns-2">
<div id="postbox-container-2" class="postbox-container">
<div id="advanced-sortables" class="meta-box-sortables ui-sortable">
<div id="slider_shortcode" class="postbox ">
<div class="inside"><div class="slider-642 mwdc_slider owl-carousel mwdc_normal_height owl-loaded owl-drag" data-navigation_arrows="0" data-auto_play="" data-autoplay_timeout="5000" data-items="1"><div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s;"><div class="owl-item"><div><img width="4488" height="1283" src="data:image/svg+xml,%3Csvg%20xmlns=&#39;http://www.w3.org/2000/svg&#39;%20viewBox=&#39;0%200%204488%201283&#39;%3E%3C/svg%3E" class="attachment-full size-full" alt="" data-lazy-srcset="https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_voile_saint-maurent-du-maroni.jpg 4488w, https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_voile_saint-maurent-du-maroni-300x86.jpg 300w, https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_voile_saint-maurent-du-maroni-768x220.jpg 768w, https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_voile_saint-maurent-du-maroni-1024x293.jpg 1024w" data-lazy-sizes="(max-width: 4488px) 100vw, 4488px" data-lazy-src="https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_voile_saint-maurent-du-maroni.jpg"><noscript><img width="4488" height="1283" src="https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_voile_saint-maurent-du-maroni.jpg" class="attachment-full size-full" alt="" srcset="https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_voile_saint-maurent-du-maroni.jpg 4488w, https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_voile_saint-maurent-du-maroni-300x86.jpg 300w, https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_voile_saint-maurent-du-maroni-768x220.jpg 768w, https://hellosaintlau.fr/wp-content/uploads/2018/04/SPORTS-ET-LOISIRS_voile_saint-maurent-du-maroni-1024x293.jpg 1024w" sizes="(max-width: 4488px) 100vw, 4488px" /></noscript></div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><svg aria-hidden="true" data-prefix="far" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-left fa-w-8 fa-2x"><path fill="currentColor" d="M231.293 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L70.393 256 251.092 74.87c4.686-4.686 4.686-12.284 0-16.971L231.293 38.1c-4.686-4.686-12.284-4.686-16.971 0L4.908 247.515c-4.686 4.686-4.686 12.284 0 16.971L214.322 473.9c4.687 4.686 12.285 4.686 16.971-.001z" class=""></path></svg></button><button type="button" role="presentation" class="owl-next"><svg aria-hidden="true" data-prefix="far" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-right fa-w-8 fa-2x"><path fill="currentColor" d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z" class=""></path></svg></button></div><div class="owl-dots disabled"></div></div></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div></div></div></div><div id="pgc-w614b243d8e3fd-0-1" class="panel-grid-cell panel-grid-cell-empty"></div></div><div id="pg-w614b243d8e3fd-1" class="panel-grid panel-no-style"><div id="pgc-w614b243d8e3fd-1-0" class="panel-grid-cell panel-grid-cell-empty"></div><div id="pgc-w614b243d8e3fd-1-1" class="panel-grid-cell"><div id="panel-w614b243d8e3fd-1-1-0" class="so-panel widget widget_sow-headline panel-first-child" data-index="1"><div class="so-widget-sow-headline so-widget-sow-headline-default-74218792fb57"><div class="sow-headline-container ">
	<h2 class="sow-headline">Nautisme et pêche</h2></div></div></div><div id="panel-w614b243d8e3fd-1-1-1" class="so-panel widget widget_sow-editor panel-last-child" data-index="2"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<p>Le Maroni n’est pas un long fleuve tranquille…Les vents et courants qui bercent le Maroni permettent la pratique de différents activités et loisirs nautiques&nbsp;: canoë-kayak, planche à voile, nikan, pêche, balade en voilier sur le Maroni, etc.</p>
<p>Vous ne manquerez pas de vous ennuyer&nbsp;!</p>
<hr>
<h6><strong>Kayak</strong></h6>
<p><strong>CCKM - Club de Canoë et de Kayak du Maroni</strong><br>
Cours en semaine, circuits guidés et location.</p>
<p>(+594) 694 38 98 37 / contact@kayakmaroni.fr</p>
<hr>
<h6><strong>Voile</strong></h6>
<p><strong>Ecole de Voile Vent d’Ouest</strong><br>
Club Labélisé par la Fédération Française de Voile</p>
<p>Cours de voile tous niveaux, initiation et perfectionnement encadrés par des moniteurs diplômés d’état.</p>
<p><em>Stages en période de vacances scolaire.</em></p>
<p>(+594) 594 27 89 57 / (+594) 694 29 29 36 / <a href="http://ventdouestslm.canalblog.com/" target="_blank" rel="noopener">http://ventdouestslm.canalblog.com</a></p>
<hr>
<h6><strong>Plaisance</strong></h6>
<p><strong>Association «&nbsp;Les Amis du Rally Nereides&nbsp;»</strong><br>
Accueil et services aux plaisanciers.</p>
<p>(+594) 594 27 84 30 / (+594) 694 94 61 57 / <a href="http://www.marinaslm.com/" target="_blank" rel="noopener">www.marinaslm.com</a></p>
<hr>
<h6><strong>Pêche</strong></h6>
<p>Amateur de pêche, novice ou simple curieux venez vous initier à cette pratique.</p>
<p>Location du matériel auprès de l’Office de Tourisme de Saint Laurent du Maroni.</p>
<p><strong><em>Horaires et tarifs</em></strong></p>
<p>La location est possible lors des horaires d’ouverture de l’office de tourisme.</p>
<p>Tarifs&nbsp;: 8€ la journée</p>
<p>Une caution vous sera demandée lors du règlement de votre location sur place.</p>
<p><a href="https://hellosaintlau.fr/wp-content/uploads/2021/09/Contrat-de-location-canne-a-peche.pdf">Télécharger le contrat de location</a></p>
</div>
</div></div></div><div id="pgc-w614b243d8e3fd-1-2" class="panel-grid-cell"><div id="panel-w614b243d8e3fd-1-2-0" class="so-panel widget widget_sow-editor panel-first-child panel-last-child" data-index="3"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	</div>
</div></div></div></div></div></div></div></div></div></div><div class="one_page_selector overflow_slide" data-one_page_color="#ffcb06" data-section-name="slide3" style="height: 1306.78px;"><div id="pg-617-3" class="panel-grid panel-has-style"><div class="mwdc_half_height_rows panel-row-style panel-row-style-for-617-3" data-one_page_color="#ffcb06"><div id="pgc-617-3-0" class="panel-grid-cell"><div id="panel-617-3-0-0" class="so-panel widget widget_siteorigin-panels-builder panel-first-child panel-last-child" data-index="7"><div id="pl-w616459aeefd71" class="panel-layout"><div id="pg-w616459aeefd71-0" class="panel-grid panel-no-style"><div id="pgc-w616459aeefd71-0-0" class="panel-grid-cell panel-grid-cell-mobile-last"><div id="panel-w616459aeefd71-0-0-0" class="so-panel widget widget_sow-editor panel-first-child panel-last-child" data-index="0"><div class="half_height_slider panel-widget-style panel-widget-style-for-w616459aeefd71-0-0-0"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<div id="post-body" class="metabox-holder columns-2">
<div id="postbox-container-2" class="postbox-container">
<div id="advanced-sortables" class="meta-box-sortables ui-sortable">
<div id="slider_shortcode" class="postbox ">
<div class="inside">
<div id="post-body" class="metabox-holder columns-2">
<div id="postbox-container-2" class="postbox-container">
<div id="advanced-sortables" class="meta-box-sortables ui-sortable">
<div id="slider_shortcode" class="postbox ">
<div class="inside">
<div id="post-body" class="metabox-holder columns-2">
<div id="postbox-container-2" class="postbox-container">
<div id="advanced-sortables" class="meta-box-sortables ui-sortable">
<div id="slider_shortcode" class="postbox ">
<div class="inside">
<div id="post-body" class="metabox-holder columns-2">
<div id="postbox-container-2" class="postbox-container">
<div id="advanced-sortables" class="meta-box-sortables ui-sortable">
<div id="slider_shortcode" class="postbox ">
<div class="inside"><div class="slider-651 mwdc_slider owl-carousel mwdc_normal_height owl-loaded owl-drag" data-navigation_arrows="0" data-auto_play="" data-autoplay_timeout="5000" data-items="1"><div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s;"><div class="owl-item"><div><img width="4488" height="1283" src="data:image/svg+xml,%3Csvg%20xmlns=&#39;http://www.w3.org/2000/svg&#39;%20viewBox=&#39;0%200%204488%201283&#39;%3E%3C/svg%3E" class="attachment-full size-full" alt="" data-lazy-srcset="https://hellosaintlau.fr/wp-content/uploads/2018/04/4x4-saint-laurent-du-maroni-guyane-française.jpg 4488w, https://hellosaintlau.fr/wp-content/uploads/2018/04/4x4-saint-laurent-du-maroni-guyane-française-300x86.jpg 300w, https://hellosaintlau.fr/wp-content/uploads/2018/04/4x4-saint-laurent-du-maroni-guyane-française-768x220.jpg 768w, https://hellosaintlau.fr/wp-content/uploads/2018/04/4x4-saint-laurent-du-maroni-guyane-française-1024x293.jpg 1024w" data-lazy-sizes="(max-width: 4488px) 100vw, 4488px" data-lazy-src="https://hellosaintlau.fr/wp-content/uploads/2018/04/4x4-saint-laurent-du-maroni-guyane-française.jpg"><noscript><img width="4488" height="1283" src="https://hellosaintlau.fr/wp-content/uploads/2018/04/4x4-saint-laurent-du-maroni-guyane-française.jpg" class="attachment-full size-full" alt="" srcset="https://hellosaintlau.fr/wp-content/uploads/2018/04/4x4-saint-laurent-du-maroni-guyane-française.jpg 4488w, https://hellosaintlau.fr/wp-content/uploads/2018/04/4x4-saint-laurent-du-maroni-guyane-française-300x86.jpg 300w, https://hellosaintlau.fr/wp-content/uploads/2018/04/4x4-saint-laurent-du-maroni-guyane-française-768x220.jpg 768w, https://hellosaintlau.fr/wp-content/uploads/2018/04/4x4-saint-laurent-du-maroni-guyane-française-1024x293.jpg 1024w" sizes="(max-width: 4488px) 100vw, 4488px" /></noscript></div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><svg aria-hidden="true" data-prefix="far" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-left fa-w-8 fa-2x"><path fill="currentColor" d="M231.293 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L70.393 256 251.092 74.87c4.686-4.686 4.686-12.284 0-16.971L231.293 38.1c-4.686-4.686-12.284-4.686-16.971 0L4.908 247.515c-4.686 4.686-4.686 12.284 0 16.971L214.322 473.9c4.687 4.686 12.285 4.686 16.971-.001z" class=""></path></svg></button><button type="button" role="presentation" class="owl-next"><svg aria-hidden="true" data-prefix="far" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-right fa-w-8 fa-2x"><path fill="currentColor" d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z" class=""></path></svg></button></div><div class="owl-dots disabled"></div></div></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div></div></div></div><div id="pgc-w616459aeefd71-0-1" class="panel-grid-cell panel-grid-cell-empty"></div></div><div id="pg-w616459aeefd71-1" class="panel-grid panel-no-style"><div id="pgc-w616459aeefd71-1-0" class="panel-grid-cell panel-grid-cell-empty"></div><div id="pgc-w616459aeefd71-1-1" class="panel-grid-cell"><div id="panel-w616459aeefd71-1-1-0" class="so-panel widget widget_sow-headline panel-first-child" data-index="1"><div class="so-widget-sow-headline so-widget-sow-headline-default-74218792fb57"><div class="sow-headline-container ">
	<h2 class="sow-headline">Randonnées, treks, 4X4</h2></div></div></div><div id="panel-w616459aeefd71-1-1-1" class="so-panel widget widget_sow-editor panel-last-child" data-index="2"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<p>Visitez Saint-Laurent du Maroni et ses environs autrement, confortablement installé dans un véhicule tout terrain ou en mode aventurier accompagné d’un guide expérimenté dans les profondeurs de la végétation tropicale. Des petits coins de paradis vous attendent dans ce que l’on surnommait autrefois l’enfer vert. La forêt amazonienne vous plonge dans un océan de verdure et de sérénité. Tendez l’oreille et laissez-vous enchanter par les bruits de la forêt&nbsp;!</p>
<p>&nbsp;</p>
<h6>Treks et randonnées</h6>
<p><strong>&nbsp;</strong><strong>Nature de Guyane </strong></p>
<p>Découverte de la forêt amazonienne dans l’Ouest Guyanais.</p>
<p>Randonnées, trek, expédition…partez avec un guide expérimenté en toute confiance.</p>
<p><a href="http://www.naturedeguyane.com/" target="_blank" rel="noopener">www.naturedeguyane.com</a> / (+594) 594 27 97 16 ou (+594) 694 90 98 73</p>
<hr>
<p><strong>Office National des Forêts (ONF)</strong></p>
<p>Le premier dimanche de chaque mois, un circuit vous est proposé par un guide expérimenté de l’ONF. Circuit organisé sur des parcelles d’observation en forêt.</p>
<p>Infos et réservation&nbsp;: (+594) 594 34 10 56 / (+594) 694 20 77 05</p>
<hr>
<p><strong>Association pour la Découverte de la Nature en Guyane (ADNG) </strong></p>
<p>Au cœur de 45 ha de forêt préservée, l’ADNG vous accueille et propose des activités et sorties dédiée à l’éducation et à l’environnement. Route de Mana CD9 / PK 8,5.</p>
<p>Infos et réservation : adng.guyane@gmail.com/ (594) 694 91.14.34</p>
<hr>
<h6>Balade en autonomie</h6>
<ul style="list-style-type: square;">
<li>Forêt des Malgaches (à l’entrée de Saint Laurent du Maroni, face au lycée Raymond Tarcy)</li>
<li>Forêt de Saint Jean (carrefour Apatou)</li>
</ul>
<p class="_04xlpA direction-ltr align-justify para-style-body"><span class="JsGRdQ">Conseils pratiques:</span></p>
<ul>
<li class="_04xlpA direction-ltr align-justify para-style-body"><span class="JsGRdQ">Bien se renseigner avant de partir en forêt</span></li>
<li class="_04xlpA direction-ltr align-justify para-style-body"><span class="JsGRdQ">Ne pas se rendre en forêt seul</span></li>
<li class="_04xlpA direction-ltr align-justify para-style-body"><span class="JsGRdQ">Porter des chaussures et des vêtements adaptés</span></li>
</ul>
<p>&nbsp;</p>
</div>
</div></div></div><div id="pgc-w616459aeefd71-1-2" class="panel-grid-cell"><div id="panel-w616459aeefd71-1-2-0" class="so-panel widget widget_sow-editor panel-first-child panel-last-child" data-index="3"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	</div>
</div></div></div></div></div></div></div></div></div></div><div class="one_page_selector " data-one_page_color="#d71921" data-section-name="slide4" style="height: 852px;"><div id="pg-617-4" class="panel-grid panel-has-style"><div class="mwdc_half_height_rows panel-row-style panel-row-style-for-617-4" data-one_page_color="#d71921"><div id="pgc-617-4-0" class="panel-grid-cell"><div id="panel-617-4-0-0" class="so-panel widget widget_siteorigin-panels-builder panel-first-child panel-last-child" data-index="8"><div id="pl-w60cb389f9eea8" class="panel-layout"><div id="pg-w60cb389f9eea8-0" class="panel-grid panel-no-style"><div id="pgc-w60cb389f9eea8-0-0" class="panel-grid-cell panel-grid-cell-mobile-last"><div id="panel-w60cb389f9eea8-0-0-0" class="so-panel widget widget_sow-editor panel-first-child panel-last-child" data-index="0"><div class="half_height_slider panel-widget-style panel-widget-style-for-w60cb389f9eea8-0-0-0"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<div id="post-body" class="metabox-holder columns-2">
<div id="postbox-container-2" class="postbox-container">
<div id="advanced-sortables" class="meta-box-sortables ui-sortable">
<div id="slider_shortcode" class="postbox ">
<div class="inside">
<div id="post-body" class="metabox-holder columns-2">
<div id="postbox-container-2" class="postbox-container">
<div id="advanced-sortables" class="meta-box-sortables ui-sortable">
<div id="slider_shortcode" class="postbox ">
<div class="inside">
<div id="post-body" class="metabox-holder columns-2">
<div id="postbox-container-2" class="postbox-container">
<div id="advanced-sortables" class="meta-box-sortables ui-sortable">
<div id="slider_shortcode" class="postbox ">
<div class="inside">
<div id="post-body" class="metabox-holder columns-2">
<div id="postbox-container-2" class="postbox-container">
<div id="advanced-sortables" class="meta-box-sortables ui-sortable">
<div id="slider_shortcode" class="postbox ">
<div class="inside">
<div id="post-body" class="metabox-holder columns-2">
<div id="postbox-container-2" class="postbox-container">
<div id="advanced-sortables" class="meta-box-sortables ui-sortable">
<div id="slider_shortcode" class="postbox ">
<div class="inside"><div class="slider-659 mwdc_slider owl-carousel mwdc_normal_height owl-loaded owl-drag" data-navigation_arrows="0" data-auto_play="" data-autoplay_timeout="5000" data-items="1"><div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s;"><div class="owl-item"><div><img width="4488" height="1283" src="data:image/svg+xml,%3Csvg%20xmlns=&#39;http://www.w3.org/2000/svg&#39;%20viewBox=&#39;0%200%204488%201283&#39;%3E%3C/svg%3E" class="attachment-full size-full" alt="" data-lazy-srcset="https://hellosaintlau.fr/wp-content/uploads/2018/04/Dans-le-airs-saint-laurent-du-maroni-guyane-française.jpg 4488w, https://hellosaintlau.fr/wp-content/uploads/2018/04/Dans-le-airs-saint-laurent-du-maroni-guyane-française-300x86.jpg 300w, https://hellosaintlau.fr/wp-content/uploads/2018/04/Dans-le-airs-saint-laurent-du-maroni-guyane-française-768x220.jpg 768w, https://hellosaintlau.fr/wp-content/uploads/2018/04/Dans-le-airs-saint-laurent-du-maroni-guyane-française-1024x293.jpg 1024w" data-lazy-sizes="(max-width: 4488px) 100vw, 4488px" data-lazy-src="https://hellosaintlau.fr/wp-content/uploads/2018/04/Dans-le-airs-saint-laurent-du-maroni-guyane-française.jpg"><noscript><img width="4488" height="1283" src="https://hellosaintlau.fr/wp-content/uploads/2018/04/Dans-le-airs-saint-laurent-du-maroni-guyane-française.jpg" class="attachment-full size-full" alt="" srcset="https://hellosaintlau.fr/wp-content/uploads/2018/04/Dans-le-airs-saint-laurent-du-maroni-guyane-française.jpg 4488w, https://hellosaintlau.fr/wp-content/uploads/2018/04/Dans-le-airs-saint-laurent-du-maroni-guyane-française-300x86.jpg 300w, https://hellosaintlau.fr/wp-content/uploads/2018/04/Dans-le-airs-saint-laurent-du-maroni-guyane-française-768x220.jpg 768w, https://hellosaintlau.fr/wp-content/uploads/2018/04/Dans-le-airs-saint-laurent-du-maroni-guyane-française-1024x293.jpg 1024w" sizes="(max-width: 4488px) 100vw, 4488px" /></noscript></div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><svg aria-hidden="true" data-prefix="far" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-left fa-w-8 fa-2x"><path fill="currentColor" d="M231.293 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L70.393 256 251.092 74.87c4.686-4.686 4.686-12.284 0-16.971L231.293 38.1c-4.686-4.686-12.284-4.686-16.971 0L4.908 247.515c-4.686 4.686-4.686 12.284 0 16.971L214.322 473.9c4.687 4.686 12.285 4.686 16.971-.001z" class=""></path></svg></button><button type="button" role="presentation" class="owl-next"><svg aria-hidden="true" data-prefix="far" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-right fa-w-8 fa-2x"><path fill="currentColor" d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z" class=""></path></svg></button></div><div class="owl-dots disabled"></div></div></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div></div></div></div><div id="pgc-w60cb389f9eea8-0-1" class="panel-grid-cell panel-grid-cell-empty"></div></div><div id="pg-w60cb389f9eea8-1" class="panel-grid panel-no-style"><div id="pgc-w60cb389f9eea8-1-0" class="panel-grid-cell panel-grid-cell-empty"></div><div id="pgc-w60cb389f9eea8-1-1" class="panel-grid-cell"><div id="panel-w60cb389f9eea8-1-1-0" class="so-panel widget widget_sow-headline panel-first-child" data-index="1"><div class="so-widget-sow-headline so-widget-sow-headline-default-74218792fb57"><div class="sow-headline-container ">
	<h2 class="sow-headline">Dans les airs <small>( soumis au condition climatique )</small></h2></div></div></div><div id="panel-w60cb389f9eea8-1-1-1" class="so-panel widget widget_sow-editor panel-last-child" data-index="2"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<p>Prenez de la hauteur… Vue du ciel, Saint-Laurent du Maroni vous offrira un visage différent et vous dévoilera sa grande étendue de 4830 km<sup>2</sup>. Vivez des sensations fortes en ULM ou en Paramoteur.</p>
<h6>ULM</h6>
<p><strong>ULM Hydro &amp; Giro</strong></p>
<p>(+594) 694 26 77 64 / <a href="mailto:mglas@orange.fr">mglas@orange.fr</a></p>
<p>&nbsp;</p>
</div>
</div></div></div><div id="pgc-w60cb389f9eea8-1-2" class="panel-grid-cell"><div id="panel-w60cb389f9eea8-1-2-0" class="so-panel widget widget_sow-editor panel-first-child panel-last-child" data-index="3"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	</div>
</div></div></div></div></div></div></div></div></div>